﻿@model IEnumerable<netcore.Models.Invent.Receiving>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-truck";
    ViewData["ListTitle"] = "Receiving List";
    ViewData["IndexInfo"] = "Receiving is a process of product receive from your vendor. After inspecting and confirm all goods have been received, warehouse team then will issue internal document called Goods Service Receive Note (GSRN) as a proof of products receive.";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.receivingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchaseOrder.deliveryInwardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.receivingDate)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.vehicleNumber)
            </th>

            <th class="hidden">
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchaseOrder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vendor)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.warehouse)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Details" asp-route-id="@item.receivingId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.receivingId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.receivingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchaseOrder.deliveryInwardNumber)
            </td>
            <td>
                @item.receivingDate.ToString("dd-MMM-yyyy")
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.vehicleNumber)
            </td>

            <td class="hidden">
                @Html.DisplayFor(modelItem => item.branch.branchId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchaseOrder.purchaseOrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vendor.vendorName)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.warehouse.warehouseId)
            </td>

        </tr>
        }
    </tbody>
</table>
