﻿@model netcore.Models.Invent.BillOfLoading

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["EditInfo"] = " PO have three status: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products). Change status from [Draft] to [Open] to confirm the order. [Completed] status is auto set when PO used in Product Receive / Receiving.";
}

@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="billOfLoadingId" />
        <input type="hidden" asp-for="billOfLoadingNumber" />
        @*<input type="hidden" asp-for="purchaseOrderStatus" />*@

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="billOfLoadingNumber" class="control-label"></label>
                    <input asp-for="billOfLoadingNumber" class="form-control" disabled />
                    <span asp-validation-for="billOfLoadingNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="booking" class="control-label"></label>
                    <select asp-for="bookingId" class="form-control select2" asp-items="ViewBag.bookingId"></select>
                    <span asp-validation-for="bookingId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="branch" class="control-label"></label>
                    <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                    <span asp-validation-for="branchId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="shipper" class="control-label"></label>
                    <textarea asp-for="shipper" class="form-control" rows="5" placeholder="Shipper"></textarea>
                    <span asp-validation-for="shipper" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="brokerName" class="control-label"></label>
                            <textarea asp-for="brokerName" class="form-control" rows="1" placeholder="Broker Name"></textarea>
                            <span asp-validation-for="brokerName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="documentType" class="control-label"></label>
                                <select asp-for="documentType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.DocumentType>()"></select>
                                <span asp-validation-for="documentType" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>


        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="consignee" class="control-label"></label>
                    <textarea asp-for="consignee" class="form-control" rows="8" placeholder="Consignee"></textarea>
                    <span asp-validation-for="consignee" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label asp-for="destinationAgentReference" class="control-label"></label>
                            <textarea asp-for="destinationAgentReference" class="form-control" rows="1" placeholder="Destination Agent Reference"></textarea>
                            <span asp-validation-for="destinationAgentReference" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="form-group">
                            <label asp-for="placeOfReceipt" class="control-label"></label>
                            <textarea asp-for="placeOfReceipt" class="form-control" rows="1" placeholder="Place Of Receipt"></textarea>
                            <span asp-validation-for="placeOfReceipt" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="form-group">
                            <label asp-for="placeOfDelivery" class="control-label"></label>
                            <textarea asp-for="placeOfDelivery" class="form-control" rows="1" placeholder="Place Of Delivery"></textarea>
                            <span asp-validation-for="placeOfDelivery" class="text-danger"></span>
                        </div>
                    </div>

                </div>


            </div>
        </div>





        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="vesselName" class="control-label"></label>
                    <textarea asp-for="vesselName" class="form-control" rows="1" placeholder="Vessel Name"></textarea>
                    <span asp-validation-for="vesselName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="voyageNumber" class="control-label"></label>
                    <textarea asp-for="voyageNumber" class="form-control" rows="1" placeholder="Voyage Number"></textarea>
                    <span asp-validation-for="voyageNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="fromLocation" class="control-label"></label>
                    <select asp-for="fromlocationId" class="form-control select2" asp-items="ViewBag.fromlocationId"></select>
                    <span asp-validation-for="fromlocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="toLocation" class="control-label"></label>
                    <select asp-for="tolocationId" class="form-control select2" asp-items="ViewBag.tolocationId"></select>
                    <span asp-validation-for="tolocationId" class="text-danger"></span>
                </div>
            </div>
        </div>




        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="movementType" class="control-label"></label>
                        <select asp-for="movementType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.MovementType>()"></select>
                        <span asp-validation-for="movementType" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="totalNumberContainers" class="control-label"></label>
                    <textarea asp-for="totalNumberContainers" class="form-control" rows="1" placeholder="Total Number Of Containers"></textarea>
                    <span asp-validation-for="totalNumberContainers" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="totalNumberCargoes" class="control-label"></label>
                    <textarea asp-for="totalNumberCargoes" class="form-control" rows="1" placeholder="Total Number Of Cargoes"></textarea>
                    <span asp-validation-for="totalNumberCargoes" class="text-danger"></span>
                </div>
            </div>

        </div>



        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="shipperTaxId" class="control-label"></label>
                    <textarea asp-for="shipperTaxId" class="form-control" rows="1" placeholder="Shipper TAX Id"></textarea>
                    <span asp-validation-for="shipperTaxId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="consigneeTaxId" class="control-label"></label>
                    <textarea asp-for="consigneeTaxId" class="form-control" rows="1" placeholder="Consignee TAX Id"></textarea>
                    <span asp-validation-for="consigneeTaxId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="notifyTaxId" class="control-label"></label>
                    <textarea asp-for="notifyTaxId" class="form-control" rows="1" placeholder="Notify TAX Id"></textarea>
                    <span asp-validation-for="notifyTaxId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="notifyToparty" class="control-label"></label>
                    <textarea asp-for="notifyToparty" class="form-control" rows="1" placeholder="Notify To Party"></textarea>
                    <span asp-validation-for="notifyToparty" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">

                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="freightPayableAt" class="control-label"></label>
                                <select asp-for="freightPayableAt" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.FreightPayableAt>()"></select>
                                <span asp-validation-for="freightPayableAt" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">

                        <div class="form-group">
                            <div class="form-group">
                                <label asp-for="setCharges" class="control-label"></label>
                                <select asp-for="setCharges" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.SetCharges>()"></select>
                                <span asp-validation-for="setCharges" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                </div>


            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="invoiceReference" class="control-label"></label>
                    <textarea asp-for="invoiceReference" class="form-control" rows="5" placeholder="Invoice Reference"></textarea>
                    <span asp-validation-for="invoiceReference" class="text-danger"></span>
                </div>
            </div>
        </div>




        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="originHaulage" class="control-label"></label>
                        <select asp-for="originHaulage" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Charges>()"></select>
                        <span asp-validation-for="originHaulage" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="originPort" class="control-label"></label>
                        <select asp-for="originPort" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Charges>()"></select>
                        <span asp-validation-for="originPort" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="seaFreaightAdditionals" class="control-label"></label>
                        <select asp-for="seaFreaightAdditionals" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Charges>()"></select>
                        <span asp-validation-for="seaFreaightAdditionals" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="destinationHaulage" class="control-label"></label>
                        <select asp-for="destinationHaulage" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Charges>()"></select>
                        <span asp-validation-for="destinationHaulage" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="destinationPort" class="control-label"></label>
                        <select asp-for="destinationPort" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Charges>()"></select>
                        <span asp-validation-for="destinationPort" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="bLType" class="control-label"></label>
                        <select asp-for="bLType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.BLType>()"></select>
                        <span asp-validation-for="bLType" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="originalBl" class="control-label"></label>
                    <textarea asp-for="originalBl" class="form-control" rows="1" placeholder="Original BS/L"></textarea>
                    <span asp-validation-for="originalBl" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="coppies" class="control-label"></label>
                    <textarea asp-for="coppies" class="form-control" rows="1" placeholder="No. of Copies"></textarea>
                    <span asp-validation-for="coppies" class="text-danger"></span>
                </div>
            </div>

        </div>




        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="remark" class="control-label"></label>
                    <textarea asp-for="remark" class="form-control" rows="3" placeholder="Remark"></textarea>
                    <span asp-validation-for="remark" class="text-danger"></span>
                </div>
            </div>

        </div>

    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}



