﻿@model IEnumerable<netcore.Models.Invent.BillOfLoading>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-file";
    ViewData["ListTitle"] = "Bill Of Lading";
    //ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}


<table class="table table-hover table-striped" style="width:100%"  height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.booking.bookingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.billOfLoadingNumber)
            </th>

            <th>
                Shipper
            </th>

            <th>
                Consignee
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vesselName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalNumberContainers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.booking.salesPersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bLType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.booking.preparedBy)
            </th>
            <th>
                Booking Status
            </th>
            <th>
                BL Lines &nbsp;

                <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.billOfLoadingId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.billOfLoadingId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.billOfLoadingId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking.bookingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.billOfLoadingNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.shipper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.consignee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vesselName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalNumberContainers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking.salesPersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bLType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking.preparedBy)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.booking.status)
            </td>*@

            <td>
                @if (item.booking.status == netcore.Models.Invent.Status.DRAFT)
                {
                    <div style="color: orange">
                        <b>@Html.DisplayFor(modelItem => item.booking.status)</b>

                    </div>
                }
                else
                {
                    <div style="color: forestgreen">
                        <b>@Html.DisplayFor(modelItem => item.booking.status)</b>

                    </div>
                }

            </td>

            <td>

                @foreach (var billOfLoadingLine in item.billOfLoadingLine)
                {

                    <div style="font-size:10px; width: 100%" class="widget-content">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Cont. -</strong> @Html.DisplayFor(modelItem => billOfLoadingLine.containerNumber.containerCode)
                            </div>
                            <div class="col-md-6">
                                <strong>Cargo No. -</strong> @Html.DisplayFor(modelItem => billOfLoadingLine.cargoItemNo)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <strong>Packages QTY -</strong> @Html.DisplayFor(modelItem => billOfLoadingLine.noOfPackages)
                            </div>
                            <div class="col-md-6">
                                <strong>Seal 1 -</strong> @Html.DisplayFor(modelItem => billOfLoadingLine.sealno1)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <strong>Seal 2 -</strong> @Html.DisplayFor(modelItem => billOfLoadingLine.sealno2)
                            </div>
                            <div class="col-md-6">
                                <strong>Seal 3 -</strong> @Html.DisplayFor(modelItem => billOfLoadingLine.sealno3)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <strong>Gross Weight -</strong> @Html.DisplayFor(modelItem => billOfLoadingLine.grossCargoWeight)
                            </div>
                            <div class="col-md-6">
                                <strong>Net Weight -</strong> @Html.DisplayFor(modelItem => billOfLoadingLine.netCargoWeight)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Measurement -</strong> @Html.DisplayFor(modelItem => billOfLoadingLine.measurement)
                            </div>
                            <div class="col-md-6">
                                <strong>HS Code -</strong> @Html.DisplayFor(modelItem => billOfLoadingLine.hsCode)
                            </div>
                        </div>

                        <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                    </div>

                }

            </td>



        </tr>
        }
    </tbody>
</table>
