﻿@model netcore.Models.Invent.BillOfLoading
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    th {
        display: none;
        border: none;
    }

    tbody {
        border: none;
    }

    table {
        border: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    td {
        border: none;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: none !important;
        overflow: hidden;
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        border-top: none !important;
        overflow: hidden;
    }


    /* Container holding the image and the text */
    .container {
        position: relative;
        text-align: center;
        color: white;
    }

    /*Left Column*/

    .consigner {
        position: absolute;
        top: 84px;
        left: 56px;
        font-size: 10px;
        width: 300px;
        text-align: left
    }

    .consignee {
        position: absolute;
        top: 189px;
        left: 56px;
        font-size: 8px;
        width: 520px;
        text-align: left
    }

    .notifyParty {
        position: absolute;
        top: 290px;
        left: 56px;
        font-size: 9px;
        width: 300px;
        text-align: left
    }


    /*Right Column*/

    .ladingNo {
        position: absolute;
        top: 73px;
        right: 130px;
    }

    .shipperReference {
        position: absolute;
        top: 106px;
        right: 170px;
    }

    .cargoDelivery {
        position: absolute;
        top: 290px;
        right: 70px;
        font-size: 9px;
        width: 300px;
        text-align: left
    }



    /* Location text */

    .placeOfReceipt {
        position: absolute;
        top: 395px;
        left: 56px;
        font-size: 10px;
        text-align: left
    }

    .portOfLoading {
        position: absolute;
        top: 395px;
        left: 230px;
        font-size: 10px;
        text-align: left
    }

    .freightPayable {
        position: absolute;
        top: 395px;
        right: 320px;
        font-size: 10px;
        text-align: left
    }

    .vessel {
        position: absolute;
        top: 435px;
        left: 56px;
        font-size: 10px;
        text-align: left
    }

    .portOfDischarge {
        position: absolute;
        top: 435px;
        left: 230px;
        font-size: 10px;
        text-align: left
    }

    .placeOfDelivery {
        position: absolute;
        top: 435px;
        right: 280px;
        font-size: 10px;
        text-align: left
    }


    .noOfBills {
        position: absolute;
        top: 435px;
        right: 120px;
        font-size: 10px;
        text-align: left
    }



    /*Table*/
    .marksNumber {
        position: absolute;
        top: 10px;
        left: 5px;
        font-size: 9px;
        text-align: left;
        width: 160px;
    }

    .noOfPackages {
        position: absolute;
        top: 8px;
        left: 110px;
        font-size: 9px;
        text-align: left;
        width: 50px;
    }

    /* .description {
        position: absolute;
        top: 0px;
        left: 170px;
        font-size: 9px;
        text-align: left;
        width: 320px;
        height: 500px;
    }*/

    .centered {
        position: absolute;
        top: 495px;
        left: 26px;
        text-align: left;
        border: none;
        /*   transform: translate(-50%, -50%);*/
    }
</style>


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>Bill of Lading</title>*@

</head>
<body onload="window.print();" style="font-size: 11px;">

    <div class="container">
        @*<img src="~/images/newBL.jpg" alt="BL" style="width:100%;">*@

        <div class="consigner">

            @{

                if (Model.shipper.Contains(";"))
                {
                    string[] DataList = Model.shipper.Split(";");
                    foreach (string data in DataList)
                    {

                        @data
                        @Html.Raw("<br>")
                    }
                }
                else
                {
                    @Model.shipper
                }
            }

        </div>
        <div class="consignee">
            @{
                if (Model.consignee != null)
                {
                    if (Model.consignee.Contains(";"))
                    {
                        string[] DataList = Model.consignee.Split(";");
                        foreach (string data in DataList)
                        {
                            <p style="margin: 0 0 0px !important;">@data</p>
                        }
                    }
                    else
                    {
                        <p style="margin: 0 0 0px !important;">@Model.consignee</p>
                    }
                }

            }
        </div>
        <div class="notifyParty">
            @{
                if (Model.notifyToparty != null)
                {
                    if (Model.notifyToparty.Contains(";"))
                    {
                        string[] DataList = Model.notifyToparty.Split(";");
                        foreach (string data in DataList)
                        {
                            <p style="margin: 0 0 0px !important;">@data</p>
                        }
                    }
                    else
                    {
                        <p style="margin: 0 0 0px !important;">@Model.notifyToparty</p>
                    }
                }

            }
        </div>
        <div class="ladingNo">
            @(Model.booking.bookingNumber)
        </div>
        <div class="shipperReference">
            @(Model.brokerName)  @(Model.coppies)
        </div>
        <div class="cargoDelivery">
            @{
                if (Model.destinationAgentReference != null)
                {
                    if (Model.destinationAgentReference.Contains(";"))
                    {
                        string[] DataList = Model.destinationAgentReference.Split(";");
                        foreach (string data in DataList)
                        {
                            <p style="margin: 0 0 0px !important;">@data</p>
                        }
                    }
                    else
                    {
                        <p style="margin: 0 0 0px !important;">@Model.destinationAgentReference</p>
                    }
                }

            }
        </div>


        <div class="placeOfReceipt"> @(Model.placeOfReceipt)</div>
        <div class="portOfLoading"> @(Model.fromLocation.locationName)</div>
        <div class="freightPayable"> @(Model.freightPayableAt)</div>
        <div class="vessel"> @(Model.vesselName) - @(Model.voyageNumber)</div>
        <div class="portOfDischarge">@(Model.toLocation.locationName)</div>
        <div class="placeOfDelivery"> @(Model.placeOfDelivery)</div>
        <div class="noOfBills"></div>


        <div class="centered" style="border: none">

            <!--Mark of Numbers & Containers-->
            <div class="col-xs-2 table-responsive" style="border: none">
                <table class="table" style="border: none; margin-top: -0px;" id="table1">
                    <thead>
                        <tr style="border: none">
                            <th>Marks & Numbers Container No</th>
                            <th>No of Pkgs. (refs to clause 11)</th>
                            <th>STC - Kind of packages/description of Goods of Packgs</th>
                        </tr>
                    </thead>

                    <tbody style="border: none; font-size: 8px">
                        @{
                            var rows = Model.billOfLoadingLine.OrderBy(x => x.createdAt)
                                        .Select((value, i) => new { i, value })
                                        .ToList();

                            int totalHeight = 0; // Track the total height

                            for (int i = 0; i < rows.Count; i++)
                            {
                                var row = rows[i];

                                <tr style="border: none; font-size: 8px">
                                    <td width="12%">
                                        @{
                                            if (row.value.marksAndNo.Contains(";"))
                                            {
                                                string[] DataList = row.value.marksAndNo.Split(";");
                                                foreach (string data in DataList)
                                                {
                                                    <p style=" margin: 0 0 0px !important;">@data</p>
                                                }
                                            }
                                            else
                                            {
                                                <p>@row.value.marksAndNo</p>
                                            }
                                        }
                                        CONTAINER NO.
                                        <p style="margin: 0 0 0px !important;">@row.value.containerNumber.containerCode</p>
                                        LINE SEAL NO:
                                        <p style="margin: 0 0 0px !important;">@row.value.sealno1</p>
                                        CUSTOM SEAL NO:
                                        <p style="margin: 0 0 0px !important;">@row.value.sealno2</p>
                                        @row.value.sealno3
                                    </td>

                                </tr>

                                @if (i == 1) // Add the gap after the first two records in the second table
                                {

                                    <tr style="border: none; height: 448px;">
                                    </tr>
                                }

                            }
                        }
                    </tbody>

                </table>

            </div>

            <!--Description of Good-->
            <div class="col-xs-6 " style="border: none">
                <table>
                    <tbody>
                        <tr>
                            @{
                                var rows2 = Model.billOfLoadingLine.OrderBy(x => x.createdAt)
                                            .Select((value, i) => new { i, value })
                                            .ToList();


                                for (int i = 0; i < rows2.Count; i++)
                                {
                                    var row = rows[i];

                                <tr style="border: none; font-size: 8px">

                                    <td width="15%">@row.value.noOfPackages</td>

                                    <td width="32%" style="font-size: 8px">
                                        @{
                                            if (row.value.description.Contains(";"))
                                            {
                                                string[] DataList = row.value.description.Split(";");
                                                foreach (string data in DataList)
                                                {
                                                    <p style=" margin: 0 0 0px !important;">@data</p>
                                                }
                                            }
                                            else
                                            {
                                                <p>@row.value.description</p>
                                            }
                                        }
                                    </td>


                                </tr>

                                @if (i == 1) // Add the gap after the first two records in the second table
                                {

                                    <tr style="border: none; height: 438px;">
                                    </tr>
                                }
                            }
                            }
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!--Gross Weight / Measurement-->
                <div class="col-xs-4 table-responsive" style="border: none">
                    <table class="table" style="border: none; margin-top: -8px; margin-left: 10px; width: 95%" id="table2">
                        <thead>
                            <tr style="border: none">
                                <th>STC - Kind of packages/description of Goods of Packgs</th>
                                <th>Gross Weight</th>
                            </tr>
                        </thead>

                        <tbody style="border: none; font-size: 8px ">
                            @{
                                int totalHeight2 = 0; // Track the total height for the second table

                                for (int i = 0; i < rows.Count; i++)
                                {
                                    var row = rows[i];

                                    <tr style="border: none; font-size: 9px">
                                        <td width="60%" class="text-left">
                                            @if (row.value.grossCargoWeight != "")
                                            {
                                                <p>GR. WT. <br />@row.value.grossCargoWeight<text>&nbsp;</text>@row.value.unit.GetDisplayName() </p>

                                                <p>Net. WT. <br />@row.value.netCargoWeight<text>&nbsp;</text>@row.value.unit.GetDisplayName() </p>

                                                <text>
                                                    KGS<br />
                                                    FCL/FCL<br /><br />
                                                    CY/CY
                                                </text>
                                            }

                                            @if (i == 0)
                                            {
                                                <p style="text-align: left; font-size: smaller">
                                                    ALL DESTINATION CHARGES ON CONSIGNEE A/C SHIPPER'S LOAD, STOW, COUNT & SEAL CARRIER'S LIABILITY CEASES ONCE CARGO IS REMOVED FROM PORT AREA, SHIPPER AND CONSIGNEE ARE RESPONSIBLE AND / OR LIABLE FOR ANY AND ALL COST OR CONSEQUENCES THAT MAY ARISE DUE TO NON COLLECTION OF CARGO AND / OR CONTAINER BY CONSIGNEE AT THE PLACE OF DELIVERY :
                                                </p>
                                                <p style="text-align: left">
                                                    SHIPPED ON BOARD DT
                                                </p>
                                            }
                                        </td>
                                        <td>
                                            @if (row.value.measurement != "")
                                            {
                                                <p>
                                                    @row.value.measurement
                                                </p>
                                            }
                                        </td>
                                    </tr>

                                    @if (i == 0) // Add the gap after the first two records in the second table
                                    {

                                        <tr style="border: none; height: 408px; ">
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>


        <br />
        <div class="row no-print pull-right">
            <div class="col-xs-12">

                <a href="@Url.Action("PrintBillOfLading", new { id = Model.billOfLoadingId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

            </div>
        </div>

        @*<div class="col-xs-1 table-responsive" style="border: none">
                <table class="table" style="border: none; margin-top: -12px; margin-left: 10px; ">

                    <tbody style="border: none; height: 50px;">
                        @{

                            foreach (var item in Model.billOfLoadingLine.OrderBy(x => x.createdAt).Select((value, i) => new { i, value }))
                            {
                                <tr style="border: none">


                                    <td width="20%" class="text-left">
                                        @if (item.value.grossCargoWeight != "")
                                        {
                                            <p>GR. WT.</p>
                                            @item.value.grossCargoWeight <text>&nbsp;</text> @item.value.unit.GetDisplayName()<br />
                                            <text>
                                                FCL/FCL<br />
                                                CY/CY
                                            </text>

                                        }

                                        <br /><br />

                                        @if (item.i == 0)
                                        {
                                            <p style="text-align: left; font-size: smaller">
                                                ALL DESTINATION CHARGES ON CONSIGNEE A/C SHIPPER'S LOAD, STOW, COUNT & SEAL CARRIER'S LIABILITY CEASES ONCE CARGO IS REMOVED FROM PORT AREA, SHIPPER AND CONSIGNEE ARE RESPONSIBLE AND / OR LIABLE FOR ANY AND ALL COST OR CONSEQUENCES THAT MAY ARISE DUE TO NON COLLECTION OF CARGO AND / OR CONTAINER BY CONSIGNEE AT THE PLACE OF DELIVERY :
                                            </p>
                                            <p style="text-align: left">
                                                SHIPPED ON BOARD DT
                                            </p>


                                        }
                                    </td>


                                </tr>
                                <tr>
                                    <td>
                                        @if (item.i == 0)
                                        {
                                            <div style="padding-top: 200px">

                                            </div>
                                        }
                                    </td>

                                </tr>

                            }

                        }

                    </tbody>

                </table>


            </div>*@

        @Html.Partial("_AdminlteNetcoreBasicStyles")
        @Html.Partial("_AdminlteNetcoreBasicScripts")

    </body>

</html>