﻿@model netcore.Models.Invent.BillOfLoadingLine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="billOfLoadingLineId" />
        <div class="form-group hidden">
            <label asp-for="billOfLoadingId" class="control-label"></label>
            <select asp-for="billOfLoadingId" id="billOfLoadingValueId" class="form-control select2" asp-items="ViewBag.billOfLoadingId"></select>
        </div>


        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="containerNumber" class="control-label glyphicon-asterisk"></label>
                    <select asp-for="containerNumberId" class="form-control select2" asp-items="ViewBag.containerNumberId" required></select>
                    <span asp-validation-for="containerNumberId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="cargoItemNo" class="control-label"></label>
                    <input asp-for="cargoItemNo" class="form-control" />
                    <span asp-validation-for="cargoItemNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="marksAndNo" class="control-label"></label>
                    <input asp-for="marksAndNo" class="form-control" />
                    <span asp-validation-for="marksAndNo" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="sealno1" class="control-label"></label>
                    <input asp-for="sealno1" class="form-control" />
                    <span asp-validation-for="sealno1" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="sealno2" class="control-label"></label>
                    <input asp-for="sealno2" class="form-control" />
                    <span asp-validation-for="sealno2" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="sealno3" class="control-label"></label>
                    <input asp-for="sealno3" class="form-control" />
                    <span asp-validation-for="sealno3" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="woodPack" class="control-label"></label>
                    <input asp-for="woodPack" class="form-control" />
                    <span asp-validation-for="woodPack" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="noOfPackages" class="control-label"></label>
                    <input asp-for="noOfPackages" class="form-control" />
                    <span asp-validation-for="noOfPackages" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="kindOfPackages" class="control-label"></label>
                    <input asp-for="kindOfPackages" class="form-control" />
                    <span asp-validation-for="kindOfPackages" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="grossCargoWeight" class="control-label"></label>
                    <input asp-for="grossCargoWeight" class="form-control" />
                    <span asp-validation-for="grossCargoWeight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="netCargoWeight" class="control-label"></label>
                    <input asp-for="netCargoWeight" class="form-control" />
                    <span asp-validation-for="netCargoWeight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="unit" class="control-label"></label>
                    <select asp-for="unit" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Unit>()"></select>
                    <span asp-validation-for="unit" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="measurement" class="control-label"></label>
                    <input asp-for="measurement" class="form-control" />
                    <span asp-validation-for="measurement" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="hsCode" class="control-label"></label>
                    <input asp-for="hsCode" class="form-control" />
                    <span asp-validation-for="hsCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="shippingBillDate" class="control-label"></label>
                    <div class="input-group date">
                        @*<div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>*@
                        <input asp-for="shippingBillDate" class="form-control" type="date" />

                    </div>
                    <span asp-validation-for="shippingBillDate" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="description" class="control-label"></label>
                    <textarea asp-for="description" class="form-control" rows="3" placeholder="description"></textarea>
                    <span asp-validation-for="description" class="text-danger"></span>
                </div>
            </div>

        </div>



    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



