﻿@model netcore.Models.Invent.BookingLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="bookingLineId" />
        <div class="form-group hidden">
            <label asp-for="bookingId" class="control-label"></label>
            <select asp-for="bookingId" id="inlandPriceValueId" class="form-control select2" asp-items="ViewBag.bookingId"></select>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="containerLaden" class="control-label glyphicon-asterisk"></label>
                    <select asp-for="ladenContainerId" class="form-control select2" asp-items="ViewBag.ladenContainerId" required></select>
                    <span asp-validation-for="ladenContainerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="emptyYardLocation" class="control-label"></label>
                    <select asp-for="emptyYardLocationId" class="form-control select2" asp-items="ViewBag.emptyYardLocationId"></select>
                    <span asp-validation-for="emptyYardLocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="containerCategory" class="control-label"></label>
                        <select asp-for="containerCategory" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ContainerCategory>()"></select>
                        <span asp-validation-for="containerCategory" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3" id="temperature" style='display:none'>
                <div class="form-group">
                    <label asp-for="temperature" class="control-label"></label>
                    <input asp-for="temperature" class="form-control" />
                    <span asp-validation-for="temperature" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" id="length" style='display:none'>
                <div class="form-group">
                    <label asp-for="length" class="control-label"></label>
                    <input asp-for="length" class="form-control" />
                    <span asp-validation-for="length" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3" id="width" style='display:none'>
                <div class="form-group">
                    <label asp-for="width" class="control-label"></label>
                    <input asp-for="width" class="form-control" />
                    <span asp-validation-for="width" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3" id="height" style='display:none'>
                <div class="form-group">
                    <label asp-for="height" class="control-label"></label>
                    <input asp-for="height" class="form-control" />
                    <span asp-validation-for="height" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="weight" class="control-label"></label>
                    <input asp-for="weight" class="form-control" />
                    <span asp-validation-for="weight" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#containerCategory').on('change', function () {
                if (this.value == '4') {
                    $("#length").show();
                    $("#width").show();
                    $("#height").show();
                }
                else {
                    $("#length").hide();
                    $("#width").hide();
                    $("#height").hide();

                }

                if (this.value == '3') {
                    $("#temperature").show();

                }
                else {
                    $("#temperature").hide();
                }
            });
        });
    </script>

}
