﻿@model netcore.Models.Invent.Booking

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["DeleteInfo"] = "[Completed] Purchase Order (PO) can not be deleted. Rollback status to [Open] by deleting related Purchase Receive (Receiving)";
    ViewData["IsCanDeleted"] = true;
    //if (Model.purchaseOrderStatus != netcore.Models.Invent.PurchaseOrderStatus.Completed)
    //{
    //    ViewData["IsCanDeleted"] = true;
    //}
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <div class="col-md-4">
        <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.bookingNumber)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.bookingNumber)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fromLocation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.fromLocation.locationName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.toLocation)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.toLocation.locationName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.earliestdepatureDate)
                </dt>
                <dd>
                    @Convert.ToDateTime(Model.earliestdepatureDate).ToString("dd/MM/yyyy")
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.salesPersonName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.salesPersonName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.emailId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.emailId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.remark)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.remark)
                </dd>
         

        </dl>
    </div>
  
</div>
