﻿@model netcore.Models.Invent.Booking
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
}



<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.bookingNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.bookingNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.fromLocation)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.fromLocation.locationName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.toLocation)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.toLocation.locationName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.earliestdepatureDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.earliestdepatureDate).ToString("dd/MM/yyyy")
                        </dd>

                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">

                        <dt>
                            @Html.DisplayNameFor(model => model.salesPersonName)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.salesPersonName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.emailId)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.emailId)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.remark)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.remark)
                        </dd>
                        
                    </dl>
                </div>

            </div>

            <div class="box-footer">
                <div class="form-group">
                    @if (Model.status == netcore.Models.Invent.Status.BOOKED)
                    {
                        if (appUser.isSuperAdmin)
                        {
                            <a asp-action="Edit" asp-route-id="@Model.bookingId" class="btn btn-primary">Edit</a>
                        }
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@Model.bookingId" class="btn btn-primary">Edit</a>
                    }
                    <a href="@Url.Action("PrintBooking", new { id = Model.bookingId })" target="_blank" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Print Booking</a>
                    <a href="@Url.Action("Finish", new { id = Model.bookingId })" class="btn btn-danger  pull-right"><i class="fa fa-flag-checkered"></i>  Finish</a>

                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>

        </div>

    </div>
    @*<div class="col-md-3">
        </div>*@
</div>


<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="grid" name="grid" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Container</th>
                                    <th>Empty Yard Location</th>
                                    <th>Category</th>
                                    <th>Temperature</th>
                                    <th>Lenghth (cm)</th>
                                    <th>Width (cm)</th>
                                    <th>Height (cm)</th>
                                    <th>Weight / Cont</th>

                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            @if (Model.status == netcore.Models.Invent.Status.BOOKED)
                            {
                                if (appUser.isSuperAdmin)
                                {
                                    <a id="OPL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","BookingLine", new { masterid = Model.bookingId })')"><i class="fa fa-plus"></i> Add New Booking(SHIFT + A)</a> }
                            }
                            else
                            {
                                <a id="OPL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","BookingLine", new { masterid = Model.bookingId })')"><i class="fa fa-plus"></i> Add New Booking(SHIFT + A)</a>}

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    @*<div class="col-md-3">

        </div>*@
</div>



<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var popup, dataTable;
        var entity = 'BookingLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.bookingId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "containerLaden.containerCode" },
                    { "data": "emptyYardLocation.locationName" },
                    { "data": "containerCategory" },
                    { "data": "temperature" },
                    { "data": "length" },
                    { "data": "width" },
                    { "data": "height" },
                    { "data": "weight" },
                    {
                        "data": "bookingLineId",
                        "render": function (data) {
                            //var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Edit/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                            return "<div class='tools pull-right'>"  + btnDelete + "</div>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false,
            });
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            popup.modal('hide');
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }



        shortcut.add("shift+a", function() {
            $("#OPL").click();
        });

    </script>
}

