﻿@model netcore.Models.Invent.Booking

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["EditInfo"] = " PO have three status: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products). Change status from [Draft] to [Open] to confirm the order. [Completed] status is auto set when PO used in Product Receive / Receiving.";
}

@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="bookingId" />
        <input type="hidden" asp-for="bookingNumber" />
        @*<input type="hidden" asp-for="purchaseOrderStatus" />*@

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="bookingNumber" class="control-label"></label>
                    <input asp-for="bookingNumber" class="form-control" disabled />
                    <span asp-validation-for="bookingNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="salesInquiry" class="control-label"></label>
                    <select asp-for="salesInquiryId" class="form-control select2" asp-items="ViewBag.salesInquiryId"></select>
                    <span asp-validation-for="salesInquiryId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="branch" class="control-label"></label>
                    <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                    <span asp-validation-for="branchId" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="form-group">
                    <label asp-for="pricingType" class="control-label"></label>
                    <select asp-for="pricingType" id="pricingType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.PricingType>()"></select>
                    <span asp-validation-for="pricingType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 oceanPriceDiv">
                <div class="form-group ">
                    <label asp-for="oceanPrice" class="control-label"></label>
                    <select asp-for="oceanPriceId" id="oceanPriceId" class="form-control select2" asp-items="ViewBag.oceanPriceId">
                        <option selected disabled hidden style='display: none' value=''>Select Ocean Price</option>
                    </select>
                    <span asp-validation-for="oceanPriceId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3 inlandPriceDiv">
                <div class="form-group ">
                    <label asp-for="inlandPrice" class="control-label"></label>
                    <select asp-for="inlandPriceId" id="inlandPriceId" class="form-control select2" asp-items="ViewBag.inlandPriceId">
                        <option selected disabled hidden style='display: none' value=''>Select Inland Price</option>
                    </select>
                    <span asp-validation-for="inlandPriceId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 portPriceDiv">
                <div class="form-group ">
                    <label asp-for="portPrice" class="control-label"></label>
                    <select asp-for="portPriceId" id="portPriceId" class="form-control select2" asp-items="ViewBag.portPriceId">
                        <option selected disabled hidden style='display: none' value=''>Select Port Price</option>
                    </select>
                    <span asp-validation-for="portPriceId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3 localPriceDiv">
                <div class="form-group ">
                    <label asp-for="localPrice" class="control-label"></label>
                    <select asp-for="localPriceId" id="localPriceId" class="form-control select2" asp-items="ViewBag.localPriceId">
                        <option selected disabled hidden style='display: none' value=''>Select Local Price</option>
                    </select>
                    <span asp-validation-for="localPriceId" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="fromLocation" class="control-label"></label>
                    <select asp-for="fromlocationId" class="form-control select2" asp-items="ViewBag.fromlocationId"></select>
                    <span asp-validation-for="fromlocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="toLocation" class="control-label"></label>
                    <select asp-for="tolocationId" class="form-control select2" asp-items="ViewBag.tolocationId"></select>
                    <span asp-validation-for="tolocationId" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="fromServiceMode" class="control-label"></label>
                    <select asp-for="fromServiceMode" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ServiceMode>()"></select>
                    <span asp-validation-for="fromServiceMode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="toServiceMode" class="control-label"></label>
                    <select asp-for="toServiceMode" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ServiceMode>()"></select>
                    <span asp-validation-for="toServiceMode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="placeofReceipt" class="control-label"></label>
                    <select asp-for="placeofReceiptId" class="form-control select2" asp-items="ViewBag.placeofReceiptId"></select>
                    <span asp-validation-for="placeofReceiptId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="placeofDelivery" class="control-label"></label>
                    <select asp-for="placeofDeliveryId" class="form-control select2" asp-items="ViewBag.placeofDeliveryId"></select>
                    <span asp-validation-for="placeofDeliveryId" class="text-danger"></span>
                </div>
            </div>

        </div>


        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="etd" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="etd" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="etd" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="eta" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="eta" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="eta" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" style="font-size: medium">
                    <label asp-for="isEmptyContainer" class="control-label"></label>
                    <div class="checkbox">
                        <label>
                            <input asp-for="isEmptyContainer" /> &nbsp;Yes.
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="city" class="control-label"></label>
                    <input asp-for="city" class="form-control" required="required" />
                    <span asp-validation-for="city" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="emailId" class="control-label"></label>
                    <input asp-for="emailId" class="form-control" required="required" />
                    <span asp-validation-for="emailId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="earliestdepatureDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="earliestdepatureDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="earliestdepatureDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="salesPersonName" class="control-label"></label>
                    <input asp-for="salesPersonName" class="form-control" required="required" />
                    <span asp-validation-for="salesPersonName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="status" class="control-label"></label>
                    <select asp-for="status" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Status>()"></select>
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="stuffingType" class="control-label"></label>
                    <input asp-for="stuffingType" class="form-control" />
                    <span asp-validation-for="stuffingType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="commodity" class="control-label"></label>
                    <input asp-for="commodity" class="form-control" />
                    <span asp-validation-for="commodity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="hsCode" class="control-label"></label>
                    <input asp-for="hsCode" class="form-control" />
                    <span asp-validation-for="hsCode" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="originFreeDays" class="control-label"></label>
                    <input asp-for="originFreeDays" class="form-control" required="required" />
                    <span asp-validation-for="originFreeDays" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="originPortStorageDays" class="control-label"></label>
                    <input asp-for="originPortStorageDays" class="form-control" required="required" />
                    <span asp-validation-for="originPortStorageDays" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="destinationFreeDays" class="control-label"></label>
                    <input asp-for="destinationFreeDays" class="form-control" required="required" />
                    <span asp-validation-for="destinationFreeDays" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="destinationPortStorageDays" class="control-label"></label>
                    <input asp-for="destinationPortStorageDays" class="form-control" required="required" />
                    <span asp-validation-for="destinationPortStorageDays" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="surveyorDetails" class="control-label"></label>
                    <input asp-for="surveyorDetails" class="form-control" />
                    <span asp-validation-for="surveyorDetails" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="noOfContainers" class="control-label"></label>
                    <input asp-for="noOfContainers" class="form-control" />
                    <span asp-validation-for="noOfContainers" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="bookingValidity" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="bookingValidity" class="form-control" type="datetime-local" />


                    </div>
                    <span asp-validation-for="bookingValidity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="freightTerms" class="control-label"></label>
                    <input asp-for="freightTerms" class="form-control" />
                    <span asp-validation-for="freightTerms" class="text-danger"></span>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="finalDestination" class="control-label"></label>
                    <input asp-for="finalDestination" class="form-control" />
                    <span asp-validation-for="finalDestination" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="docCutOff" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="docCutOff" class="form-control" type="datetime-local" />


                    </div>
                    <span asp-validation-for="docCutOff" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="stuffingPoint" class="control-label"></label>
                    <input asp-for="stuffingPoint" class="form-control" />
                    <span asp-validation-for="stuffingPoint" class="text-danger"></span>
                </div>
            </div>
            @*<div class="col-md-3">
                <div class="form-group">
                    <label asp-for="emptyPickupLocation" class="control-label"></label>
                    <input asp-for="emptyPickupLocation" class="form-control" />
                    <span asp-validation-for="emptyPickupLocation" class="text-danger"></span>
                </div>
            </div>*@
        </div>



        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="vesselGateInTerminal" class="control-label"></label>
                    <input asp-for="vesselGateInTerminal" class="form-control" />
                    <span asp-validation-for="vesselGateInTerminal" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="bookingSlot" class="control-label"></label>
                    <select asp-for="bookingSlotId" class="form-control select2" asp-items="ViewBag.bookingSlotId"></select>
                    <span asp-validation-for="bookingSlotId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="preparedBy" class="control-label"></label>
                    <input asp-for="preparedBy" class="form-control" required="required" />
                    <span asp-validation-for="preparedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="remark" class="control-label"></label>
                    <input asp-for="remark" class="form-control" />
                    <span asp-validation-for="remark" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="principal" class="control-label"></label>
                    <input asp-for="principal" class="form-control" />
                    <span asp-validation-for="principal" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {
        showHidePricingDropdownOnLoad();

        $('#pricingType').on('change', function () {
            clearPricingDropdowns();
            showHidePricingDropdownOnLoad();
        });
    });

    //Show Hide pricing dropdowns
    function showHidePricingDropdownOnLoad() {
        var priceType = $('#pricingType').val();

        if (priceType == "2") {
            $('.oceanPriceDiv').hide();
            $('.inlandPriceDiv').show();
            $('.portPriceDiv').hide();
            $('.localPriceDiv').hide();
        }
        else if (priceType == "3") {
            $('.oceanPriceDiv').hide();
            $('.inlandPriceDiv').hide();
            $('.portPriceDiv').show();
            $('.localPriceDiv').hide();
        }
        else if (priceType == "4") {
            $('.oceanPriceDiv').hide();
            $('.inlandPriceDiv').hide();
            $('.portPriceDiv').hide();
            $('.localPriceDiv').show();
        }
        else if (priceType == "5") {
            $('.oceanPriceDiv').show();
            $('.inlandPriceDiv').show();
            $('.portPriceDiv').show();
            $('.localPriceDiv').show();
        }
        else {
            $('.oceanPriceDiv').show();
            $('.inlandPriceDiv').hide();
            $('.portPriceDiv').hide();
            $('.localPriceDiv').hide();
        }
    }


    //Clear dropdowns
    function clearPricingDropdowns() {
        $('#oceanPriceId').val($(this).find('option:first').val()).trigger("change");
        $('#inlandPriceId').val($(this).find('option:first').val()).trigger("change");
        $('#portPriceId').val($(this).find('option:first').val()).trigger("change");
        $('#localPriceId').val($(this).find('option:first').val()).trigger("change");

    }
</script>
}



