﻿@model IEnumerable<netcore.Models.Invent.Booking>
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{
    ApplicationUser appUser = await UserManager.GetUserAsync(User);

    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-ticket";
    ViewData["ListTitle"] = "Booking Entry";
    //ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}

<table class="table table-hover table-striped" style="width:100%; height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.bookingNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.salesPersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.commodity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookingSlot)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eta)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.earliestdepatureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fromLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.toLocation)
            </th>
            <th>
                Pricing Nos.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salesInquiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noOfContainers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placeofReceipt)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.placeofDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.principal)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.preparedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            @*<th>
            Booking Lines &nbsp;

            <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

        </th>*@

            @*<th>Booking Line</th>
        <th>Empty Yard</th>
        <th>Category</th>
        <th>Temp.</th>
        <th>Leng.</th>
        <th>Width</th>
        <th>Height</th>
        <th>Weight / Cont</th>*@

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    @if (item.status == netcore.Models.Invent.Status.BOOKED)
                    {
                        if (appUser.isSuperAdmin)
                        {
                            <a asp-action="Edit" asp-route-id="@item.bookingId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.bookingId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>

                        }
                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@item.bookingId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.bookingId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                    }
                    <a asp-action="Details" asp-route-id="@item.bookingId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salesPersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.commodity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookingSlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.eta)
            </td>

            <td>
                @item.earliestdepatureDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fromLocation.locationName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.toLocation.locationName)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.oceanPrice.oceanPriceNumber)
                @Html.DisplayFor(modelItem => item.inlandPrice.inlandPriceNumber)
                @Html.DisplayFor(modelItem => item.portPrice.portPriceNumber)
                @Html.DisplayFor(modelItem => item.localPrice.localPriceNumber)


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salesInquiry.salesInquiryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noOfContainers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placeofReceipt.locationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placeofDelivery.locationName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.principal)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.preparedBy)
            </td>

            <td>
                @if (item.status == netcore.Models.Invent.Status.DRAFT)
                {
                    <div style="color: orange">
                        <b>@Html.DisplayFor(modelItem => item.status)</b>

                    </div>
                }
                else
                {
                    <div style="color: forestgreen">
                        <b>@Html.DisplayFor(modelItem => item.status)</b>

                    </div>
                }

            </td>
            @*<td>*@

            @*@foreach (var bookingLine in item.bookingLine)
        {*@
            @*<table style="width:100%; font-size:10px">
            <tr>
                <td>
                    <b>Cont. -</b> @Html.DisplayFor(modelItem => bookingLine.containerLaden.containerCode)
                </td>
                <td>
                    <b>Empty Yard -</b> @Html.DisplayFor(modelItem => bookingLine.emptyYardLocation.locationName)
                </td>
            </tr>
            <tr>
                <td>
                    <b>Category -</b> @Html.DisplayFor(modelItem => bookingLine.containerCategory)
                </td>
                <td>
                    <b>Weight -</b> @Html.DisplayFor(modelItem => bookingLine.weight)
                </td>
            </tr>
            <tr>
                @if (bookingLine.length.HasValue)
                {
                    <td>
                        <b>Length -</b> @Html.DisplayFor(modelItem => bookingLine.length)
                    </td>
                }
                @if (bookingLine.width.HasValue)
                {
                    <td>
                        <b>Width -</b> @Html.DisplayFor(modelItem => bookingLine.width)
                    </td>
                }
            </tr>
            <tr>
                @if (bookingLine.height.HasValue)
                {
                    <td>
                        <b>Height -</b> @Html.DisplayFor(modelItem => bookingLine.height)
                    </td>
                }
                @if (bookingLine.temperature.HasValue)
                {
                    <td>
                        <b>Temperature -</b> @Html.DisplayFor(modelItem => bookingLine.temperature)
                    </td>
                }
            </tr>
        </table>*@





            @*<div style="font-size:10px; width: 100%" class="widget-content">
            <div class="row">
                <div class="col-md-6">
                    <strong>Cont. -</strong> @Html.DisplayFor(modelItem => bookingLine.containerLaden.containerCode)
                </div>
                <div class="col-md-6">
                    <strong>Empty Yard -</strong> @Html.DisplayFor(modelItem => bookingLine.emptyYardLocation.locationName)
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <strong>Category -</strong> @Html.DisplayFor(modelItem => bookingLine.containerCategory)
                </div>
                <div class="col-md-6">
                    <strong>Weight -</strong> @Html.DisplayFor(modelItem => bookingLine.weight)
                </div>
            </div>


            <div class="row">
                @if (bookingLine.length.HasValue)
                {
                    <div class="col-md-6">
                        <strong>Length. -</strong> @Html.DisplayFor(modelItem => bookingLine.length)
                    </div>
                }
                @if (bookingLine.width.HasValue)
                {
                    <div class="col-md-6">
                        <strong>Width -</strong> @Html.DisplayFor(modelItem => bookingLine.width)
                    </div>
                }
            </div>

            <div class="row">
                @if (bookingLine.height.HasValue)
                {
                    <div class="col-md-6">
                        <strong>Height -</strong> @Html.DisplayFor(modelItem => bookingLine.height)
                    </div>
                }
                @if (bookingLine.temperature.HasValue)
                {
                    <div class="col-md-6">
                        <strong>Temp. -</strong> @Html.DisplayFor(modelItem => bookingLine.temperature)
                    </div>
                }
            </div>
            <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
        </div>*@

            @*}*@

            @*</td>*@

        </tr>
        }
    </tbody>
</table>


