﻿@model IEnumerable<netcore.Models.Invent.BookingLine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreLineIndex.cshtml";
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.containerLaden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emptyYardLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.containerCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.length)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weight)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.booking.bookingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.containerLaden.containerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emptyYardLocation.locationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.containerCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.length)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.width)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.weight)
            </td>
        </tr>
        }
    </tbody>
</table>
