﻿@model netcore.Models.Invent.Booking
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Booking Entry</title>
</head>
<body onload="window.print();">
    <div class="wrapper">

        <section class="invoice">

            <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header text-center">
                    @*<a class="logo-mini"><b>@Model.branch.branchName</b></a>*@
                  
                    @if (Model.branch.branchLogoUrl != null)
                    {
                        <img src="@(Model.branch.branchLogoUrl)" width="25%" class="img-responsive">
                    }
                    else
                    {
                        <b>@(Model.branch.branchName)</b>
                    }

               
                </h2>
                <small class="text-center"><b>Address - </b>@(Model.branch.street1 + " " + Model.branch.street2 + " " + Model.branch.country + " " + Model.branch.province + " " + Model.branch.city + ", " + Model.branch.Email + " " + Model.branch.Contact)</small>

            </div>

        </div>

            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-header text-center">
                        <a><b>CONTAINER RELEASE ORDER</b></a>
                    </h2>

                </div>

            </div>

            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Booking Ref. No. - </strong>  @Model.bookingNumber<br>
                    </address>
                </div>

                <div class="col-xs-6">
                    <address>

                        <strong>Release Date - </strong>  @Model.earliestdepatureDate.ToString("dd-MMM-yyyy")<br>
                        @*<strong>CRO Expiry Date - </strong>@Model.toDate.ToString("dd-MMM-yyyy") <br>*@
                    </address>
                </div>
            </div>




            <div class="row">

                <div class="col-xs-6">



                    <address>

                        @*<strong>Empty Pick up Container Location </strong> <br /> @Model.emptyPickupLocation<br>*@
                        @*<strong>CRO Expiry Date - </strong>@Model.toDate.ToString("dd-MMM-yyyy") <br>*@
                    </address>





                </div>

                <div class="col-xs-6">
                    <address>
                        <strong>Booking Party - </strong><br />@(Model.salesInquiry.customer.customerName)
                        <p>
                            @(Model.salesInquiry.customer.street1), @(Model.salesInquiry.customer.street2)
                            @(Model.salesInquiry.customer.country.GetDisplayName()), @(Model.salesInquiry.customer.province)
                        </p>
                        <p>
                            @(Model.salesInquiry.customer.contact)
                        </p>
                    </address>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Shipper - </strong> @(Model.salesInquiry.shipper) <br>
                    </address>
                </div>

                <div class="col-xs-6">
                    <address>
                        <strong>Clearing Agent - </strong> @(Model.salesPersonName)<br>
                    </address>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <address>
                        <strong>Surveyor Details </strong><br /> @(Model.surveyorDetails) <br>
                    </address>
                </div>

                <div class="col-xs-2">
                    <address>
                        <strong>Commodity</strong><br /> @Model.commodity<br>
                    </address>
                </div>

                <div class="col-xs-2">
                    <address>
                        <strong>No. of Containers </strong><br /> @(Model.noOfContainers)<br>
                    </address>
                </div>

                <div class="col-xs-2">
                    <address>
                        <strong>Booking Validity - </strong> @Model.bookingValidity.ToShortDateString() @Model.bookingValidity.ToShortTimeString()<br>
                    </address>
                </div>

                <div class="col-xs-2">
                    <address>
                        <strong>Freight Terms </strong><br /> @(Model.freightTerms)<br>
                    </address>
                </div>

                <div class="col-xs-2">
                    <address>
                        <strong>Final Destination </strong> <br />@(Model.finalDestination)<br>
                    </address>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-2">
                    <address>
                        <strong>Document Cut off </strong> <br />@(Model.docCutOff)<br>
                    </address>
                </div>

                <div class="col-xs-2">
                    <address>
                        <strong>Stuffing Point </strong><br /> @(Model.stuffingPoint)<br>
                    </address>
                </div>

                <div class="col-xs-3">
                    <address>
                        <strong>Vessel Gate Terminal </strong><br /> @(Model.vesselGateInTerminal)<br>
                    </address>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Port of Loading</th>
                                <th>Port of Destination</th>
                                <th>Vessel</th>
                                <th>Gate Opening Date</th>
                                <th>Gate Closing Date</th>
                            </tr>
                        </thead>
                        @{ int rowNo = 0; }

                        <tbody>
                            @foreach (var item in Model.bookingLine.OrderBy(x => x.booking.bookingNumber))
                            {
                                <tr>
                                    <td>@(rowNo += 1)</td>

                                    <td>@item.booking.fromLocation.locationName</td>
                                    <td>@item.booking.toLocation.locationName</td>
                                    <td>@item.booking.bookingSlot.vesselName</td>
                                    <td>@item.booking.bookingSlot.gateOpenCuttofftDate.ToShortDateString() @item.booking.bookingSlot.gateOpenCuttofftDate.ToShortTimeString()</td>
                                    <td>@item.booking.bookingSlot.gateCloseCuttofftDate.ToShortDateString() @item.booking.bookingSlot.gateCloseCuttofftDate.ToShortTimeString()</td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>SI cut off</th>
                                <th>VGM Cut off</th>
                                <th>Service Mode</th>
                                <th>ETD</th>
                                <th>ETA</th>
                                <th>Equipment Size</th>
                                <th>Weight of Container (KG)</th>
                                <th>Cargo Category</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.bookingLine.OrderBy(x => x.booking.bookingNumber))
                            {
                                <tr>
                                    <td>@item.booking.bookingSlot.siCuttofftDate.ToShortDateString() @item.booking.bookingSlot.siCuttofftDate.ToShortTimeString()</td>
                                    <td>@item.booking.bookingSlot.vgmCuttofftDate.ToShortDateString() @item.booking.bookingSlot.vgmCuttofftDate.ToShortTimeString()</td>
                                    <td>@item.booking.fromServiceMode.GetDisplayName()</td>
                                    <td>@item.booking.etd.ToShortDateString() @item.booking.etd.ToShortTimeString()</td>
                                    <td>@item.booking.eta.ToShortDateString() @item.booking.etd.ToShortTimeString()</td>

                                    <td>@item.containerLaden.containerCode - @item.containerLaden.container.containerName</td>
                                    <td>@item.weight</td>
                                    <td>@item.containerCategory</td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>
            <br /><br />
            <div class="col-xs-12" style="font-size: small">
                <p><b>Authorised Signatory </b>
                <p>FOR THE ATTENTION OF SHIPPERS/BROKERS/FORWARDING & CLEARING AGENTS:
                <p>1. SHIPPERS / BROKERS / FORWARDING & CLEARING AGENTS : You will fully indemnify the line/agents from any claims for costs, charges, legal expenses, arising from death or injury caused to any person, any damage that may arise to container after receipt from the yard, up to drop off at pre-stack / back to pick up yard when not used. Cost will be to your account.
                <p>2. CARGO LIABILITY: The Carrier / Agent will not be liable for any damage to the cargo while in transit from shipper’s nominated stuffing point to the port premises.
                <p>3. SHIPPING BILL / CLP / HAZARDOUS CARGO DECLARATION: Mandatory to be submitted to the surveyor before vessel port cut off, failure to which the line shall not be held responsible for any shut-outs. Related cost will be to debited to your account.
                <p>4. HAZ STICKERS: Please arrange the HAZ stickers and affix the same on the containers. Any penalty arising out of non-compliance would be debited to your account.
                <p>5. VGM should be done within cut off.
                <p>6. FORM-13/11 (Indian Ports only): Container to be gated in under FORM – 13/11 only and same needs to be collected from the surveyor.
                <p>7. SEALS: To be collected from yard.
                <p>8. RETURN OF CONTAINERS: Containers are to be returned back after stuffing to PORT prior to the port cut-off period of the intended vessel. All the Containers should be in sea-worthy condition.
                <p>9. LOCAL DETENTION: Once the container is picked the same has to be returned after stuffing within 7 days which is the normal free period. The stuffed containers that are returned after 7 days, charges will be applicable as per tariff : In case of MTY return, tariff will be applicable from day one.
                <p>10. VALIDITY: The DO will be valid only for 3 days from the date of issue.
                <p>11. PORT PENALTY: Any penalty levied by the terminal due to incorrect information provided by you will be debited to your account.
                <p>12. SPECIAL EQUIPMENTS: In case of OPEN TOP, FLAT RACK containers, please make sure before pick up that all removable parts such as Tarpaulin, Tier Cord, Roof Bows, etc are intact.
                <p>13. SPACE : Loading is subject to space availability and acceptance by the carrier.
                <p>14. BL PROFORMA : Please submit your Proforma B/L with full address, Tel/Fax number of the consignee. Failing which late documentation charges will be applicable as per tariff.
                <p>15. MTY UNITS : Please ensure that the empty container received from yard is clean and in sound condition, costs of any subsequent rejection will be to the shipper’s / CHA’s account.
                <p>16. OBL RELEASE : Original BL should be released within 5 working days from vessel sailing date, thereafter, LATE BL RELEASE charges will be applicable.
                <p>17. PROHIBITED / CONTRABAND CARGO : Exporting Prohibited and Contraband cargo is not allowed and the Carrier & the Agent shall not be liable.The, SHIPPERS / BROKERS / FORWARDING & CLEARING AGENTS will be responsible for the cost and the consequences.
                <p>18. Always set correct set temperature at the time of container gate-in as setting wrong</p>
            </div>

            <br />
            <div class="row no-print pull-right">
                <div class="col-xs-12">

                    <a href="@Url.Action("PrintBooking", new { id = Model.bookingId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

                </div>
            </div>


        </section>

    </div>
    <section class="invoice">
       
        <div class="col-xs-12 pull-right" style="font-size: x-small">
            <p>Developed By Over & All Tech © 2020</p>
        </div>
    </section>


    @Html.Partial("_AdminlteNetcoreBasicStyles")
    @Html.Partial("_AdminlteNetcoreBasicScripts")
</body>
</html>
