﻿@model netcore.Models.Invent.Invoices
@inject netcore.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
    string controller = (string)ViewContext.RouteData.Values["controller"];
    ApplicationUser appUser = await UserManager.GetUserAsync(User);

}



<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.invNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.invNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.booking)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.booking.bookingNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.utrNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.utrNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.nblNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.nblNumber)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.totalInvoiceAmount)
                        </dt>
                        <dd>

                            @Html.DisplayFor(model => model.totalInvoiceAmount)

                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.receiptAmount)
                        </dt>
                        <dd>

                            @Html.DisplayFor(model => model.receiptAmount)

                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.tds)
                        </dt>
                        <dd>

                            @Html.DisplayFor(model => model.tds)

                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.netBalance)
                        </dt>
                        <dd>

                            @Html.DisplayFor(model => model.netBalance)

                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.createdAt)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.createdAt).ToString("dd/MM/yyyy")
                        </dd>
                        <br />
                        <dt>
                            @Html.DisplayNameFor(model => model.status)
                        </dt>
                        <dd>
                            @if (Model.status == netcore.Models.Invent.InvoiceStatus.DRAFT)
                            {
                                <div style="color: orange">
                                    <b>@Html.DisplayFor(model => model.status)</b>

                                </div>
                            }
                            else
                            {
                                <div style="color: forestgreen">
                                    <b>@Html.DisplayFor(model => model.status)</b>

                                </div>
                            }

                        </dd>
                    </dl>
                </div>
            </div>
            <div class="box-footer">
                <div class="form-group">
                    @if (appUser.UserName.Contains("pricing@sifitech.com"))
                    {
                        <a asp-action="Index" class="btn btn-default">Back to List</a>


                    }
                    else if (appUser.UserName.Contains("account@sifitech.com"))
                    {
                        <a asp-action="Index" class="btn btn-default">Back to List</a>

                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@Model.invoicesId" class="btn btn-primary">Edit</a>

                        <a asp-action="Index" class="btn btn-default">Back to List</a>

                    }



                </div>
            </div>

        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-tools pull-right">
                <div class="has-feedback">
                    <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>

            <div class="box-body">
                <div class="mailbox-controls">
                    <div class="text-center">
                        <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                        <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                        <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive mailbox-messages">
                            <table id="grid" name="grid" class="table table-striped table-bordered ">
                                <thead>
                                    <tr>
                                        <th>Cost</th>
                                        <th>Cost Amount</th>
                                        <th>Income</th>
                                        <th>Currency</th>
                                        <th>Rate</th>
                                        <th>CGST</th>
                                        <th>SGST</th>
                                        <th>IGST</th>
                                        <th>Inc Amount</th>
                                        <th>Margin</th>

                                        <th></th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            @if (Model.status != netcore.Models.Invent.InvoiceStatus.COMPLETED)
            {
                <div class="box-footer">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">

                                <a id="OPL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","InvoicesLine", new { masterid = Model.invoicesId })')"><i class="fa fa-plus"></i> Add New Invoices Line (SHIFT + A)</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-footer">
                <div class="form-group">
                    @*<a href="@Url.Action("Finish", new { id = Model.invoicesId })" class="btn btn-danger pull-right"><i class="fa fa-flag-checkered"></i>  Complete & Finish Invoice</a>*@
                    @if (Model.status != netcore.Models.Invent.InvoiceStatus.COMPLETED)
                    {
                        <a onclick="FinishInvoice('@Model.invoicesId')" class="btn btn-danger pull-right"><i class="fa fa-flag-checkered"></i>  Complete & Finish Invoice</a>
                    }
                    @if (Model.status == netcore.Models.Invent.InvoiceStatus.COMPLETED)
                    {
                        <a asp-action="PrintInvoice" asp-route-id="@Model.invoicesId" class="btn btn-primary pull-left" target="_blank"><i class="fa fa-print"></i> Print Invoice</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var popup, dataTable;
        var entity = 'InvoicesLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "lengthChange": false,
                "info": false,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                            {
                                extend: 'csv',
                                filename: '@controller-csv'
                            },
                            {
                                extend: 'pdf',
                                filename: '@controller-pdf'
                            },
                            {
                                extend: 'excel',
                                filename: '@controller-excel'
                            }
                        ],
                "ajax": {
                    "url": apiurl + '?masterid=@Model.invoicesId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [

                    { "data": "cost.chargeHeadName" },
                    { "data": "amount" },
                    { "data": "income.chargeHeadName" },
                    { "data": "currency.currencyName" },
                    { "data": "rate" },
                    { "data": "cgst" },
                    { "data": "sgst" },
                    { "data": "igst" },
                    { "data": "incamount" },
                    { "data": "margin" },
                    {
                        "data": "invoicesLineId",
                        "render": function (data) {

                            var btnEdit = "";
                            var btnDelete = "";

                            @{
                                if (Model.status != netcore.Models.Invent.InvoiceStatus.COMPLETED)
                                {
                                    <text>

                                        btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";

                                        btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                 

                                    </text>
                                }
                            }

                            @{
                                @if (!appUser.UserName.Contains("account@sifitech.com"))
                                {
                                    <text>
                                        return "<div class='tools pull-right'>" + btnDelete + "</div>";

                                    </text>
                                }
                                else
                                {
                                    <text>
                                        btnDelete = "<a style='margin-left:2px'></a>";
                                        return "<div class='tools pull-right'>" + btnDelete + "</div>";

                                    </text>
                                }

                            }

               
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "paging": false,
            });

            $('#mainSearch').keyup(function () {
                dataTable.search($(this).val()).draw();
            })

            $("#btn-export-csv").on("click", function () {
                dataTable.button('.buttons-csv').trigger();
            })

            $("#btn-export-excel").on("click", function () {
                dataTable.button('.buttons-excel').trigger();
            })

            $("#btn-export-pdf").on("click", function () {
                dataTable.button('.buttons-pdf').trigger();
            })
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            popup.modal('hide');
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }



        shortcut.add("shift+a", function() {
            $("#OPL").click();
        });



        function FinishInvoice(id) {
            swal({
                title: "Are you sure want to save and finish the Invoice?",
                text: "You will not be able to edit the Invoice Line data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, finish and save it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    url: '../Finish' + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            swal(data.message);
                            location.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }




    </script>
}


