﻿@model IEnumerable<netcore.Models.Invent.Invoices>
@inject netcore.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-files-o";
    ViewData["ListTitle"] = "Invoices (Current & Last Year Entries)";
    //ViewData["IndexInfo"] = "Charge Head is a merchandise that can be offered to the market for sell to satisfy demand. Before you can sell Charge Heads to customers, you should have the Charge Head stock in hand by buying the ChargeHead from vendors.";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);


    var data = Context.Invoices.Where(r => r.invDate.Year.Equals(DateTime.Now.Year) || r.invDate.Year.Equals(DateTime.Now.AddYears(-1).Year));

}


<table class="table table-hover table-striped" style="width:100%" height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.invNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.booking.bookingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalInvoiceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.receiptAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nblNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.netBalance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.utrNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supplyTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preparedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            @*<th>
            Invoices Lines &nbsp;

            <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

        </th>*@

        </tr>
    </thead>
    <tbody>

        @foreach (var item in data)
         {
            <tr>
                <td>
                    <div class="tools">
                        @if (appUser.UserName.Contains("pricing@sifitech.com"))
                        {
                            <a asp-action="Details" asp-route-id="@item.invoicesId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>

                        }
                        else if (appUser.UserName.Contains("account@sifitech.com"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.invoicesId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                            <a asp-action="Details" asp-route-id="@item.invoicesId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                        }
                        else
                        {
                            <a asp-action="Edit" asp-route-id="@item.invoicesId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                            <a asp-action="Details" asp-route-id="@item.invoicesId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.invoicesId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>

                        }

                    </div>

                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.invNumber)
                </td>
                <td>
                    @item.invDate.Date.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.booking.bookingNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalInvoiceAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.receiptAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nblNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.netBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.utrNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supplyTo)
                </td>
                <td>
                    @item.dueDate.Date.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preparedBy)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.status)
        </td>*@
                <td>
                    @if (item.status == netcore.Models.Invent.InvoiceStatus.DRAFT)
                    {
                        <div style="color: orange">
                            <b>@Html.DisplayFor(modelItem => item.status)</b>

                        </div>
                    }
                    else
                    {
                        <div style="color: forestgreen">
                            <b>@Html.DisplayFor(modelItem => item.status)</b>

                        </div>
                    }

                </td>

                @*<td>

            @foreach (var invoicesLine in item.invoicesLine)
            {

                <div style="font-size:10px; width: 100%" class="widget-content">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Currency. -</strong> @Html.DisplayFor(modelItem => invoicesLine.currency.currencyCode)
                        </div>
                        <div class="col-md-6">
                            <strong>Cost. -</strong> @Html.DisplayFor(modelItem => invoicesLine.cost.chargeHeadName)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <strong>Amount -</strong> @Html.DisplayFor(modelItem => invoicesLine.amount)
                        </div>
                        <div class="col-md-6">
                            <strong>SAC -</strong> @Html.DisplayFor(modelItem => invoicesLine.sacCode)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <strong>Rate -</strong> @Html.DisplayFor(modelItem => invoicesLine.rate)
                        </div>
                        <div class="col-md-6">
                            <strong>CGST -</strong> @Html.DisplayFor(modelItem => invoicesLine.cgst)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <strong>SGST -</strong> @Html.DisplayFor(modelItem => invoicesLine.sgst)
                        </div>
                        <div class="col-md-6">
                            <strong>IGST -</strong> @Html.DisplayFor(modelItem => invoicesLine.igst)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Income -</strong> @Html.DisplayFor(modelItem => invoicesLine.income.chargeHeadName)
                        </div>
                        <div class="col-md-6">
                            <strong>Margin -</strong> @Html.DisplayFor(modelItem => invoicesLine.margin)
                        </div>
                    </div>

                    <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                </div>

            }

        </td>*@


            </tr>
        }
    </tbody>
</table>
