﻿@model IEnumerable<netcore.Models.Invent.InvoicesLine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreLineIndex.cshtml";
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.invoices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.igst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.incamount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.taxableINR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.margin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sacCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoices.booking.bookingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoices.invDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoices.booking.noOfContainers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoices.booking.etd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoices.booking.eta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.invoices.nblNumber)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.invoices.invDate.Year.Equals(DateTime.Now.Year) || x.invoices.invDate.Year.Equals(DateTime.Now.AddYears(-1).Year)))
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.invoices.invNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cost.chargeHeadName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currency.currencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.income.chargeHeadName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sgst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.igst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.incamount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taxableINR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.margin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sacCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoices.booking.bookingNumber)
            </td>
            <td>
                @item.invoices.invDate.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoices.booking.noOfContainers)
            </td>
            <td>
                @item.invoices.booking.eta.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @item.invoices.booking.etd.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.invoices.nblNumber)
            </td>
        </tr>
        }
    </tbody>
</table>
