﻿@model netcore.Models.Invent.Invoices
@inject netcore.Data.ApplicationDbContext Context
@inject netcore.Services.INetcoreService NetCoreServices
@{
    Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body onload="window.print();">
    <div class="wrapper">

        <section class="invoice">

            @*<div class="row">
                    <div class="col-xs-12">
                        <h2 class="page-header text-center">
                            <a class="logo-mini"><b></b></a>
                        </h2>


                    </div>

                </div>*@

            <div class="row">
                <div class="col-md-3">
                    @if (Model.branch.branchLogoUrl != null)
                    {
                        <img src="@(Model.branch.branchLogoUrl)" width="25%" class="img-responsive">
                    }
                    else
                    {
                        <b>
                            @{
                                var branchName = Model.branch.branchName.Substring(0, 5);
                                @(branchName)
                        }
                    </b>
                }

                </div>
                <div class="col-md-3">

                    <h6 class="page-header text-center">
                        <a>Tax Invoice</a>
                    </h6>

                </div>

            </div>

            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Invoice No. - </strong>
                        @{
                            @Model.invNumber;
                            //var str1 = Model.invNumber.Substring(0, 3);

                            @*if (Model.invNumber.Length < 22)
                                {
                                    var str2 = Model.invNumber.Remove(0, 16);
                                    @(str1+"/"+str2)
                                }
                                else
                                {
                                    var str2 = Model.invNumber.Remove(0, 17);
                                    @(str1+"/"+str2)
                                }*@

                        }
                        <br>
                        <strong>Invoice Date - </strong>@Model.invDate.ToString("dd-MMM-yyyy") <br>
                        <strong>Due Date - </strong>@Model.dueDate.AddDays(double.Parse(Model.creditDays)).ToString("dd-MMM-yyyy") <br>
                        <strong>Booking No - </strong>@Model.booking.bookingNumber <br>


                    </address>
                </div>

                <div class="col-xs-6">
                    <address>

                        <strong>MBL No - </strong>@Model.nblNumber<br>
                        @{
                            var billofLaden = Context.BillOfLoading.SingleOrDefault(x => x.bookingId == Model.booking.bookingId);
                            if (billofLaden != null)
                            {
                                <strong>BL Date - </strong>@(billofLaden.createdAt.ToString("dd-MMM-yyyy"))<br>

                            }
                        }
                        @*<strong>Receipt Date - </strong>@Model.receiptDate.ToShortDateString()<br>*@
                        @*<strong>UTR Number - </strong>@Model.utrNumber<br>*@
                        @*<strong>Sales a/c - </strong>@(Model.booking.salesPersonName)<br>*@
                        <strong>ETA - </strong>@(Model.booking.bookingSlot.etaDate.ToShortDateString())<br>
                        <strong>Credit Days - </strong>
                        @if (Model.creditDays != "")
                        {
                            @(Model.creditDays)
                        }
                        <br>
                    </address>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>Bill To</strong> <br />
                        @Model.booking.salesInquiry.customer.customerName
                        <br>
                        @Model.booking.salesInquiry.customer.street1
                        <br />
                        @Model.booking.salesInquiry.customer.street2
                        <b>Contact No:- </b> @Model.booking.salesInquiry.customer.contact
                    </address>
                </div>
                <div class="col-xs-6">
                    <address>
                        <strong>Supply To</strong> <br />
                        @Model.supplyTo
                        <br>
                    </address>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>GST No.</strong> <br />
                        @Model.booking.salesInquiry.customer.gstVat
                    </address>
                </div>
                @*<div class="col-xs-6">
                        <address>
                            <strong>GST No. </strong> <br />
                            @Model.booking.bookingSlot.vendor.gstVat
                            <br>
                        </address>
                    </div>*@
            </div>


            <div class="row">
                <div class="col-xs-3">
                    <address>
                        <strong>Vessel Name / Voyage Number</strong><br />
                        @(Model.booking.bookingSlot.vesselName)
                        <br>
                    </address>
                </div>


                <div class="col-xs-3">
                    <address>

                        <strong>E.T.D</strong><br />
                        @(Model.booking.bookingSlot.etdDate.ToShortDateString())
                        <br>
                    </address>
                </div>

                <div class="col-xs-3">
                    <address>

                        <strong>Port Of Loading/Departure</strong><br />
                        @(Model.booking.fromLocation.locationName)
                        <br>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address>

                        <strong>Port Of Discharge</strong><br />
                        @(Model.booking.toLocation.locationName)
                        <br>
                    </address>
                </div>

            </div>



            @*<div class="row">
                    <div class="col-xs-3">
                        <address>
                            <strong>IGM No. & Date</strong><br />
                            @(Model.booking..gs + " " + Model.igmDate)
                            <br>
                        </address>
                    </div>

                    <div class="col-xs-3">
                        <address>

                            <strong>Item Number</strong><br />

                            <br>
                        </address>
                    </div>
                    <div class="col-xs-3">
                        <address>

                            <strong>Place Of Delivery</strong><br />
                            @(Model.pod)
                            <br>
                        </address>
                    </div>
                    <div class="col-xs-3">
                        <address>

                            <strong>Customs Registration Number</strong><br />

                            <br>
                        </address>
                    </div>
                </div>*@



            @*<div class="row">
                    <div class="col-xs-3">
                        <address>
                            <strong>D&D Free days POD</strong><br />
                            @Model.destinationFreeDays
                            <br>
                        </address>
                    </div>

                    <div class="col-xs-3">
                        <address>

                            <strong>Packages</strong><br />

                            <br>
                        </address>
                    </div>
                    <div class="col-xs-2">
                        <address>

                            <strong>DESCRIPTION OF GOODS :</strong><br />

                            <br>
                        </address>
                    </div>
                    <div class="col-xs-2">
                        <address>

                            <strong>Weight</strong><br />
                            @(Model.totalGrossWeight)
                            <br>
                        </address>
                    </div>
                    <div class="col-xs-2">
                        <address>

                            <strong>Volume</strong><br />

                            <br>
                        </address>
                    </div>
                </div>*@

            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-bordered cell-border">
                        <thead style="font-size: x-small">
                            @foreach (var item in Model.invoicesLine.OrderBy(x => x.createdAt).Take(1))
                            {
                                <tr>
                                    <th>Description of Service</th>
                                    <th>SAC</th>
                                    @foreach (var item2 in item.invoices.booking.salesInquiry.salesInquiryLine.Where(x => x.chargeHeadId == item.incomeId))
                                    {
                                        <th>Per Item</th>
                                        <th>Curr</th>
                                        <th>Type</th>
                                        <th>Qty</th>
                                    }
                                    <th>Rate</th>
                                    <th>Taxable INR</th>
                                    <th>CGST %</th>
                                    <th>CGST</th>
                                    <th>SGST %</th>
                                    <th>SGST</th>
                                    <th>IGST %</th>
                                    <th>IGST</th>
                                    <th>Total Amount</th>
                                </tr>
                            }
                        </thead>

                        <tbody style="font-size: 10px">
                            @foreach (var item in Model.invoicesLine.OrderBy(x => x.createdAt))
                            {

                                <tr>
                                    <td style="font-size: 10px">@item.cost.chargeHeadName</td>
                                    <td style="font-size: 10px">@item.sacCode</td>
                                    @foreach (var item2 in item.invoices.booking.salesInquiry.salesInquiryLine.Where(x => x.chargeHeadId == item.incomeId))
                                    {
                                        <td style="font-size: 10px">@((int)item2.ladenPrice)</td>
                                        <td style="font-size: 10px">@item.currency.currencyName</td>

                                        <td style="font-size: 10px">
                                            @item2.containerLaden.containerName
                                        </td>
                                        <td>
                                            @((int)item2.count)
                                        </td>
                                    }
                                    <td>@item.rate</td>
                                    <td>@item.taxableINR</td>
                                    <td>@item.cgstPercent</td>
                                    <td>@item.cgst</td>
                                    <td>@item.sgstPercent</td>
                                    <td>@item.sgst</td>
                                    <td>@item.igstPercent</td>
                                    <td>@item.igst</td>
                                    <td>@item.incamount</td>

                                </tr>
                            }
                            <tr>
                                <th colspan="7">
                                    <b>Amount In Words</b>
                                </th>
                                <th>@Model.invoicesLine.Sum(x => x.taxableINR)</th>
                                <th colspan="2">@Model.invoicesLine.Sum(x => x.cgst)</th>
                                <th colspan="2">@Model.invoicesLine.Sum(x => x.sgst)</th>
                                <th colspan="2">@Model.invoicesLine.Sum(x => x.igst)</th>
                                <th>@Model.invoicesLine.Sum(x => x.incamount)</th>
                            </tr>
                            <tr>
                                <th colspan="7">
                                    @NetCoreServices.DecimalToWords(@Model.invoicesLine.Sum(x => x.incamount)) ONLY
                                </th>
                                <th colspan="5">
                                    <b>Total Amount INR</b>
                                </th>
                                <th colspan="6">
                                    <b>@Model.invoicesLine.Sum(x => x.incamount)</b>
                                </th>
                            </tr>

                            <tr>
                                <th colspan="15">
                                    <b>Container Numbers</b>
                                </th>
                            </tr>
                            <tr>
                                <td colspan="15">
                                    @foreach (var item in Model.booking.bookingLine)
                                    {
                                        <text>&nbsp;/&nbsp;</text>
                                        @item.containerLaden.containerCode <text> - </text> @item.containerLaden.container.containerName

                                    }

                                </td>

                            </tr>
                            <tr>
                                <td colspan="15">
                                    <b>Note:</b> @Model.remark
                                </td>
                            </tr>


                        </tbody>

                    </table>
                </div>

            </div>


            <div class="row">
                <div class="col-xs-6">
                    <strong><u>BANK DETAILS</u></strong>
                    <br />
                    <address>

                        <strong>Bank Name - </strong>@(Model.branch.bankName)<br>
                        <strong>A/c Title - </strong>@(Model.branch.benificiary)<br>
                        <strong>Account No. - </strong>@(Model.branch.accountNumber)<br>
                        <strong>IBAN - </strong>@(Model.branch.iban)<br>
                        <strong>IFSC - </strong>@(Model.branch.ifsc)<br>
                        <strong>GST No. - </strong>@(Model.branch.gst)<br>
                        <strong>PAN No. - </strong>@(Model.branch.pan)<br>
                        <strong>Business Address - </strong>@(Model.branch.street1) @(Model.branch.Address2) @(Model.branch.city) @(Model.branch.street2)<br />
                        <strong>Contact No. - </strong>@(Model.branch.Contact)<br>
                        <strong>Email - </strong>@(Model.branch.Email)<br>

                    </address>
                </div>
                <div class="col-xs-6">

                    <p>E & OE
                    <p>IF ANY DISCREPENCY IN THE INVOICE BRING IT TO THE NOTICE WITHIN THREE DAYS
                    <p>GST ON TRANSPORTATION CHARGES TO BE PAID BY RECEIPIENT OF SERVICE ON RCM BASIS
                </div>
                <br />

            </div>


            <br />
            <div class="row">
                <div class="col-xs-12">

                    <p>This is a computer generated invoice and does not require signature</p>
                </div>
            </div>

            <br />
            <div class="row no-print pull-right">
                <div class="col-xs-12">

                    <a href="@Url.Action("PrintInvoice", new { id = Model.invoicesId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

                </div>
            </div>


        </section>

    </div>
    @*<section class="invoice">
            <br />
            <div class="col-xs-12" style="font-size: x-small">
                <p>Developed By Over & All Tech © 2020</p>
            </div>
        </section>*@


    @Html.Partial("_AdminlteNetcoreBasicStyles")
    @Html.Partial("_AdminlteNetcoreBasicScripts")



</body>
</html>

@section Scripts {
    <script>
        $(document).ready(function () {

            $('.table').DataTable({
                "lengthChange": true,
                "info": false,
                "searching": false,
                "dom": 'lrtip',
                "scrollX": false,
                "autoWidth": true
            });


        });


    </script>
}


