﻿@model IEnumerable<netcore.Models.Invent.Warehouse>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-cubes";
    ViewData["ListTitle"] = "Warehouse List";
    ViewData["IndexInfo"] = "Warehouse is commercial building for storage of goods or products. One branch office can have single or multiple warehouse.";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().branch.branchName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.customer.customerName)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.warehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.warehouseId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.warehouseId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.warehouseId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch.branchName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.customer.customerName)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.warehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
           

        </tr>
        }
    </tbody>
</table>
