﻿@model netcore.Models.ManageViewModels.JobWiseProfitViewModel
@inject netcore.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
    string controller = (string)ViewContext.RouteData.Values["controller"];
    ApplicationUser appUser = await UserManager.GetUserAsync(User);

}



<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="JobWiseProfitId" />
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="booking" class="control-label"></label>
                    <select asp-for="bookingId" id="bookingId" class="form-control select2" asp-items="ViewBag.bookingId"></select>
                    <span asp-validation-for="bookingId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="fromLocation" class="control-label"></label>
                    <input type="text" readonly asp-for="fromLocation" class="form-control" />
                    <span asp-validation-for="fromLocation" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="toLocation" class="control-label"></label>
                    <input type="text" readonly name="toLocation" asp-for="toLocation" class="form-control" />
                    <span asp-validation-for="toLocation" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="noOfContainers" class="control-label"></label>
                    <input type="text" readonly asp-for="noOfContainers" class="form-control" />
                    <span asp-validation-for="noOfContainers" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="vessel" class="control-label"></label>
                    <input type="text" readonly asp-for="vessel" class="form-control" />
                    <span asp-validation-for="vessel" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="branch" class="control-label"></label>
                    <input type="text" readonly asp-for="branch" class="form-control" />
                    <span asp-validation-for="branch" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="buyExchangeRate" class="control-label"></label>
                    <input type="text" readonly asp-for="buyExchangeRate" class="form-control" />
                    <span asp-validation-for="buyExchangeRate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="sellExchangeRate" class="control-label"></label>
                    <input type="text" readonly asp-for="sellExchangeRate" class="form-control" />
                    <span asp-validation-for="sellExchangeRate" class="text-danger"></span>
                </div>
            </div>

        </div>

    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-tools pull-right">
                <div class="has-feedback">
                    <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>

            <div class="box-body">
                <div class="mailbox-controls">
                    <div class="text-center">
                        <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                        <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                        <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive mailbox-messages">
                            <table id="grid" name="grid" class="table table-striped table-bordered ">
                                <thead>
                                    <tr>
                                        <th>Cost</th>
                                        <th>Cost Amount</th>
                                        <th>Income</th>
                                        <th>Currency</th>
                                        <th>Rate</th>
                                        <th>CGST</th>
                                        <th>SGST</th>
                                        <th>IGST</th>
                                        <th>Inc Amount</th>
                                        <th>Margin</th>

                                        <th></th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

  
            <div class="box-footer">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">

                            <a id="OPL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","InvoicesLine", new { masterid = Model.bookingId })')"><i class="fa fa-plus"></i> Add NewInvoices Line (SHIFT + A)</a>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-footer">
                <div class="form-group">
                    @*<a href="@Url.Action("Finish", new { id = Model.invoicesId })" class="btn btn-danger pull-right"><i class="fa fa-flag-checkered"></i>  Complete & Finish Invoice</a>*@
  
                     <a onclick="FinishInvoice('@Model.bookingId')" class="btn btn-danger pull-right"><i class="fa fa-flag-checkered"></i> Generate PNL</a>
                    
       
                     @*<a asp-action="PrintInvoice" asp-route-id="@Model.invoicesId" class="btn btn-primary pull-left" target="_blank"><i class="fa fa-print"></i> Print Invoice</a>*@
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var popup, dataTable;
        var entity = 'InvoicesLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "lengthChange": false,
                "info": false,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                            {
                                extend: 'csv',
                                filename: '@controller-csv'
                            },
                            {
                                extend: 'pdf',
                                filename: '@controller-pdf'
                            },
                            {
                                extend: 'excel',
                                filename: '@controller-excel'
                            }
                        ],
                "ajax": {
                    "url": apiurl + '?masterid=@Model.bookingId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [

                    { "data": "cost.chargeHeadName" },
                    { "data": "amount" },
                    { "data": "income.chargeHeadName" },
                    { "data": "currency.currencyName" },
                    { "data": "rate" },
                    { "data": "cgst" },
                    { "data": "sgst" },
                    { "data": "igst" },
                    { "data": "incamount" },
                    { "data": "margin" },
                    {
                        "data": "invoicesLineId",
                        "render": function (data) {
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "paging": false,
            });

            $('#mainSearch').keyup(function () {
                dataTable.search($(this).val()).draw();
            })

            $("#btn-export-csv").on("click", function () {
                dataTable.button('.buttons-csv').trigger();
            })

            $("#btn-export-excel").on("click", function () {
                dataTable.button('.buttons-excel').trigger();
            })

            $("#btn-export-pdf").on("click", function () {
                dataTable.button('.buttons-pdf').trigger();
            })
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            popup.modal('hide');
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }



        shortcut.add("shift+a", function() {
            $("#OPL").click();
        });



        function FinishInvoice(id) {
            swal({
                title: "Are you sure want to save and finish the Invoice?",
                text: "You will not be able to edit the Invoice Line data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, finish and save it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    url: '../Finish' + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            swal(data.message);
                            location.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }




    </script>
}


