﻿@model netcore.Models.Invent.Invoices
@inject netcore.Data.ApplicationDbContext Context
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";

    var invoiceTotal = Context.InvoicesLine.Where(x => x.invoicesId == Model.invoicesId).Sum(x => x.incamount);
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="invoicesId" />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="booking" class="control-label"></label>
                    <select asp-for="bookingId" class="form-control select2" asp-items="ViewBag.bookingId"></select>
                    <span asp-validation-for="bookingId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="nblNumber" class="control-label"></label>
                    <input asp-for="nblNumber" class="form-control" />
                    <span asp-validation-for="nblNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="invNumber" class="control-label"></label>
                    <input readonly name="invNumber" asp-for="invNumber" class="form-control" />
                    <span asp-validation-for="invNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="invDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="invDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="invDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="dueDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="dueDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="dueDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="utrNumber" class="control-label"></label>
                    <input asp-for="utrNumber" class="form-control" />
                    <span asp-validation-for="utrNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="totalInvoiceAmount" class="control-label"></label>
                    <input name="totalInvoiceAmount" asp-for="totalInvoiceAmount" class="form-control" readonly />
                    <span asp-validation-for="totalInvoiceAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="supplyTo" class="control-label"></label>
                    <input asp-for="supplyTo" class="form-control" />
                    <span asp-validation-for="supplyTo" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="receiptAmount" class="control-label"></label>
                    <input name="receiptAmount" asp-for="receiptAmount" class="form-control" number min="0" />
                    <span asp-validation-for="receiptAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="tds" class="control-label"></label>
                    <input name="tds" asp-for="tds" class="form-control" number min="0" />
                    <span asp-validation-for="tds" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="receiptDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="receiptDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="receiptDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="netBalance" class="control-label"></label>
                    <input name="netBalance" asp-for="netBalance" class="form-control" readonly />
                    <span asp-validation-for="netBalance" class="text-danger"></span>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="creditDays" class="control-label"></label>
                    <input asp-for="creditDays" class="form-control" number min="0" required />
                    <span asp-validation-for="creditDays" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="branch" class="control-label"></label>
                    <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                    <span asp-validation-for="branchId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="preparedBy" class="control-label"></label>
                    <input asp-for="preparedBy" class="form-control" />
                    <span asp-validation-for="preparedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">

                    <div class="form-group">
                        <label asp-for="status" class="control-label"></label>
                        <select asp-for="status" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.InvoiceStatus>()"></select>
                        <span asp-validation-for="status" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>


        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="remark" class="control-label"></label>
                    <input asp-for="remark" class="form-control" />
                    <span asp-validation-for="remark" class="text-danger"></span>
                </div>
            </div>
        </div>


    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        $('input[name="receiptAmount"]').keyup(function () {
            var totalInvoiceAmount = parseFloat($('input[name="totalInvoiceAmount"]').val());
            var receiptAmount = parseFloat($('input[name="receiptAmount"]').val());
            var tds = parseFloat($('input[name="tds"]').val());
            $('input[name="netBalance"]').val(Math.round((totalInvoiceAmount) - (receiptAmount + tds)));
        });

        $('input[name="tds"]').keyup(function () {
            var totalInvoiceAmount = parseFloat($('input[name="totalInvoiceAmount"]').val());
            var receiptAmount = parseFloat($('input[name="receiptAmount"]').val());
            var tds = parseFloat($('input[name="tds"]').val());
            $('input[name="netBalance"]').val(Math.round((totalInvoiceAmount) - (receiptAmount + tds)));

        });

        $(document).ready(function () {
           /* $('input[name="receiptAmount"]').val(0);
            $('input[name="tds"]').val(0);
            $('input[name="creditDays"]').val(0); */
         /*   $('input[name="netBalance"]').val(0);*/


            //Calculate due date on change of credit days
            $("#creditDays").on("change", function () {
                if ($("#creditDays").val() != "") {
                    var date = new Date($("#dueDate").val()),
                        days = parseInt($("#creditDays").val(), 10);

                    if (!isNaN(date.getTime())) {
                        date.setDate(date.getDate() + days);

                        $("#dueDate").val(date.toInputFormat());
                    } else {
                        alert("Invalid Date");
                    }
                }
                else {
                    var date = new Date($("#invDate").val());
                    date.setDate(date.getDate());
                    $('#dueDate').val(date.toInputFormat());
                }

            });
        });

    </script>
}



