﻿@model netcore.Models.ManageViewModels.JobWiseProfitViewModel
@inject netcore.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
    string controller = (string)ViewContext.RouteData.Values["controller"];
    ApplicationUser appUser = await UserManager.GetUserAsync(User);

}


<div class="box box-primary">
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="JobWiseProfitId" />
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="booking" class="control-label"></label>
                            <select asp-for="bookingId" id="bookingId" class="form-control select2" asp-items="ViewBag.bookingId"></select>
                            <span asp-validation-for="bookingId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="mblNumber" class="control-label"></label>
                            <input type="text" readonly asp-for="mblNumber" id="mblNumber" class="form-control" />
                            <span asp-validation-for="mblNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="fromlocationName" class="control-label"></label>
                            <input type="text" readonly id="fromlocationName" asp-for="fromlocationName" class="form-control" />
                            <span asp-validation-for="fromlocationName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="tolocationName" class="control-label"></label>
                            <input type="text" readonly id="tolocationName" asp-for="tolocationName" class="form-control" />
                            <span asp-validation-for="tolocationName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="noOfContainers" class="control-label"></label>
                            <input type="text" readonly asp-for="noOfContainers" class="form-control" />
                            <span asp-validation-for="noOfContainers" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="vessel" class="control-label"></label>
                            <input type="text" readonly asp-for="vessel" class="form-control" />
                            <span asp-validation-for="vessel" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="branch" class="control-label"></label>
                            <select asp-for="branch" id="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                            <span asp-validation-for="branch" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="buyExchangeRate" class="control-label"></label>
                            <input type="text" readonly asp-for="buyExchangeRate" class="form-control" />
                            <span asp-validation-for="buyExchangeRate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="sellExchangeRate" class="control-label"></label>
                            <input type="text" readonly asp-for="sellExchangeRate" class="form-control" />
                            <span asp-validation-for="sellExchangeRate" class="text-danger"></span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @*<a href="@Url.Action("Finish", new { id = Model.invoicesId })" class="btn btn-danger pull-right"><i class="fa fa-flag-checkered"></i>  Complete & Finish Invoice</a>*@

                            <a onclick="GeneratePNL('@Model.bookingId')" class="btn btn-facebook pull-right"><i class="fa fa-gears"></i> Generate Quick Report</a>


                            @*<a asp-action="PrintInvoice" asp-route-id="@Model.invoicesId" class="btn btn-primary pull-left" target="_blank"><i class="fa fa-print"></i> Print Invoice</a>*@

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">

            @*<div class="box-tools pull-right">
                <div class="has-feedback">
                    <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>*@


            <div class="box-body">
                @*<div class="mailbox-controls">
                        <div class="text-center">
                            <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                            <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                            <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                        </div>
                    </div>*@
                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive mailbox-messages">
                            <table id="grid2" name="grid2" class="table table-striped table-bordered ">
                                <h4>Costs Heads</h4>
                                <thead>
                                    <tr>
                                        <th>Cost Charge Head</th>
                                        <th>Cost Amount</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>


                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="table-responsive mailbox-messages">
                            <table id="grid" name="grid" class="table table-striped table-bordered ">
                                <h4>Income Heads</h4>
                                <thead>
                                    <tr>
                                        <th>Income Charge Head</th>
                                        <th>Income Amount</th>
                                        <th>Margin</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
            </div>


            @*<div class="box-footer">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">

                                <a id="OPL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","InvoicesLine", new { masterid = Model.bookingId })')"><i class="fa fa-plus"></i> Add NewInvoices Line (SHIFT + A)</a>
                            </div>
                        </div>
                    </div>
                </div>*@


        </div>

    </div>

</div>



<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var dataTable;
        var branchId, bookingId;
        initCostGrid();
        initIncomeGrid();
        $("#bookingId").on("change", function () {
            clearAllTextFields();
            //$('#grid').dataTable().fnClearTable();
            branchId = $('#branchId').val();
            bookingId = $('#bookingId').val();
        });

        $("#branchId").on("change", function () {
            clearAllTextFields();
            branchId = $('#branchId').val();
            bookingId = $('#bookingId').val();
        });

        function clearAllTextFields() {
            $('#mblNumber').val('')
            $('#fromlocationName').val('');
            $('#tolocationName').val('');
            $('#noOfContainers').val('');
            $('#vessel').val('');
        }

        function initIncomeGrid() {

                dataTable = $('#grid').DataTable({
                    "lengthChange": false,
                    "info": true,
                    "searching": true,
                    "dom": 'lrtip',
                    "scrollX": false,
                    "data": null,
                    "language": {
                        "emptyTable": "no data found."
                    },
                    "paging": false,
                });
  
        }


        function initCostGrid() {

            dataTable = $('#grid2').DataTable({
                "lengthChange": false,
                "info": true,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "data": null,
                "language": {
                    "emptyTable": "no data found."
                },
                "paging": false,
            });

        }
        

        function loadIncomeGridData(gridData) {
            $('#grid').dataTable().fnClearTable();
            $('#grid').dataTable().fnDraw();
            $('#grid').dataTable().fnDestroy();
            dataTable = $('#grid').DataTable({
                "lengthChange": false,
                "info": true,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "data": gridData,
                "columns": [

                    { "data": "chargeHeadName" },
                    { "data": "incomeAmount" },
                    { "data": "marginAmount" }
                ],
                    "language": {
                    "emptyTable": "no data found."
                },
                "paging": true,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // converting to interger to find total
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // computing column Total of the complete result 
                    var income = api
                        .column(1)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    var margin = api
                        .column(2)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer by showing the total with the reference of the column index 
                    $(api.column(0).footer()).html('Total');
                    $(api.column(1).footer()).html(income);
                    $(api.column(2).footer()).html(margin);
                }
            });

            //$('#mainSearch').keyup(function () {
            //    dataTable.search($(this).val()).draw();
            //})
        }

        function loadCostGridData(gridData) {
            $('#grid2').dataTable().fnClearTable();
            $('#grid2').dataTable().fnDraw();
            $('#grid2').dataTable().fnDestroy();
            dataTable = $('#grid2').DataTable({
                "lengthChange": false,
                "info": true,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "data": gridData,
                "columns": [

                    { "data": "chargeHeadName" },
                    { "data": "costAmount" },
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "paging": true,
                "footerCallback": function (row, data, start, end, display) {
                    var api = this.api(), data;

                    // converting to interger to find total
                    var intVal = function (i) {
                        return typeof i === 'string' ?
                            i.replace(/[\$,]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;
                    };

                    // computing column Total of the complete result 
                    var cost = api
                        .column(1)
                        .data()
                        .reduce(function (a, b) {
                            return intVal(a) + intVal(b);
                        }, 0);

                    // Update footer by showing the total with the reference of the column index 
                    $(api.column(0).footer()).html('Total');
                    $(api.column(1).footer()).html(cost);
                }
            });

            //$('#mainSearch2').keyup(function () {
            //    dataTable.search($(this).val()).draw();
            //})
        }


        

        function GeneratePNL() {
            $.ajax({

                type: 'GET',
                url: '@Url.Action("GeneratePNL", "JobWiseProfit")',
                data: { 'id': bookingId, 'branchId': branchId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success) {
                        clearAllTextFields();
                        $('#mblNumber').val(data.data.mblNumber);
                        $('#fromlocationName').val(data.data.fromlocationName);
                        $('#tolocationName').val(data.data.tolocationName);
                        $('#noOfContainers').val(data.data.noOfContainers);
                        $('#vessel').val(data.data.vessel);
                        loadIncomeGridData(data.data.jobWiseProfitLineViewModel);
                        loadCostGridData(data.data.jobWiseProfitCostLineViewModel);
                        ShowMessage(data.message);
                        //dataTable.ajax.reload();
                    } else {
                        clearAllTextFields();
                        ShowMessageError(data.message);
                        //dataTable.ajax.reload();
                    }
                }
            });


            return false;
        }




        shortcut.add("shift+a", function() {
            $("#OPL").click();
        });



        //function GeneratePNL(id) {

        //    $.ajax({
        //        url: '../GeneratePNL' + '/' + id,
        //        success: function (data) {
        //            if (data.success) {

        //                location.reload();
        //            } else {
        //                ShowMessageError(data.message);
        //            }
        //        }
        //    });



        //}




    </script>
}


