﻿@model netcore.Models.Invent.InvoicesLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="invoicesLineId" />
        <div class="form-group hidden">
            <label asp-for="invoicesId" class="control-label"></label>
            <select asp-for="invoicesId" id="invoicesValueId" class="form-control select2" asp-items="ViewBag.invoicesId"></select>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="cost" class="control-label"></label>
                    <select asp-for="costId" class="form-control select2" asp-items="ViewBag.costId" required></select>
                    <span asp-validation-for="costId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="amount" class="control-label"></label>
                    <input name="amount" asp-for="amount" class="form-control" />
                    <span asp-validation-for="amount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="sacCode" class="control-label"></label>
                    <input asp-for="sacCode" class="form-control" />
                    <span asp-validation-for="sacCode" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="income" class="control-label"></label>
                    <select asp-for="incomeId" id="incomeId" class="form-control select2" asp-items="ViewBag.incomeId" required></select>
                    <span asp-validation-for="incomeId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="type" class="control-label"></label>
                    <select asp-for="type" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ContainerCategory>()"></select>
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="currency" class="control-label"></label>
                    <select asp-for="currencyId" id="currencyId" name="currencyId" class="form-control select2" asp-items="ViewBag.currencyId"></select>
                    <span asp-validation-for="currencyId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="rate" class="control-label"></label>
                    <input name="rate" asp-for="rate" class="form-control" value="1" />
                    <span asp-validation-for="rate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="taxableINR" class="control-label"></label>
                    <input name="taxableINR" asp-for="taxableINR" class="form-control" readonly />
                    <span asp-validation-for="taxableINR" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="cgstPercent" class="control-label"></label>
                    <input name="cgstPercent" id="cgstPercent" asp-for="cgstPercent" class="form-control" />
                    <span asp-validation-for="cgstPercent" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="cgst" class="control-label"></label>
                    <input name="cgst" asp-for="cgst" class="form-control" readonly/>
                    <span asp-validation-for="cgst" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="sgstPercent" class="control-label"></label>
                    <input name="sgstPercent" id="sgstPercent" asp-for="sgstPercent" class="form-control" />
                    <span asp-validation-for="sgstPercent" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="sgst" class="control-label"></label>
                    <input name="sgst" asp-for="sgst" class="form-control" readonly/>
                    <span asp-validation-for="sgst" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="igstPercent" class="control-label"></label>
                    <input name="igstPercent" id="igstPercent" asp-for="igstPercent" class="form-control" />
                    <span asp-validation-for="igstPercent" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="igst" class="control-label"></label>
                    <input name="igst" asp-for="igst" class="form-control" readonly/>
                    <span asp-validation-for="igst" class="text-danger"></span>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="incamount" class="control-label"></label>
                    <input name="incamount" asp-for="incamount" class="form-control" readonly />
                    <span asp-validation-for="incamount" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="margin" class="control-label"></label>
                    <input asp-for="margin" class="form-control" />
                    <span asp-validation-for="margin" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        $('input[name="cgstPercent"]').change(function () {
            var taxableINR = parseFloat($('input[name="taxableINR"]').val());
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="incamount"]').val(Math.round((taxableINR) + (cgst) + (sgst) + (igst)));
        });

        $('input[name="sgstPercent"]').change(function () {
            var taxableINR = parseFloat($('input[name="taxableINR"]').val());
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="incamount"]').val(Math.round((taxableINR) + (cgst) + (sgst) + (igst)));

        });

        $('input[name="igstPercent"]').change(function () {
            var taxableINR = parseFloat($('input[name="taxableINR"]').val());
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="incamount"]').val(Math.round((taxableINR) + (cgst) + (sgst) + (igst)));

        });


        $('input[name="incamount"]').change(function () {
            var income = $('input[name="incamount"]').val();
            var cost = $('input[name="amount"]').val();
            $('input[name="margin"]').val(Math.round(income - cost));

        });

        $('input[name="amount"]').change(function () {
            var income = $('input[name="incamount"]').val();
            var cost = $('input[name="amount"]').val();
            $('input[name="margin"]').val(Math.round(income - cost));

        });



        //On Popup Load
        $(document).ready(function () {
            $('input[name="cgst"]').val(0);
            $('input[name="sgst"]').val(0);
            $('input[name="igst"]').val(0);

            $('input[name="incamount"]').val(null);

            //Get Amount on Income Charge Heads Dropdown Change
            $('#incomeId').on('change', function () {
                var chargeHeadId = $('#incomeId').val();
                var invoiceId = $('#invoicesValueId').val();

                getAmount(chargeHeadId, invoiceId);
            });


            var chargeHeadId = $('#incomeId').val();
            var invoiceId = $('#invoicesValueId').val();

            getAmount(chargeHeadId, invoiceId);


            $('#rate').on('change', function () {
                if ($("#rate").val() != "") {
                    var rate = $('input[name="rate"]').val();
                    var taxableINR = $('input[name="taxableINR"]').val();
                    var total = Math.round(rate * taxableINR);
                    $('input[name="taxableINR"]').val(total);
                }
                else {
                    var chargeHeadId = $('#incomeId').val();
                    var invoiceId = $('#invoicesValueId').val();

                    getAmount(chargeHeadId, invoiceId);
                }
            });


            //CGST Calculations
            $('#cgstPercent').on('keyup', function () {
                var cgstPercent = $('input[name="cgstPercent"]').val();
                var taxableINR = $('input[name="taxableINR"]').val();
                var cgstTotal = parseFloat((taxableINR) * cgstPercent / 100);
                $('input[name="cgst"]').val(cgstTotal);
            });

            //SGST Calculations
            $('#sgstPercent').on('keyup', function () {
                var sgstPercent = $('input[name="sgstPercent"]').val();
                var taxableINR = $('input[name="taxableINR"]').val();
                var sgstTotal = parseFloat((taxableINR) * sgstPercent / 100);
                $('input[name="sgst"]').val(sgstTotal);
            });

            //IGST Calculations
            $('#igstPercent').on('keyup', function () {
                var igstPercent = $('input[name="igstPercent"]').val();
                var taxableINR = $('input[name="taxableINR"]').val();
                var sgstTotal = parseFloat((taxableINR) * igstPercent / 100);
                $('input[name="igst"]').val(sgstTotal);
            });

        });


        //Function to get amount by chargeHead
        function getAmount(chargeHeadId, invoiceId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetAmount", "InvoicesLine")",
                data: { 'chargeHeadId': chargeHeadId, 'invoiceId': invoiceId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="taxableINR"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    alert("Req: " + req);
                    alert("Status: " + status);
                    alert("Error: " + error);
                }
            });
        }


    </script>




}
