﻿@model netcore.Models.Invent.InvoicesLine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="invoicesLineId" />
        <div class="form-group hidden">
            <label asp-for="invoicesId" class="control-label"></label>
            <select asp-for="invoicesId" id="invoicesValueId" class="form-control select2" asp-items="ViewBag.invoicesId"></select>
        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="cost" class="control-label"></label>
                    <select asp-for="costId" class="form-control select2" asp-items="ViewBag.costId" required></select>
                    <span asp-validation-for="costId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="amount" class="control-label"></label>
                    <input name="amount" asp-for="amount" class="form-control" />
                    <span asp-validation-for="amount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="sacCode" class="control-label"></label>
                    <input asp-for="sacCode" class="form-control" />
                    <span asp-validation-for="sacCode" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="income" class="control-label"></label>
                    <select asp-for="incomeId" class="form-control select2" asp-items="ViewBag.incomeId" required></select>
                    <span asp-validation-for="incomeId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="type" class="control-label"></label>
                    <select asp-for="type" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ContainerCategory>()"></select>
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="currency" class="control-label"></label>
                    <select asp-for="currencyId" class="form-control select2" asp-items="ViewBag.currencyId"></select>
                    <span asp-validation-for="currencyId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="rate" class="control-label"></label>
                    <input name="rate" asp-for="rate" class="form-control" />
                    <span asp-validation-for="rate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="cgst" class="control-label"></label>
                    <input name="cgst" asp-for="cgst" class="form-control" />
                    <span asp-validation-for="cgst" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="cgstPercent" class="control-label"></label>
                    <input name="cgstPercent" asp-for="cgstPercent" class="form-control" />
                    <span asp-validation-for="cgstPercent" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="sgst" class="control-label"></label>
                    <input name="sgst" asp-for="sgst" class="form-control" />
                    <span asp-validation-for="sgst" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="sgstPercent" class="control-label"></label>
                    <input name="sgstPercent" asp-for="sgstPercent" class="form-control" />
                    <span asp-validation-for="sgstPercent" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="igst" class="control-label"></label>
                    <input name="igst" asp-for="igst" class="form-control" />
                    <span asp-validation-for="igst" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="igstPercent" class="control-label"></label>
                    <input name="igstPercent" asp-for="igstPercent" class="form-control" />
                    <span asp-validation-for="igstPercent" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="incamount" class="control-label"></label>
                    <input name="incamount" asp-for="incamount" class="form-control" />
                    <span asp-validation-for="incamount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="margin" class="control-label"></label>
                    <input asp-for="margin" class="form-control" />
                    <span asp-validation-for="margin" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('input[name="cgst"]').keyup(function () {
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="incamount"]').val(Math.round((cgst) + (sgst) + (igst)));
        });

        $('input[name="sgst"]').keyup(function () {
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="incamount"]').val(Math.round((cgst) + (sgst) + (igst)));

        });

        $('input[name="igst"]').keyup(function () {
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="incamount"]').val(Math.round((cgst) + (sgst) + (igst)));

        });


        $('input[name="incamount"]').keyup(function () {
            var income = $('input[name="incamount"]').val();
            var cost = $('input[name="amount"]').val();
            $('input[name="margin"]').val(Math.round(income - cost));

        });

        $('input[name="amount"]').keyup(function () {
            var income = $('input[name="incamount"]').val();
            var cost = $('input[name="amount"]').val();
            $('input[name="margin"]').val(Math.round(income - cost));

        });
    </script>
}



