﻿@model netcore.Models.Invent.Shipment

@{
    Layout = "_AdminlteNetcore";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Shipment / Delivery Order
            <small>@Model.shipmentNumber</small>
        </h1>

    </section>
    <div class="pad margin no-print">
        <div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Note:</h4>
            This page has been enhanced for printing. Click the print button at the bottom to print.
        </div>
    </div>
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <img src="/images/Athlon_Logo.png">
                    <small class="pull-right">Date: @Model.shipmentDate.ToString("dd-MMM-yyyy")</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-3 invoice-col">
                <strong>From</strong>
                <address>
                    <strong>@Model.salesOrder.branch.branchName</strong><br>
                    @Model.salesOrder.branch.street1<br>
                    @Model.salesOrder.branch.street2<br>
                    @Model.salesOrder.branch.city<br>
                    @*attn: @Model.salesOrder.picInternal*@
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-3 invoice-col">
                <strong>To Customer</strong>
                <address>
                    <strong>@Model.customer.customerName</strong><br>
                    @Model.customer.street1<br>
                    @Model.customer.street2<br>
                    @Model.customer.city<br>
                    @Model.customer.contact
                    @*attn: @Model.salesOrder.picCustomer*@
                </address>
            </div>

            <div class="col-sm-3 invoice-col">
                <strong>Delivery Address</strong>
                <address>
                    <strong>@Model.customer.customerName</strong><br>
                    @Model.salesOrder.deliveryAddress<br>
                </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-3 invoice-col">
                <b>SO Number</b> @Model.salesOrder.salesOrderNumber<br>
                <b>DO Number</b> @Model.shipmentNumber<br />
                <b>DC Number</b> @Model.salesOrder.deliveryChallanNumber<br />
                <b>SO Date:</b> @Model.salesOrder.soDate.ToString("dd-MMM-yyyy")<br>
                <b>DO Date:</b> @Model.shipmentDate.ToString("dd-MMM-yyyy")<br>

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Serial No</th>
                            <th>Product Model</th>
                            <th>Product Name</th>
                            <th>Qty</th>

                        </tr>
                    </thead>
                    @{ int rowNo = 0; }

                    <tbody>
                        @foreach (var item in Model.shipmentLine.OrderBy(x => x.product.productCode))
                        {
                            <tr>
                                <td>@(rowNo += 1)</td>

                                <td>@item.product.productCode</td>
                                <td>@item.product.productName</td>
                                <td>@item.qty</td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <div class="row">
            <!-- accepted payments column -->
            <div class="col-xs-6">
                <p class="lead">Descriptions:</p>
                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                    @Model.salesOrder.description
                </p>
            </div>
            <div class="col-xs-6">
                <p class="lead">Total</p>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th style="width:50%">Quantity:</th>
                            <td>@Model.shipmentLine.Sum(x => x.qty)</td>
                        </tr>
                        <tr>
                            <th>Weight (Kgs)</th>
                            <td>@Model.shipmentLine.Sum(x => x.totalWeight)</td>
                        </tr>
                        <tr>
                            <th>Price:</th>
                            <td>₹ @(Model.shipmentLine.Sum(x => x.totalAmount))</td>
                        </tr>
                    </table>
                </div>
            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <br />
        <div class="col-sm-3 invoice-col">
            <p class="lead">__________________</p>
            <p class="lead">Signature / Stamp</p>
        </div>
        <!-- this row will not appear when printing -->
        <div class="row no-print">
            <div class="col-xs-12">

                <a href="@Url.Action("PrintDeliveryOrder", new { id = Model.shipmentId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

            </div>
        </div>
    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
</div>
<!-- /.content-wrapper -->
