﻿@model netcore.Models.Invent.Container

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="containerId" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="containerType" class="control-label"></label>
                    <select asp-for="containerType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ContainerType>()"></select>
                    <span asp-validation-for="containerType" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="containerName" class="control-label"></label>
                    <input asp-for="containerName" class="form-control" />
                    <span asp-validation-for="containerName" class="text-danger"></span>
                </div>
            </div>

        </div>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



