﻿@model IEnumerable<netcore.Models.Invent.Container>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-dropbox";
    ViewData["ListTitle"] = "Container";
    //ViewData["IndexInfo"] = "container is a merchandise that can be offered to the market for sell to satisfy demand. Before you can sell Container to customers, you should have the Container stock in hand by buying the Container from vendors.";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.containerName)
            </th>
  
            <th>
                @Html.DisplayNameFor(model => model.containerType)
            </th>




        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.containerId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.containerId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.containerId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.containerName)
            </td>
    
            <td>
                @Html.DisplayFor(modelItem => item.containerType)
            </td>
        </tr>
        }
    </tbody>
</table>
