﻿<!DOCTYPE html>
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{

    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    string controller = (string)ViewContext.RouteData.Values["controller"];
    string listTitle = ViewData["ListTitle"] as string;
    string entityIcon = ViewData["EntityIcon"] as string;
    
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Html.Partial("_AdminlteNetcoreBasicStyles")

    @RenderSection("Styles", required: false)

</head>
<body class="hold-transition skin-blue fixed sidebar-mini">
    <div class="wrapper">
        @Html.Partial("_AdminlteNetcoreMainHeader", appUser)
        <!-- Left side column. contains the logo and sidebar -->
        @Html.Partial("_AdminlteNetcoreMainSidebar", appUser)
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            
            <!-- Main content -->
            <section class="content">
                <div class="row">
                    
                    <div class="col-md-12">
                        
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title"><i class="@entityIcon text-primary"></i> <span>@listTitle</span></h3>
                                <div class="box-tools pull-right">
                                    <div class="has-feedback">
                                        <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                        <br />
                                    </div>
                                </div>

                                <!-- /.box-tools -->
                            </div>
                            <div class="box-header">
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
                                    <a asp-action="Create" class="btn btn-primary margin-bottom form-control"><i class="@entityIcon"></i> <span>New @controller</span></a>

                                </div>
                            </div>
                                </div>
                            <br />
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <div class="mailbox-controls">
                                    <div class="text-center">
                                        <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                                        <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                                        <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                                    </div>
                                </div>


                                <br />
                                <div class="table-responsive mailbox-messages">
                                    @RenderBody()
                                    <!-- /.table -->
                                </div>
                                <!-- /.mail-box-messages -->
                            </div>
                            <!-- /.box-body -->
                            @*<div class="box-footer no-padding">

        </div>*@
                        </div>
                        @*<div class="callout callout-info" style="margin-bottom: 0!important;">
            <h4><i class="fa fa-info"></i> Info:</h4>
            <p>
                @ViewBag.IndexInfo
            </p>
        </div>*@
                    </div>

                    @*<div class="col-md-3">
                        <a asp-action="Create" class="btn btn-primary btn-block margin-bottom"><i class="@entityIcon"></i> <span>New @controller</span></a>

                       

                    </div>*@
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("_AdminlteNetcoreFooter")

    </div>
    <!-- ./wrapper -->

    @Html.Partial("_AdminlteNetcoreBasicScripts")

<script>
        $(document).ready(function () {
            var mainTable;

            mainTable = $('.table').DataTable({
                "lengthChange": true,
                "info": true,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                //'columnDefs': [{

                //    'targets': [11], /* column index */

                //    'orderable': false, /* true or false */

                //}],
                "buttons": [
                            {
                                extend: 'csv',
                                filename: '@controller-csv',
                                title: '@controller'
                            },
                            {
                                //extend: 'pdf',
                                filename: '@controller-pdf',
                                extend: 'pdfHtml5',
                                orientation: 'landscape',
                                pageSize: 'LEGAL',
                                title: '@controller'

                            },
                            {
                                extend: 'excel',
                                filename: '@controller-excel',
                                title: '@controller'

                            }
                        ]
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            })

            $("#btn-export-csv").on("click", function() {
                mainTable.button( '.buttons-csv' ).trigger();
            })

            $("#btn-export-excel").on("click", function() {
                mainTable.button( '.buttons-excel' ).trigger();
            })

            $("#btn-export-pdf").on("click", function() {
                mainTable.button( '.buttons-pdf' ).trigger();
            })


            $(".widget-content").hide();

            $(".btn-show").click(function () {
                $(".widget-content").toggle();
            });

        });

</script>

    @RenderSection("Scripts", required: false)



</body>
</html>
