﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.7.3
    </div>
    <strong>Copyright &copy; 2023 <a href="#">SIFI Tech</a>.</strong> All rights reserved.
    <strong>Design & Developed by <a href="http://overandall.com">OVER AND ALL TECH LLP</a>.</strong>
</footer>