﻿@model netcore.Models.ApplicationUser
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context
@{

    ApplicationUser appUser = await UserManager.GetUserAsync(User);

}
<style>
    span {
        font-size: 15px;
    }

    .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > .treeview-menu, .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > a > span:not(.pull-right) {
        background-color: #374850;
    }
</style>
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        @if (Model != null)
        {
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="@Model.profilePictureUrl" class="img-circle profilePicture" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>@Model.Email</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                </div>
            </div>

        }

        <br />
        @if (appUser != null)
        {
    <ul class="sidebar-menu" data-widget="tree">


        <li class="header">DASHBOARD / INVENTORY</li>
        @if (appUser.HomeRole)
        {
            <li class="@Html.IsSelected(controller: "Home")">
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-bar-chart"></i> <span>Dashboard</span>
                </a>
            </li>
        }
        @if (appUser.ContainerDetailsRole)
        {
            <li class="@Html.IsSelected(controller: "ContainerDetails")">
                <a href="@Url.Action("Index", "ContainerDetails")">
                    <i class="fa fa-archive"></i> <span>Container Inventory</span>
                </a>
            </li>
        }

        @*<li class="treeview menu-open">
            <a href="#">
                <span>DASHBOARD / INVENTORY</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" style="display: block; font-size: large">
                @if (appUser.HomeRole)
                {
                    <li class="@Html.IsSelected(controller: "Home")">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-bar-chart"></i> <span>Dashboard</span>
                        </a>
                    </li>
                }
                @if (appUser.ContainerDetailsRole)
                {
                    <li class="@Html.IsSelected(controller: "ContainerDetails")">
                        <a href="@Url.Action("Index", "ContainerDetails")">
                            <i class="fa fa-archive"></i> <span>Container Inventory</span>
                        </a>
                    </li>
                }
            </ul>
        </li>*@

        @*@if (appUser.StockRole)
        {
            <li class="@Html.IsSelected(controller: "Stock")">
                <a href="@Url.Action("Index", "Stock")">
                    <i class="fa fa-cubes"></i> <span>Stock</span>
                </a>
            </li>
        }*@




        @*<li class="header">PRICING</li>*@

        <li class="header">FREIGHT FORWARDING</li>

        <li class="treeview @Html.IsSelected(controller: "OceanPrice") @Html.IsSelected(controller: "InlandPrice") @Html.IsSelected(controller: "PortPrice") @Html.IsSelected(controller: "LocalPrice")">
            <a href="#">
                <i class="fa fa-rupee"></i><span>Pricings</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu menu-open">
                @if (appUser.OceanPriceRole)
                {
                    <li class="@Html.IsSelected(controller: "OceanPrice")">
                        <a href="@Url.Action("Index", "OceanPrice")">
                            <i class="fa fa-ship"></i> <span>Ocean Pricing</span>
                        </a>
                    </li>
                }

                @if (appUser.InlandPriceRole)
                {
                    <li class="@Html.IsSelected(controller: "InlandPrice")">
                        <a href="@Url.Action("Index", "InlandPrice")">
                            <i class="fa fa-truck"></i> <span>Inland Pricing</span>
                        </a>
                    </li>
                }
                @if (appUser.PortPriceRole)
                {
                    <li class="@Html.IsSelected(controller: "PortPrice")">
                        <a href="@Url.Action("Index", "PortPrice")">
                            <i class="fa fa-globe"></i> <span>Port Pricing</span>
                        </a>
                    </li>
                }
                @if (appUser.PortPriceRole)
                {
                    <li class="@Html.IsSelected(controller: "LocalPrice")">
                        <a href="@Url.Action("Index", "LocalPrice")">
                            <i class="fa fa-map-marker"></i> <span>Local Pricing</span>
                        </a>
                    </li>
                }
            </ul>
        </li>



        @*<li class="header">PRICING</li>*@




        @*<li class="header">SALES</li>*@


        <li class="treeview @Html.IsSelected(controller: "SalesInquiry") @Html.IsSelected(controller: "MultipalRateQuote")">
            <a href="#">
                <i class="fa fa-shopping-bag"></i><span>Sales</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu menu-open">
                @if (appUser.SalesInquiryRole)
                {
                    <li class="@Html.IsSelected(controller: "SalesInquiry")">
                        <a href="@Url.Action("Index", "SalesInquiry")">
                            <i class="fa fa-question-circle"></i> <span>Sales Inquiry</span>
                        </a>
                    </li>
                }

                @if (appUser.MultipalRateQuoteRole)
                {
                    <li class="@Html.IsSelected(controller: "MultipalRateQuote")">
                        <a href="@Url.Action("Index", "MultipalRateQuote")">
                            <i class="fa fa-ship"></i> <span>Multiple Rate Quote</span>
                        </a>
                    </li>
                }
            </ul>
        </li>


        <li class="treeview @Html.IsSelected(controller: "PurchaseInvoice", action:"Index")">
            <a href="#">
                <i class="fa fa-dollar"></i><span>Purchase</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu menu-open">
                @if (appUser.PurchaseInvoiceRole)
                {
                    <li class="@Html.IsSelected(controller: "PurchaseInvoice", action:"Index")">
                        <a href="@Url.Action("Index", "PurchaseInvoice")">
                            <i class="fa fa-files-o"></i> <span>Purchase Invoice</span>
                        </a>
                    </li>
                }

            </ul>
        </li>



        @*<li class="header">BOOKINGS</li>*@


        <li class="treeview @Html.IsSelected(controller: "BookingSlot") @Html.IsSelected(controller: "Booking", action:"Index")">
            <a href="#">
                <i class="fa fa-book"></i><span>Bookings</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu menu-open">
                @if (appUser.BookingSlotRole)
                {
                    <li class="@Html.IsSelected(controller: "BookingSlot")">
                        <a href="@Url.Action("Index", "BookingSlot")">
                            <i class="fa fa-circle-o-notch"></i> <span>Booking Slots</span>
                        </a>
                    </li>
                }
                @if (appUser.BookingRole)
                {
                    <li class="@Html.IsSelected(controller: "Booking", action:"Index")">
                        <a href="@Url.Action("Index", "Booking")">
                            <i class="fa fa-ticket"></i> <span>Booking Entry</span>
                        </a>
                    </li>
                }
            </ul>
        </li>



        @*<li class="treeview menu-open">
            <a href="#">
                <span>Bookings</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu" style="display: block; font-size: large">
                @if (appUser.BookingSlotRole)
                {
                    <li class="@Html.IsSelected(controller: "BookingSlot")">
                        <a href="@Url.Action("Index", "BookingSlot")">
                            <i class="fa fa-circle-o-notch"></i> <span>Booking Slots</span>
                        </a>
                    </li>
                }
                @if (appUser.BookingRole)
                {
                    <li class="@Html.IsSelected(controller: "Booking")">
                        <a href="@Url.Action("Index", "Booking")">
                            <i class="fa fa-ticket"></i> <span>Booking Entry</span>
                        </a>
                    </li>
                }
            </ul>
        </li>*@




        @*<li class="header">EXPORT</li>*@

        <li class="treeview @Html.IsSelected(controller: "ExportOperation", action:"Index") @Html.IsSelected(controller: "BillOfLoading")">
            <a href="#">
                <i class="fa fa-arrow-up"></i><span>Exports</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu menu-open">
                @if (appUser.ExportOperationRole)
                {
                    <li class="@Html.IsSelected(controller: "ExportOperation", action:"Index")">
                        <a href="@Url.Action("Index", "ExportOperation")">
                            <i class="fa fa-arrow-circle-up"></i> <span>Export Operation</span>
                        </a>
                    </li>
                }
                @if (appUser.BillOfLoadingRole)
                {
                    <li class="@Html.IsSelected(controller: "BillOfLoading")">
                        <a href="@Url.Action("Index", "BillOfLoading")">
                            <i class="fa fa-file"></i> <span>Bill Of Lading</span>
                        </a>
                    </li>
                }

            </ul>
        </li>


        @*@if (appUser.ExportOperationRole)
        {
            <li class="@Html.IsSelected(controller: "ExportOperation")">
                <a href="@Url.Action("Index", "ExportOperation")">
                    <i class="fa fa-arrow-circle-up"></i> <span>Export Operation</span>
                </a>
            </li>
        }
        @if (appUser.BillOfLoadingRole)
        {
            <li class="@Html.IsSelected(controller: "BillOfLoading")">
                <a href="@Url.Action("Index", "BillOfLoading")">
                    <i class="fa fa-file"></i> <span>Bill Of Lading</span>
                </a>
            </li>
        }*@



        @*<li class="header">IMPORTS</li>*@


        <li class="treeview @Html.IsSelected(controller: "ImportOperation",action:"Index")">
            <a href="#">
                <i class="fa fa-arrow-down"></i><span>Imports</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu menu-open">
                @if (appUser.ImportOperationRole)
                {
                    <li class="@Html.IsSelected(controller: "ImportOperation", action:"Index")">
                        <a href="@Url.Action("Index", "ImportOperation")">
                            <i class="fa fa-arrow-circle-down"></i> <span>Import Operation</span>
                        </a>
                    </li>
                }
            </ul>
        </li>


        @*<li class="header">INVOICING</li>*@

        @if (appUser.InvoicesRole)
        {
            <li class="@Html.IsSelected(controller: "Invoices", action:"Index")">
                <a href="@Url.Action("Index", "Invoices")">
                    <i class="fa fa-files-o"></i> <span>Invoices</span>
                </a>
            </li>
        }

        @if (appUser.JobWiseProfitRole)
        {
            <li class="@Html.IsSelected(controller: "JobWiseProfit", action:"Index")">
                <a href="@Url.Action("Index", "JobWiseProfit")">
                    <i class="fa fa-line-chart"></i> <span>Job Wise Report</span>
                </a>
            </li>
        }


        <li class="treeview @Html.IsSelected(controller: "ExportOperation", action:"LineIndex")@Html.IsSelected(controller: "Booking", action:"LineIndex")@Html.IsSelected(controller: "ImportOperation", action:"LineIndex")@Html.IsSelected(controller: "Invoices", action:"LineIndex")@Html.IsSelected(controller: "PurchaseInvoice", action:"LineIndex")">
            <a href="#">
                <i class="fa fa-bar-chart "></i><span>Line Reports</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu menu-open">
                <li class="@Html.IsSelected(controller: "Booking", action:"LineIndex")">
                    <a href="@Url.Action("LineIndex", "Booking")">
                        <i class="fa fa-ticket"></i> <span>Booking Line</span>
                    </a>
                </li>
                <li class="@Html.IsSelected(controller: "ExportOperation", action:"LineIndex")">
                    <a href="@Url.Action("LineIndex", "ExportOperation")">
                        <i class="fa fa-arrow-circle-up"></i> <span>Export Line</span>
                    </a>
                </li>
                <li class="@Html.IsSelected(controller: "ImportOperation", action:"LineIndex")">
                    <a href="@Url.Action("LineIndex", "ImportOperation")">
                        <i class="fa fa-arrow-circle-down"></i> <span>Import Line</span>
                    </a>
                </li>
                <li class="@Html.IsSelected(controller: "PurchaseInvoice", action:"LineIndex")">
                    <a href="@Url.Action("LineIndex", "PurchaseInvoice")">
                        <i class="fa fa-dollar"></i> <span>Purchase Invoice Line</span>
                    </a>
                </li>
                <li class="@Html.IsSelected(controller: "Invoices", action:"LineIndex")">
                    <a href="@Url.Action("LineIndex", "Invoices")">
                        <i class="fa fa-files-o"></i> <span>Invoices Line</span>
                    </a>
                </li>

            </ul>

        </li>


        @*<li class="treeview @Html.IsSelected(controller: "Invoices")">
            <a href="#">
                <i class="fa fa-file"></i><span>Invoicing</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu menu-open">
                @if (appUser.InvoicesRole)
                {
                    <li class="@Html.IsSelected(controller: "Invoices")">
                        <a href="@Url.Action("Index", "Invoices")">
                            <i class="fa fa-files-o"></i> <span>Invoices</span>
                        </a>
                    </li>
                }
            </ul>
        </li>*@


        <li class="treeview @Html.IsSelected(controller: "Vendor") @Html.IsSelected(controller: "Customer") @Html.IsSelected(controller: "ChargeHead") @Html.IsSelected(controller: "Container") @Html.IsSelected(controller: "Container") @Html.IsSelected(controller: "Currency") @Html.IsSelected(controller: "Branch") @Html.IsSelected(controller: "Location")">
            <a href="#">
                <i class="fa fa-database"></i><span>Masters</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left pull-right"></i>
                </span>
            </a>
            <ul class="treeview-menu menu-open">
                @if (appUser.VendorRole)
                {
                    <li class="@Html.IsSelected(controller: "Vendor")">
                        <a href="@Url.Action("Index", "Vendor")">
                            <i class="fa fa-industry"></i> <span>Vendor</span>
                        </a>
                    </li>
                }

                @if (appUser.CustomerRole)
                {
                    <li class="@Html.IsSelected(controller: "Customer")">
                        <a href="@Url.Action("Index", "Customer")">
                            <i class="fa fa-user-plus"></i> <span>Customer</span>
                        </a>
                    </li>
                }

                @if (appUser.ChargeHeadRole)
                {
                    <li class="@Html.IsSelected(controller: "ChargeHead")">
                        <a href="@Url.Action("Index", "ChargeHead")">
                            <i class="fa fa-tags"></i> <span>Charge Head</span>
                        </a>
                    </li>
                }

                @if (appUser.ContainerRole)
                {
                    <li class="@Html.IsSelected(controller: "Container")">
                        <a href="@Url.Action("Index", "Container")">
                            <i class="fa fa-dropbox"></i> <span>Container</span>
                        </a>
                    </li>
                }

                @if (appUser.CurrencyRole)
                {
                    <li class="@Html.IsSelected(controller: "Currency")">
                        <a href="@Url.Action("Index", "Currency")">
                            <i class="fa fa-money"></i> <span>Currency</span>
                        </a>
                    </li>
                }

                @if (appUser.BranchRole)
                {
                    <li class="@Html.IsSelected(controller: "Branch")">
                        <a href="@Url.Action("Index", "Branch")">
                            <i class="fa fa-building-o"></i> <span>Branch</span>
                        </a>
                    </li>
                }


                @if (appUser.LocationRole)
                {
                    <li class="@Html.IsSelected(controller: "Location")">
                        <a href="@Url.Action("Index", "Location")">
                            <i class="fa fa-location-arrow"></i> <span>Location</span>
                        </a>
                    </li>
                }
            </ul>
        </li>




        @if (appUser.ApplicationUserRole)
        {
            <li class="header">PERMISSIONS</li>
            <li class="@Html.IsSelected(controller: "ApplicationUser")">
                <a href="@Url.Action("Index", "ApplicationUser")">
                    <i class="fa fa-users"></i> <span>User Roles</span>
                </a>
            </li>

        }

        @*<li class="header">BONUS TEMPLATE</li>
        <li class="@Html.IsSelected(controller: "Adminlte", action: "Dashboardv1")">
            <a href="@lte.MVC.Pages.Dashbaordv1.Url" target="_blank">
                <i class="fa fa-gears"></i> <span>Demo</span>
            </a>
        </li>*@
    </ul>

        }



    </section>
    <!-- /.sidebar -->
</aside>
