﻿@model netcore.Models.Invent.PortPrice
@inject netcore.Data.ApplicationDbContext _context;

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-industry";
    ViewData["DeleteInfo"] = "Services Providers that already have transactions (PO) can not be deleted.";
    //netcore.Models.Invent.PurchaseOrder purchaseOrder = _context.PurchaseOrder.Where(x => x.vendorId.Equals(Model.vendorId)).FirstOrDefault();
    ViewData["IsCanDeleted"] = true;
    //if (purchaseOrder == null)
    //{
    //    ViewData["IsCanDeleted"] = true;
    //}
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.portPriceNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.portPriceNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.branch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.branch.branchName)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.countries)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.countries)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.location.locationName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.vendor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.vendor.vendorName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.portPriceDate)
        </dt>
        <dd>
            @Convert.ToDateTime(Model.portPriceDate).ToString("dd/MM/yyyy")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.fromDate)
        </dt>
        <dd>
            @Convert.ToDateTime(Model.fromDate).ToString("dd/MM/yyyy")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.toDate)
        </dt>
        <dd>
            @Convert.ToDateTime(Model.toDate).ToString("dd/MM/yyyy")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.remark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.remark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd>
            @Convert.ToDateTime(Model.createdAt).ToString("dd/MM/yyyy")
        </dd>
    </dl>

</div>
