﻿@model netcore.Models.Invent.PortPrice

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-industry";
}



<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.portPriceNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.portPriceNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.branch)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.branch.branchName)
                        </dd>
                        @*<dt>
            @Html.DisplayNameFor(model => model.countries)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.countries)
        </dd>*@
                        <dt>
                            @Html.DisplayNameFor(model => model.location)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.location.locationName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.vendor)
                        </dt>
                        <dd>
                            @{
                                var vendorNameLoc = String.Concat(Model.vendor.vendorName + " (" + Model.vendor.countries.GetDisplayName() + ", " + Model.vendor.city + ")");

                                @Html.DisplayFor(model => vendorNameLoc)
                            }
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.portPriceDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.portPriceDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.fromDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.fromDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.toDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.toDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.remark)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.remark)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.createdAt)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.createdAt).ToString("dd/MM/yyyy")
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.portPriceId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-2">
    </div>
</div>


<div class="row">
    <div class="col-md-12">
     
        <div class="box box-primary">

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="grid" name="grid" class="table table-striped table-bordered">
                            <caption style="color: #333; font-weight:600"><center>Port Price Line</center></caption>
                            <thead>
                                <tr>
                                    <th>Charge Head</th>
                                    <th>Currency</th>
                                    <th>Part</th>
                                    <th>Container Category</th>
                                    <th>Container (Laden)</th>
                                    <th>Laden Price</th>
                                    <th>Container (Empty)</th>
                                    <th>Empty Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
      
            <div class="box-footer">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","PortPriceLine", new { masterid = Model.portPriceId })')"><i class="fa fa-plus"></i> Add New Port Price </a>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
   
    </div>
    </div>

<div class="row">

    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="grid2" name="grid2" class="table table-striped table-bordered">
                            <caption style="color: #333; font-weight:600"><center>Port Storage Price Line</center></caption>
                            <thead>
                                <tr>
                                    <th>Charge Head</th>
                                    <th>20" Price</th>
                                    <th>40" Price</th>
                                    <th>From Day</th>
                                    <th>To Day</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

            <div class="box-footer">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup2('@Url.Action("Create","PortStoragePriceLine", new { masterid = Model.portPriceId })')"><i class="fa fa-plus"></i> Add New Port Storage Price </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


@*<div class="modal modal-primary fade" id="modalDefault2">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>*@





@section Scripts{
    <script>
        var popup, dataTable;
        var entity = 'PortPriceLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.portPriceId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "chargeHead.chargeHeadName" },
                    { "data": "currency.currencyCode" },
                    { "data": "part" },
                    { "data": "containerCategory" },
                    { "data": "containerLaden.containerName" },
                    { "data": "ladenPrice" },
                    { "data": "containerEmpty.containerName" },
                    { "data": "emptyPrice" },

                    {
                        "data": "portPriceLineId",
                        "render": function (data) {
                            var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";

                            return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false,
            });
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }

        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });
        }





        var popup2, dataTable2;
        var entity2 = 'PortStoragePriceLine';
        var apiurl2 = '/api/' + entity2;

        $(document).ready(function () {
            dataTable2 = $('#grid2').DataTable({
                "ajax": {
                    "url": apiurl2 + '?masterid=@Model.portPriceId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "chargeHead.chargeHeadName" },
                    { "data": "twentyPrice" },
                    { "data": "fortyPrice" },
                    { "data": "fromDay" },
                    { "data": "toDay" },

                    {
                        "data": "portStoragePriceLineId",
                        "render": function (data) {
                            var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup2('/" + entity2 + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete2('" + data + "')><i class='fa fa-trash'></i></a>";

                            return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false,
            });
        });


        function ShowPopup2(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup2 = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }

        function SubmitAddEdit2(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl2,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup2.modal('hide');
                            ShowMessage(data.message);
                            dataTable2.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });

            }
            return false;
        }

        function Delete2(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl2 + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable2.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });
        }

    </script>
}

