﻿@model IEnumerable<netcore.Models.Invent.PortPrice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-globe";
    ViewData["ListTitle"] = "Port Pricing";
    ViewData["IndexInfo"] = "Port Price is an organization that supplies products to your company. Your company buy products from them.";
}


<table class="table table-hover table-striped" style="width:100%" height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.portPriceNumber)
            </th>
            <th class="hidden">
                @Html.DisplayNameFor(model => model.branch)
            </th>
            @*<th class="hidden">
            @Html.DisplayNameFor(model => model.countries)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portPriceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remark)
            </th>
            <th>
                Port Lines &nbsp;

                <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

            </th>
            <th>
                Storage Lines &nbsp;

                <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var vendorNameLoc = String.Concat(item.vendor.vendorName + " (" + item.vendor.countries.GetDisplayName() + ", " + item.vendor.city + ")");

        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.portPriceId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.portPriceId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.portPriceId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.portPriceNumber)
            </td>
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.branch.branchName)
            </td>
            @*<td class="hidden">
            @Html.DisplayFor(modelItem => item.countries)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.location.locationName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => vendorNameLoc)
            </td>
            <td>
                @item.portPriceDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.remark)
            </td>
            <td>

                @foreach (var portPriceLine in item.portPriceLine)
                {

                    <div style="font-size:10px; width: 100%" class="widget-content">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Charge Head. -</strong> @Html.DisplayFor(modelItem => portPriceLine.chargeHead.chargeHeadName)
                            </div>
                            <div class="col-md-6">
                                <strong>Currency -</strong> @Html.DisplayFor(modelItem => portPriceLine.currency.currencyCode)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <strong>Part -</strong> @Html.DisplayFor(modelItem => portPriceLine.part)
                            </div>
                            <div class="col-md-6">
                                <strong>Category -</strong> @Html.DisplayFor(modelItem => portPriceLine.containerCategory)
                            </div>
                        </div>

                        <div class="row">
                            @if (portPriceLine.containerLaden.containerName != null)
                            {
                                <div class="col-md-6">
                                    <strong>Laden. -</strong> @Html.DisplayFor(modelItem => portPriceLine.containerLaden.containerName)
                                </div>
                            }
                            @if (portPriceLine.ladenPrice > 0)
                            {
                                <div class="col-md-6">
                                    <strong>Price -</strong> @Html.DisplayFor(modelItem => portPriceLine.ladenPrice)
                                </div>
                            }

                        </div>

                        <div class="row">
                            @if (portPriceLine.containerEmpty.containerName != null)
                            {
                                <div class="col-md-6">
                                    <strong>Empty -</strong> @Html.DisplayFor(modelItem => portPriceLine.containerEmpty.containerName)
                                </div>
                            }
                            @if (portPriceLine.emptyPrice > 0)
                            {
                                <div class="col-md-6">
                                    <strong>Price. -</strong> @Html.DisplayFor(modelItem => portPriceLine.emptyPrice)
                                </div>
                            }
                        </div>
                        <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                    </div>

                }

            </td>

            <td>

                @foreach (var portStoragePriceLine in item.portStoragePriceLine)
                {

                <div style="font-size:10px; width: 100%" class="widget-content">
                    <div class="row">
                        <div class="col-md-12">
                            <strong>Charge Head. -</strong> @Html.DisplayFor(modelItem => portStoragePriceLine.chargeHead.chargeHeadName)
                        </div>
                    </div>

                    <div class="row">
                        @if (portStoragePriceLine.twentyPrice > 0)
                        {
                            <div class="col-md-6">
                                <strong>20 Price. -</strong> @Html.DisplayFor(modelItem => portStoragePriceLine.twentyPrice)
                            </div>
                        }
                        @if (portStoragePriceLine.fortyPrice > 0)
                        {
                            <div class="col-md-6">
                                <strong>40 Price. -</strong> @Html.DisplayFor(modelItem => portStoragePriceLine.fortyPrice)
                            </div>
                        }

                    </div>
                    <div class="row">
                        @if (portStoragePriceLine.fromDay > 0)
                        {
                            <div class="col-md-6">
                                <strong>From Day. -</strong> @Html.DisplayFor(modelItem => portStoragePriceLine.fromDay)
                            </div>
                        }
                        @if (portStoragePriceLine.toDay > 0)
                        {
                            <div class="col-md-6">
                                <strong>To Day. -</strong> @Html.DisplayFor(modelItem => portStoragePriceLine.toDay)
                            </div>
                        }

                    </div>

                    <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                </div>

                }

            </td>

        </tr>
        }
    </tbody>
</table>
