﻿@model netcore.Models.Invent.MultipalRateQuote

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["DeleteInfo"] = "[Completed] Purchase Order (PO) can not be deleted. Rollback status to [Open] by deleting related Purchase Receive (Receiving)";
    ViewData["IsCanDeleted"] = true;
    //if (Model.purchaseOrderStatus != netcore.Models.Invent.PurchaseOrderStatus.Completed)
    //{
    //    ViewData["IsCanDeleted"] = true;
    //}
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.multipalRateQuoteNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.multipalRateQuoteNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.branch.branchName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.branch.branchName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.fromDate)
            </dt>
            <dd>
                @Convert.ToDateTime(Model.fromDate).ToString("dd/MM/yyyy")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.customer)
            </dt>
            <dd>
                @{
                    var customerNameLoc = String.Concat(Model.customer.customerName + " (" + Model.customer.country.GetDisplayName() + ", " + Model.customer.city + ")");

                    @Html.DisplayFor(model => customerNameLoc)
                }
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.multipalRateQuoteDate)
            </dt>
            <dd>
                @Convert.ToDateTime(Model.multipalRateQuoteDate).ToString("dd/MM/yyyy")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.fromDate)
            </dt>
            <dd>
                @Convert.ToDateTime(Model.fromDate).ToString("dd/MM/yyyy")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.toDate)
            </dt>
            <dd>
                @Convert.ToDateTime(Model.toDate).ToString("dd/MM/yyyy")
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.remark)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.remark)
            </dd>
        </dl>
    </div>


</div>
