﻿@model netcore.Models.Invent.MultipalRateQuote

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";

    string controller = (string)ViewContext.RouteData.Values["controller"];

}



<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.multipalRateQuoteNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.multipalRateQuoteNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.branch)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.branch.branchName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.customer)
                        </dt>
                        <dd>
                            @{
                                var customerNameLoc = String.Concat(Model.customer.customerName + " (" + Model.customer.country.GetDisplayName() + ", " + Model.customer.city + ")");

                                @Html.DisplayFor(model => customerNameLoc)
                            }
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.multipalRateQuoteDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.multipalRateQuoteDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.fromDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.fromDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.toDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.toDate).ToString("dd/MM/yyyy")
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        
                  
                        <dt>
                            @Html.DisplayNameFor(model => model.remark)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.remark)
                        </dd>
                    </dl>
                </div>
  
            </div>
       
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.multipalRateQuoteId" class="btn btn-primary">Edit</a>
                    <a asp-action="ShowMultipalRateQuote" asp-route-id="@Model.multipalRateQuoteId" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Print Multipal Rate Quote</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
   
        </div>
  
    </div>
    @*<div class="col-md-3">
        </div>*@
</div>


<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-tools pull-right">
                <div class="has-feedback">
                    <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
            <div class="box-body">
                <div class="mailbox-controls">
                    <div class="text-center">
                        <button type="button" id="btn-export-excel" class="btn btn-success btn-sm"><i class="fa fa-file-excel-o"></i></button>
                        <button type="button" id="btn-export-pdf" class="btn btn-danger btn-sm"><i class="fa fa-file-pdf-o"></i></button>
                        <button type="button" id="btn-export-csv" class="btn btn-primary btn-sm"><i class="fa fa-file-text-o"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive mailbox-messages">

                            <table id="grid" name="grid" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Charge Head</th>
                                        <th>Currency</th>
                                        <th>From Location</th>
                                        <th>To Location</th>
                                        <th>Container (Laden)</th>
                                        <th>Laden Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        </div>
                    </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">

                            <a id="OPL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","MultipalRateQuoteLine", new { masterid = Model.multipalRateQuoteId })')"><i class="fa fa-plus"></i> Add New Multipal Rate Quote Price (SHIFT + A)</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    @*<div class="col-md-3">

        </div>*@
</div>



<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var popup, dataTable;
        var entity = 'MultipalRateQuoteLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                 "lengthChange": false,
                "info": false,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false,
                "buttons": [
                            {
                                extend: 'csv',
                                filename: '@controller-csv'
                            },
                            {
                                extend: 'pdf',
                                filename: '@controller-pdf'
                            },
                            {
                                extend: 'excel',
                                filename: '@controller-excel'
                            }
                        ],
                "ajax": {
                    "url": apiurl + '?masterid=@Model.multipalRateQuoteId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "chargeHead.chargeHeadName" },
                    { "data": "currency.currencyCode" },
                    { "data": "fromLocation.locationName" },
                    { "data": "toLocation.locationName" },
                    { "data": "containerLaden.containerName" },
                    { "data": "ladenPrice" },
                    {
                        "data": "multipalRateQuoteLineId",
                        "render": function (data) {
                            var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                            return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
        
                "paging": false,
            });
            $('#mainSearch').keyup(function () {
                dataTable.search($(this).val()).draw();
            })

            $("#btn-export-csv").on("click", function () {
                dataTable.button('.buttons-csv').trigger();
            })

            $("#btn-export-excel").on("click", function () {
                dataTable.button('.buttons-excel').trigger();
            })

            $("#btn-export-pdf").on("click", function () {
                dataTable.button('.buttons-pdf').trigger();
            })
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            popup.modal('hide');
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }



        shortcut.add("shift+a", function() {
            $("#OPL").click();
        });

    </script>
}

