﻿@model IEnumerable<netcore.Models.Invent.MultipalRateQuote>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-ship";
    ViewData["ListTitle"] = "Multiple Rate Quote";
    //ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}


<table class="table table-hover table-striped" style="width:100%"  height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.multipalRateQuoteNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.multipalRateQuoteDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.toDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preparedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                MRQ Lines &nbsp;

                <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var customerNameLoc = String.Concat(item.customer.customerName + " (" + item.customer.country.GetDisplayName() + ", " + item.customer.city + ")");
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.multipalRateQuoteId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.multipalRateQuoteId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.multipalRateQuoteId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.multipalRateQuoteNumber)
            </td>
            <td>
                @item.multipalRateQuoteDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch.branchName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => customerNameLoc)
            </td>

            <td>
                @item.fromDate.Date.ToString("dd-MMM-yyyy")
            </td>

            <td>
                @item.toDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preparedBy)
            </td>
            <td>
                @if (item.status == netcore.Models.Invent.Status.DRAFT)
                {
                    <div style="color: orange">
                        <b>@Html.DisplayFor(modelItem => item.status)</b>

                    </div>
                }
                else
                {
                    <div style="color: forestgreen">
                        <b>@Html.DisplayFor(modelItem => item.status)</b>

                    </div>
                }

            </td>
            <td>

                @foreach (var multipalRateQuoteLine in item.multipalRateQuoteLine)
                {


                <div style="font-size:10px; width: 100%" class="widget-content">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Charge Head. -</strong> @Html.DisplayFor(modelItem => multipalRateQuoteLine.chargeHead.chargeHeadName)
                        </div>
                        <div class="col-md-6">
                            <strong>Currency -</strong> @Html.DisplayFor(modelItem => multipalRateQuoteLine.currency.currencyCode)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>From. -</strong> @Html.DisplayFor(modelItem => multipalRateQuoteLine.fromLocation.locationCode)
                        </div>
                        <div class="col-md-6">
                            <strong>To -</strong> @Html.DisplayFor(modelItem => multipalRateQuoteLine.toLocation.locationCode)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>VIA -</strong> @Html.DisplayFor(modelItem => multipalRateQuoteLine.via)
                        </div>
                        @if (multipalRateQuoteLine.trpPort != null)
                        {
                            <div class="col-md-6">
                                <strong>TRP. -</strong> @Html.DisplayFor(modelItem => multipalRateQuoteLine.trpPort.locationCode)
                            </div>
                        }
                        <div class="col-md-6">
                            <strong>MODE -</strong> @Html.DisplayFor(modelItem => multipalRateQuoteLine.mode)
                        </div>
                    </div>

                    <div class="row">
                        @if (multipalRateQuoteLine.containerLaden.containerName != null)
                        {
                            <div class="col-md-6">
                                <strong>Laden. -</strong> @Html.DisplayFor(modelItem => multipalRateQuoteLine.containerLaden.containerName)
                            </div>
                        }
                        @if (multipalRateQuoteLine.ladenPrice > 0)
                        {
                            <div class="col-md-6">
                                <strong>Price -</strong> @Html.DisplayFor(modelItem => multipalRateQuoteLine.ladenPrice)
                            </div>
                        }

                    </div>

                    <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                </div>

                }

            </td>


        </tr>
        }
    </tbody>
</table>
