﻿@model IEnumerable<netcore.Models.Invent.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-user-plus";
    ViewData["ListTitle"] = "Customer";
    ViewData["IndexInfo"] = "Customer is an organization that buy products from your company. You sell products to them.";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.customerName)
            </th>

            @*<th>
                @Html.DisplayNameFor(model => model.registrationExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serviceDate)
            </th>*@
            <th class="hidden">
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th >
                @Html.DisplayNameFor(model => model.size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.street1)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.province)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.street2)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.country)
            </th>*@

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.customerId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.customerId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.customerId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            @*<td>
    
                @if (item.registrationExpDate < DateTime.Now.Date)
                {
                    <span style="color:red;">
                        @item.registrationExpDate.Date.ToString("dd-MMM-yyyy")
                    </span>
                }
                else if (item.registrationExpDate < DateTime.Now.Date.AddDays(15))
                {
                    <span style="color:orange;">
                        @item.registrationExpDate.Date.ToString("dd-MMM-yyyy")
                    </span>
                }
                else
                {
                    <span style="color:green;">@item.registrationExpDate.Date.ToString("dd-MMM-yyyy")</span>
                }

            </td>*@
            @*<td>
                @if(item.serviceDate < DateTime.Now.Date)
                {
                    <span style="color:red;">
                        @item.serviceDate.Date.ToString("dd-MMM-yyyy")
                    </span>
                }
                else if  (item.serviceDate < DateTime.Now.Date.AddDays(3))
                {
                    <span style="color:orange;">
                        @item.serviceDate.Date.ToString("dd-MMM-yyyy")
                    </span>
                }
                else
                {
                    <span style="color:green;">@item.serviceDate.Date.ToString("dd-MMM-yyyy")</span>
                }


               
            </td>*@
            <td class="hidden">
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street1)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.street2)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.country)
            </td>*@

        </tr>
        }
    </tbody>
</table>
