﻿@model IEnumerable<netcore.Models.Invent.LocalPrice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-map-marker";
    ViewData["ListTitle"] = "Local Pricing";
    //ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}


<table class="table table-hover table-striped" style="width:100%" height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.localPriceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.localPriceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preparedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                Local Lines &nbsp;

                <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var vendorNameLoc = String.Concat(item.vendor.vendorName + " (" + item.vendor.countries.GetDisplayName() + ", " + item.vendor.city + ")");

        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.localPriceId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.localPriceId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.localPriceId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.localPriceNumber)
            </td>
            <td>
                @item.localPriceDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch.branchName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => vendorNameLoc)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.location.locationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preparedBy)
            </td>

            <td>
                @if (item.status == netcore.Models.Invent.Status.DRAFT)
                {
                    <div style="color: orange">
                        <b>@Html.DisplayFor(modelItem => item.status)</b>

                    </div>
                }
                else
                {
                    <div style="color: forestgreen">
                        <b>@Html.DisplayFor(modelItem => item.status)</b>

                    </div>
                }

            </td>

            <td>

                @foreach (var localPriceLine in item.localPriceLine)
                {


                    <div style="font-size:10px; width: 100%" class="widget-content">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Charge Head. -</strong> @Html.DisplayFor(modelItem => localPriceLine.chargeHead.chargeHeadName)
                            </div>
                            <div class="col-md-6">
                                <strong>Currency -</strong> @Html.DisplayFor(modelItem => localPriceLine.currency.currencyCode)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <strong>Part -</strong> @Html.DisplayFor(modelItem => localPriceLine.part)
                            </div>
                            <div class="col-md-6">
                                <strong>Category -</strong> @Html.DisplayFor(modelItem => localPriceLine.containerCategory)
                            </div>
                        </div>

                        <div class="row">
                            @if (localPriceLine.containerLaden.containerName != null)
                            {
                                <div class="col-md-6">
                                    <strong>Laden. -</strong> @Html.DisplayFor(modelItem => localPriceLine.containerLaden.containerName)
                                </div>
                            }
                            @if (localPriceLine.ladenPrice > 0)
                            {
                                <div class="col-md-6">
                                    <strong>Price -</strong> @Html.DisplayFor(modelItem => localPriceLine.ladenPrice)
                                </div>
                            }

                        </div>

                        <div class="row">
                            @if (localPriceLine.containerEmpty.containerName != null)
                            {
                                <div class="col-md-6">
                                    <strong>Empty -</strong> @Html.DisplayFor(modelItem => localPriceLine.containerEmpty.containerName)
                                </div>
                            }
                            @if (localPriceLine.emptyPrice > 0)
                            {
                                <div class="col-md-6">
                                    <strong>Price. -</strong> @Html.DisplayFor(modelItem => localPriceLine.emptyPrice)
                                </div>
                            }
                        </div>
                        <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                    </div>

                }

            </td>



        </tr>
        }
    </tbody>
</table>
