﻿@model netcore.Models.Invent.ContainerDetails

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
}



<div class="row">
    <div class="col-md-9">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.containerCode)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.containerCode)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.container)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.container.containerType)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.branch)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.branch.branchName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.location)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.location.locationName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.ownership)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.ownership)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.containerStatus)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.containerStatus)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.createdAt)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.createdAt).ToString("dd/MM/yyyy")
                        </dd>
                    </dl>                                   
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.containerDetailsId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    <div class="col-md-3">
    </div>
</div>



