﻿@model netcore.Models.Invent.ContainerDetails

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="containerDetailsId" />

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="containerCode" class="control-label"></label>
                    <input asp-for="containerCode" class="form-control" />
                    <span asp-validation-for="containerCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="container" class="control-label"></label>
                    <select asp-for="containerId" class="form-control select2" asp-items="ViewBag.containerId"></select>
                    <span asp-validation-for="containerId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="containerStatus" class="control-label"></label>
                    <select asp-for="containerStatus" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ContainerStatus>()"></select>
                    <span asp-validation-for="containerStatus" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="containerManufactureDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="containerManufactureDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="containerManufactureDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="dateofPurchase" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="dateofPurchase" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="dateofPurchase" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ownership" class="control-label"></label>
                    <select asp-for="ownership" id="ownership" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Ownership>()"></select>
                    <span asp-validation-for="ownership" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4" id="purchasedLeasingParty">
                <div class="form-group">
                    <label asp-for="purchasedLeasingParty" class="control-label"></label>
                    <input asp-for="purchasedLeasingParty" id="purchasedLeasingParty" class="form-control" />
                    <span asp-validation-for="purchasedLeasingParty" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4" id="purchasedLeasingLocation">
                <div class="form-group">
                    <label asp-for="purchasedLeasingLocation" class="control-label"></label>
                    <input asp-for="purchasedLeasingLocation" id="purchasedLeasingLocation" class="form-control" />
                    <span asp-validation-for="purchasedLeasingLocation" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="containerleasingDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="containerleasingDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="containerleasingDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="noofLeasedays" class="control-label"></label>
                    <input asp-for="noofLeasedays" class="form-control" />
                    <span asp-validation-for="noofLeasedays" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="tareweight" class="control-label"></label>
                    <input asp-for="tareweight" class="form-control" />
                    <span asp-validation-for="tareweight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="payloadcapacity" class="control-label"></label>
                    <input asp-for="payloadcapacity" class="form-control" />
                    <span asp-validation-for="payloadcapacity" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="availableOn" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="availableOn" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="availableOn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="location" class="control-label"></label>
                    <select asp-for="locationId" class="form-control select2" asp-items="ViewBag.locationId"></select>
                    <span asp-validation-for="locationId" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">



            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="emptyyardLocation" class="control-label"></label>
                    <select asp-for="emptyyardLocationId" class="form-control select2" asp-items="ViewBag.emptyyardLocationId">
                        <option value="">Please Select</option>
                    </select>
                    <span asp-validation-for="emptyyardLocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="branch" class="control-label"></label>
                    <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                    <span asp-validation-for="branchId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-md-6">
                <div class="form-group" style="font-size: medium">
                    <label class="control-label">Status</label>
                    <div class="checkbox">
                        <label>
                            <input asp-for="isActive" /> Is Active
                        </label>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>
    $(document).ready(function () {

        ownershipType();

        $('#ownership').change(function () {
            ownershipType();
        });

    });


    function ownershipType() {
        var ownershipType = $("#ownership option:selected").text();

        if (ownershipType == 'One Way') {
            $("#purchasedLeasingParty").hide();
            $("#purchasedLeasingLocation").hide();
        }
        else {
            $("#purchasedLeasingParty").show();
            $("#purchasedLeasingLocation").show();
        }
    }
</script>
}



