﻿@model IEnumerable<netcore.Models.Invent.ContainerDetails>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
    ViewData["ListTitle"] = "Container Details List";
    //ViewData["IndexInfo"] = "Container Details is a merchandise that can be offered to the market for sell to satisfy demand. Before you can sell products to customers, you should have the product stock in hand by buying the product from vendors.";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.containerCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.container)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchasedLeasingParty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emptyyardLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.availableOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noOfIdleDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ownership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.containerStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isActive)
            </th>



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.containerDetailsId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.containerDetailsId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    @*<a asp-action="Delete" asp-route-id="@item.containerDetailsId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>*@
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.containerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.container.containerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchasedLeasingParty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location.locationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emptyyardLocation.locationName)
            </td>
            <td>
                @item.availableOn.Date.ToString("dd-MMM-yyyy")
            </td>

            <td>
                @{

                    if (DateTime.Now.AddDays(1).Subtract(item.availableOn).Days >= 30)
                    {
                        <span class="badge bg-red">
                            @DateTime.Now.AddDays(1).Subtract(item.availableOn).Days
                        </span>
                    }
                    else
                    {
                        <span class="badge bg-green-active">
                            @DateTime.Now.AddDays(1).Subtract(item.availableOn).Days
                        </span>
                    }
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ownership)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.containerStatus)
        </td>*@


            <td>

                @if (item.containerStatus == netcore.Models.Invent.ContainerStatus.onwater)
                {
                    <span class="badge bg-red">
                        @Html.DisplayFor(modelItem => item.containerStatus)
                    </span>
                }
                else if (item.containerStatus == netcore.Models.Invent.ContainerStatus.loaded)
                {
                    <span class="badge bg-orange">
                        @Html.DisplayFor(modelItem => item.containerStatus)
                    </span>
                }
                else
                {
                    <span class="badge bg-green-active">
                        @Html.DisplayFor(modelItem => item.containerStatus)
                    </span>
                }


            </td>

            <td>

                @if (item.isActive == false )
                {
                    <span class="badge bg-red">
                        @Html.DisplayFor(modelItem => item.isActive) Inactive
                    </span>
                }
                else
                {
                    <span class="badge bg-green-active">
                        @Html.DisplayFor(modelItem => item.isActive) Active
                    </span>
                }


            </td>


        </tr>
        }
    </tbody>
</table>
