﻿@model netcore.Models.Invent.BookingSlotLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="bookingSlotLineId" />
        <div class="form-group hidden">
            <label asp-for="bookingSlotId" class="control-label"></label>
            <select asp-for="bookingSlotId" id="inlandPriceValueId" class="form-control select2" asp-items="ViewBag.bookingSlotId"></select>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="bookingSlotLineNumber" class="control-label"></label>
                    <input asp-for="bookingSlotLineNumber" class="form-control" disabled />
                    <span asp-validation-for="bookingSlotLineNumber" class="text-danger"></span>
                </div>
            </div>
         </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="qty" class="control-label"></label>
                        <input asp-for="qty" class="form-control" />
                        <span asp-validation-for="qty" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="ladenContainerId" class="control-label"></label>
                        <select asp-for="ladenContainerId" class="form-control select2" asp-items="ViewBag.ladenContainerId"></select>
                        <span asp-validation-for="ladenContainerId" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label asp-for="ladenPrice" class="control-label"></label>
                        <input asp-for="ladenPrice" class="form-control" />
                        <span asp-validation-for="ladenPrice" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">

                        <div class="form-group">
                            <label asp-for="containerCategory" class="control-label"></label>
                            <select asp-for="containerCategory" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ContainerCategory>()"></select>
                            <span asp-validation-for="containerCategory" class="text-danger"></span>
                        </div>
                    </div>
                </div>


            </div>

            <div class="row">


            </div>


        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script>
        
        $('input[name="qty"]').keyup(function () {
            var a = $('input[name="weight"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalWeight"]').val(Math.round(a * b));
        });

        $('input[name="qty"]').keyup(function () {
            var a = $('input[name="price"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalAmount"]').val(Math.round(a * b));
        });

             
        $('input[name="weight"]').keyup(function () {
            var a = $('input[name="weight"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalWeight"]').val(Math.round(a * b));

        });

        $('input[name="price"]').keyup(function () {
            var a = $('input[name="price"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalAmount"]').val(Math.round(a * b));

        });

        

        //On Dropdown Change
        $(document).ready(function () {
            
            $('#productModelId').on('change', function () {
                var productId = $('#productModelId').val();
                var inlandPriceId = $('#inlandPriceValueId').val();

                getINRTotal(productId, inlandPriceId);
            });
        });


        //On Popup Load
        $( document ).ready(function(){
            var productId = $('#productModelId').val();
            var inlandPriceId = $('#inlandPriceValueId').val();

            getINRTotal(productId, inlandPriceId);
        });


        //Function to get Multiplied USD x Rate
        function getINRTotal(productId,  inlandPriceId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetINRPrice","InlandPriceLine")",
                data: { 'productId': productId, 'inlandPriceId': inlandPriceId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="price"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    alert("Req: " + req);
                    alert("Status: " + status);
                    alert("Error: " + error);
                }
            });
        }


        
    </script>*@




}
