﻿@model netcore.Models.Invent.BookingSlotLine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="bookingSlotLineId" />
        <div class="form-group hidden">
            <label asp-for="bookingSlotId" class="control-label"></label>
            <select asp-for="bookingSlotId" id="inlandPriceValueId" class="form-control select2" asp-items="ViewBag.bookingSlotId"></select>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="bookingSlotLineNumber" class="control-label"></label>
                    <input asp-for="bookingSlotLineNumber" class="form-control" disabled />
                    <span asp-validation-for="bookingSlotLineNumber" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="qty" class="control-label"></label>
                    <input asp-for="qty" class="form-control" />
                    <span asp-validation-for="qty" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="ladenContainerId" class="control-label"></label>
                    <select asp-for="ladenContainerId" class="form-control select2" asp-items="ViewBag.ladenContainerId"></select>
                    <span asp-validation-for="ladenContainerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="ladenPrice" class="control-label"></label>
                    <input asp-for="ladenPrice" class="form-control" />
                    <span asp-validation-for="ladenPrice" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">

                    <div class="form-group">
                        <label asp-for="containerCategory" class="control-label"></label>
                        <select asp-for="containerCategory" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ContainerCategory>()"></select>
                        <span asp-validation-for="containerCategory" class="text-danger"></span>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">


        </div>


    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



