﻿@*@model netcore.Models.Invent.PurchaseOrderLine

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
}



<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.width)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.width)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.thickness)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.thickness)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.qty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.qty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.discountAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.discountAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.totalAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.totalAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.product.productId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.purchaseOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.purchaseOrder.purchaseOrderId)
        </dd>
    </dl>
    
</div>*@
