﻿<!--@model netcore.Models.Invent.PurchaseOrderLine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
}



<div class="row">
    <div class="col-md-9">-->
        <!-- Default box -->
        <!--<div class="box box-primary">
            <div class="box-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.width)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.width)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.height)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.height)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.thickness)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.thickness)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.qty)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.qty)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.weight)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.weight)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.price)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.price)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.discountAmount)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.discountAmount)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.totalAmount)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.totalAmount)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.createdAt)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.createdAt)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.product)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.product.productId)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.purchaseOrder)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.purchaseOrder.purchaseOrderId)
                        </dd>
                    </dl>                                   
                </div>
            </div>-->
            <!-- /.box-body -->
            <!--<div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.purchaseOrderLineId" class="btn btn-primary">Edit</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>-->
            <!-- /.box-footer-->
        <!--</div>-->
        <!-- /.box -->
    <!--</div>
    <div class="col-md-3">
    </div>
</div>-->



