﻿@model netcore.Models.Invent.SalesInquiryLine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="salesInquiryLineId" />
        <div class="form-group hidden">
            <label asp-for="salesInquiryId" class="control-label"></label>
            <select asp-for="salesInquiryId" id="salesInquiryValueId" class="form-control select2" asp-items="ViewBag.salesInquiryId"></select>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="currencyId" class="control-label"></label>
                    <select asp-for="currencyId" id="currencyIdModelId" class="form-control select2" asp-items="ViewBag.currencyId"></select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="part" class="control-label"></label>
                    <select asp-for="part" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Part>()"></select>
                    <span asp-validation-for="part" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="chargeHeadId" class="control-label"></label>
                    <select asp-for="chargeHeadId" id="chargeHeadModelId" class="form-control select2" asp-items="ViewBag.chargeHeadId"></select>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ladenContainerId" class="control-label"></label>
                    <select asp-for="ladenContainerId" class="form-control select2" asp-items="ViewBag.ladenContainerId"></select>
                    <span asp-validation-for="ladenContainerId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ladenPrice" class="control-label"></label>
                    <input asp-for="ladenPrice" class="form-control" />
                    <span asp-validation-for="ladenPrice" class="text-danger"></span>
                </div>
            </div>


        </div>


        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="count" class="control-label"></label>
                    <input asp-for="count" class="form-control" />
                    <span asp-validation-for="count" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="totalPrice" class="control-label"></label>
                    <input asp-for="totalPrice" class="form-control" />
                    <span asp-validation-for="totalPrice" class="text-danger"></span>
                </div>
            </div>


        </div>


    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



