﻿@*@model IEnumerable<netcore.Models.Invent.OceanPriceLine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.chargeHead.chargeHeadName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.laden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.containerLaden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ladenPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.containerEmpty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emptyPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.chargeHead.chargeHeadName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.laden)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.containerLaden.containerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ladenPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.containerEmpty.containerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.emptyPrice)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.oceanPriceLineId"><i class="fa fa-pencil"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.oceanPriceLineId"><i class="fa fa-list"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.oceanPriceLineId"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
