﻿@model netcore.Models.Invent.TransferOut
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintTransferOut</title>
</head>
<body onload="window.print();">
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        <i class="fa fa-globe"></i> Goods Issue
                        <small class="pull-right">@Model.transferOutNumber</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    From Warehouse
                    <address>
                        <strong>@Model.warehouseFrom.warehouseName</strong><br>
                        @*@Model.warehouseFrom.street1<br>
                        @Model.warehouseFrom.street2<br>
                        @Model.warehouseFrom.city<br>*@
                        attn: @Model.transferOrder.picName
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    To Warehouse
                    <address>
                        <strong>@Model.warehouseTo.warehouseName</strong><br>
                        @*@Model.warehouseTo.street1<br>
                        @Model.warehouseTo.street2<br>
                        @Model.warehouseTo.city<br>*@
                        attn: @Model.transferOrder.picName
                    </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <b>Goods Issue Number:</b> @Model.transferOutNumber<br>
                    <b>Goods Issue Date:</b> @Model.transferOutDate.ToString("dd-MMM-yyyy")<br>
                    <b>TO Number:</b> @Model.transferOrder.transferOrderNumber<br>
                    <b>TO Date:</b> @Model.transferOrder.transferOrderDate.ToString("dd-MMM-yyyy")<br>
                    <b>PIC:</b> @Model.transferOrder.picName<br>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <!-- Table row -->
            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Qty</th>
                                <th>Product</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.transferOutLine)
                            {
                                <tr>
                                    <td>@item.qty</td>
                                    <td>@item.product.productCode</td>
                                    <td>@item.product.productName</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <!-- accepted payments column -->
                <div class="col-xs-6">
                    <p class="lead">Descriptions:</p>
                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                        @Model.description
                    </p>
                </div>
                <!-- /.col -->
                <div class="col-xs-6">

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- ./wrapper -->
    @Html.Partial("_AdminlteNetcoreBasicStyles")
    @Html.Partial("_AdminlteNetcoreBasicScripts")
</body>
</html>
