﻿@model netcore.Models.Invent.ImportOperationLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="importOperationLineId" />
        <div class="form-group hidden">
            <label asp-for="importOperationId" class="control-label"></label>
            <select asp-for="importOperationId" id="exportOperationValueId" class="form-control select2" asp-items="ViewBag.importOperationId"></select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="icdCode" class="control-label"></label>
                    <input asp-for="icdCode" class="form-control" />
                    <span asp-validation-for="icdCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="partyNomination" class="control-label"></label>
                    <input asp-for="partyNomination" class="form-control" />
                    <span asp-validation-for="partyNomination" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="emptyYard" class="control-label"></label>
                    <select asp-for="emptyYardId" class="form-control select2" asp-items="ViewBag.emptyYardId"></select>
                    <span asp-validation-for="emptyYardId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="emptyValidity" class="control-label"></label>
                    <input asp-for="emptyValidity" class="form-control" />
                    <span asp-validation-for="emptyValidity" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="doValidityDate" class="control-label"></label>
                    <div class="input-group date">
                        @*<div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>*@
                        <input asp-for="doValidityDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="doValidityDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="lineNomination" class="control-label"></label>
                    <input asp-for="lineNomination" class="form-control" />
                    <span asp-validation-for="lineNomination" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="containerNumber" class="control-label glyphicon-asterisk"></label>
                    <select asp-for="containerNumberId" class="form-control select2" asp-items="ViewBag.containerNumberId" required></select>
                    <span asp-validation-for="containerNumberId" class="text-danger"></span>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ial" class="control-label"></label>
                    <input asp-for="ial" class="form-control" />
                    <span asp-validation-for="ial" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ialDate" class="control-label"></label>
                    <div class="input-group date">
                        @*<div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>*@
                        <input asp-for="ialDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="ialDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="trpMode" class="control-label"></label>
                    <select asp-for="trpMode" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.TRPMode>()"></select>
                    <span asp-validation-for="trpMode" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="freeDayExpiry" class="control-label"></label>
                    <input asp-for="freeDayExpiry" class="form-control" />
                    <span asp-validation-for="freeDayExpiry" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="npOfDays" class="control-label"></label>
                    <input asp-for="npOfDays" class="form-control" />
                    <span asp-validation-for="npOfDays" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="emptyReturnDate" class="control-label"></label>
                    <div class="input-group date">
                        @*<div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>*@
                        <input asp-for="emptyReturnDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="emptyReturnDate" class="text-danger"></span>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="portOutDate" class="control-label"></label>
                    <div class="input-group date">
                        @*<div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>*@
                        <input asp-for="portOutDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="portOutDate" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="contWeight" class="control-label"></label>
                    <input asp-for="contWeight" class="form-control" />
                    <span asp-validation-for="contWeight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="sealNo" class="control-label"></label>
                    <input asp-for="sealNo" class="form-control" />
                    <span asp-validation-for="sealNo" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="icdLoadIn" class="control-label"></label>
                    <input asp-for="icdLoadIn" class="form-control" />
                    <span asp-validation-for="icdLoadIn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="icdLoadOut" class="control-label"></label>
                    <input asp-for="icdLoadOut" class="form-control" />
                    <span asp-validation-for="icdLoadOut" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="icdEmptyIn" class="control-label"></label>
                    <input asp-for="icdEmptyIn" class="form-control" />
                    <span asp-validation-for="icdEmptyIn" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="icdEmptyOut" class="control-label"></label>
                    <input asp-for="icdEmptyOut" class="form-control" />
                    <span asp-validation-for="icdEmptyOut" class="text-danger"></span>
                </div>
            </div>
        </div>


    </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script>
        
        $('input[name="qty"]').keyup(function () {
            var a = $('input[name="weight"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalWeight"]').val(Math.round(a * b));
        });

        $('input[name="qty"]').keyup(function () {
            var a = $('input[name="price"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalAmount"]').val(Math.round(a * b));
        });

             
        $('input[name="weight"]').keyup(function () {
            var a = $('input[name="weight"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalWeight"]').val(Math.round(a * b));

        });

        $('input[name="price"]').keyup(function () {
            var a = $('input[name="price"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalAmount"]').val(Math.round(a * b));

        });

        

        //On Dropdown Change
        $(document).ready(function () {
            
            $('#productModelId').on('change', function () {
                var productId = $('#productModelId').val();
                var oceanPriceId = $('#oceanPriceValueId').val();

                getINRTotal(productId, oceanPriceId);
            });
        });


        //On Popup Load
        $( document ).ready(function(){
            var productId = $('#productModelId').val();
            var oceanPriceId = $('#oceanPriceValueId').val();

            getINRTotal(productId, oceanPriceId);
        });


        //Function to get Multiplied USD x Rate
        function getINRTotal(productId,  oceanPriceId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetINRPrice","OceanPriceLine")",
                data: { 'productId': productId, 'oceanPriceId': oceanPriceId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="price"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    alert("Req: " + req);
                    alert("Status: " + status);
                    alert("Error: " + error);
                }
            });
        }


        
    </script>*@




}
