﻿@model netcore.Models.Invent.ChargeHead

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="chargeHeadId" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="categoryType" class="control-label"></label>
                    <select asp-for="categoryType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.CategoryType>()"></select>
                    <span asp-validation-for="categoryType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="chargeHeadName" class="control-label"></label>
                    <input asp-for="chargeHeadName" class="form-control" />
                    <span asp-validation-for="chargeHeadName" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="part" class="control-label"></label>
                    <select asp-for="part" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Part>()"></select>
                    <span asp-validation-for="part" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="category" class="control-label"></label>
                    <select asp-for="category" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ChargeHeadCategory>()"></select>
                    <span asp-validation-for="category" class="text-danger"></span>
                </div>
            </div>

        </div>

    </div>
</div>
            @section Scripts {
                 @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
            }



