﻿@model IEnumerable<netcore.Models.Invent.ChargeHead>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
    ViewData["ListTitle"] = "Charge Head";
    //ViewData["IndexInfo"] = "Charge Head is a merchandise that can be offered to the market for sell to satisfy demand. Before you can sell Charge Heads to customers, you should have the Charge Head stock in hand by buying the ChargeHead from vendors.";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.chargeHeadName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.chargeHeadId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.chargeHeadId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.chargeHeadId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.chargeHeadName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.part)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
        </tr>
        }
    </tbody>
</table>
