﻿@model netcore.Models.Invent.Currency

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-tags";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="currencyId" />
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="currencyName" class="control-label"></label>
                    <input asp-for="currencyName" class="form-control" />
                    <span asp-validation-for="currencyName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="currencyCode" class="control-label"></label>
                    <input asp-for="currencyCode" class="form-control" />
                    <span asp-validation-for="currencyCode" class="text-danger"></span>
                </div>
            </div>

        </div>

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



