﻿@model IEnumerable<netcore.Models.Invent.Currency>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-money";
    ViewData["ListTitle"] = "Currency";
    //ViewData["IndexInfo"] = "Currency is a merchandise that can be offered to the market for sell to satisfy demand. Before you can sell Currency to customers, you should have the Currency stock in hand by buying the Currency from vendors.";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.currencyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currencyCode)
            </th>
    



        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.currencyId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.currencyId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.currencyId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currencyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currencyCode)
            </td>
        </tr>
        }
    </tbody>
</table>
