﻿@model netcore.Models.Invent.PurchaseInvoiceLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="purchaseInvoiceLineId" />
        <div class="form-group hidden">
            <label asp-for="purchaseInvoiceId" class="control-label"></label>
            <select asp-for="purchaseInvoiceId" id="purchaseInvoiceValueId" class="form-control select2" asp-items="ViewBag.purchaseInvoiceId"></select>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="linePricingType" class="control-label"></label>
                    <select asp-for="linePricingType" id="linePricingType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.LinePricingType>()"></select>
                    <span asp-validation-for="linePricingType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 oceanChargeHeadDiv">
                <div class="form-group">
                    <label asp-for="chargeHead" class="control-label">Ocean Charge Heads</label>
                    <select asp-for="chargeHeadId" class="form-control select2 chargeHeadId" asp-items="ViewBag.chargeHeadId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="chargeHeadId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 inlandChargeHeadDiv">
                <div class="form-group">
                    <label asp-for="chargeHead" class="control-label">Inland Charge Heads</label>
                    <select asp-for="chargeHeadId" class="form-control select2 inLandChargeHeadId" asp-items="ViewBag.inLandChargeHeadId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="chargeHeadId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 portChargeHeadDiv">
                <div class="form-group">
                    <label asp-for="chargeHead" class="control-label">Port Charge Heads</label>
                    <select asp-for="chargeHeadId" class="form-control select2 portChargeHeadId" asp-items="ViewBag.portChargeHeadId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="chargeHeadId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 localChargeHeadDiv">
                <div class="form-group">
                    <label asp-for="chargeHead" class="control-label">Local Charge Heads</label>
                    <select asp-for="chargeHeadId" class="form-control select2 localChargeHeadId" asp-items="ViewBag.localChargeHeadId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="chargeHeadId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="sac" class="control-label"></label>
                    <input asp-for="sac" class="form-control" />
                    <span asp-validation-for="sac" class="text-danger"></span>
                </div>
            </div>
        </div>

        <!--LADEN-->
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="containerEmptyLaden" class="control-label"></label>
                    <select asp-for="containerEmptyLaden" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ContainerEmptyLaden>()"></select>
                    <span asp-validation-for="containerEmptyLaden" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 oceanLadenContainerDiv">
                <div class="form-group">
                    <label asp-for="containerLaden" class="control-label">Ocean Container Laden</label>
                    <select asp-for="ladenContainerId" class="form-control select2 ladenContainerId" asp-items="ViewBag.ladenContainerId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="ladenContainerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 inlandLadenContainerDiv">
                <div class="form-group">
                    <label asp-for="containerLaden" class="control-label">Inland Container Laden</label>
                    <select asp-for="ladenContainerId" class="form-control select2 inlandLadenContainerId" asp-items="ViewBag.inlandLadenContainerId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="ladenContainerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 portLadenContainerDiv">
                <div class="form-group">
                    <label asp-for="containerLaden" class="control-label">Port Container Laden</label>
                    <select asp-for="ladenContainerId" class="form-control select2 portLadenContainerId" asp-items="ViewBag.portLadenContainerId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="ladenContainerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 localLadenContainerDiv">
                <div class="form-group">
                    <label asp-for="containerLaden" class="control-label">Local Container Laden</label>
                    <select asp-for="ladenContainerId" class="form-control select2 localLadenContainerId" asp-items="ViewBag.localLadenContainerId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="ladenContainerId" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-4 oceanEmptyContainerDiv">
                <div class="form-group">
                    <label asp-for="emptyContainerId" class="control-label">Ocean Empty Container</label>
                    <select asp-for="emptyContainerId" class="form-control select2 emptyContainerId" asp-items="ViewBag.emptyContainerId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="emptyContainerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 inlandEmptyContainerDiv">
                <div class="form-group">
                    <label asp-for="emptyContainerId" class="control-label">Inland Empty Container</label>
                    <select asp-for="emptyContainerId" class="form-control select2 inlandEmptyContainerId" asp-items="ViewBag.inlandEmptyContainerId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="emptyContainerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 portEmptyContainerDiv">
                <div class="form-group">
                    <label asp-for="emptyContainerId" class="control-label">Port Empty Container</label>
                    <select asp-for="emptyContainerId" class="form-control select2 portEmptyContainerId" asp-items="ViewBag.portEmptyContainerId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="emptyContainerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4 localEmptyContainerDiv">
                <div class="form-group">
                    <label asp-for="emptyContainerId" class="control-label">Local Empty Container</label>
                    <select asp-for="emptyContainerId" class="form-control select2 localEmptyContainerId" asp-items="ViewBag.localEmptyContainerId" required>
                        <option selected disabled hidden style='display: none' value=''>SELECT</option>
                    </select>
                    <span asp-validation-for="emptyContainerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="amount" class="control-label"></label>
                    <input name="amount" asp-for="amount" class="form-control" />
                    <span asp-validation-for="amount" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="currency" class="control-label"></label>
                    <select asp-for="currencyId" id="currencyId" name="currencyId" class="form-control select2" asp-items="ViewBag.currencyId"></select>
                    <span asp-validation-for="currencyId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="rate" class="control-label"></label>
                    <input name="rate" asp-for="rate" class="form-control" value="1" />
                    <span asp-validation-for="rate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="quantity" class="control-label"></label>
                    <input name="quantity" asp-for="quantity" class="form-control" value="" />
                    <span asp-validation-for="quantity" class="text-danger"></span>
                </div>
            </div>
           
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="totalAmountWithoutGST" class="control-label"></label>
                    <input name="totalAmountWithoutGST" asp-for="totalAmountWithoutGST" class="form-control" readonly />
                    <span asp-validation-for="totalAmountWithoutGST" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="cgstPercent" class="control-label"></label>
                    <input name="cgstPercent" id="cgstPercent" asp-for="cgstPercent" class="form-control" type="number" />
                    <span asp-validation-for="cgstPercent" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="cgst" class="control-label"></label>
                    <input name="cgst" asp-for="cgst" class="form-control" readonly />
                    <span asp-validation-for="cgst" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="sgstPercent" class="control-label"></label>
                    <input name="sgstPercent" id="sgstPercent" asp-for="sgstPercent" class="form-control" type="number" />
                    <span asp-validation-for="sgstPercent" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="sgst" class="control-label"></label>
                    <input name="sgst" asp-for="sgst" class="form-control" readonly />
                    <span asp-validation-for="sgst" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">


            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="igstPercent" class="control-label"></label>
                    <input name="igstPercent" id="igstPercent" asp-for="igstPercent" class="form-control" type="number" />
                    <span asp-validation-for="igstPercent" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="igst" class="control-label"></label>
                    <input name="igst" asp-for="igst" class="form-control" readonly />
                    <span asp-validation-for="igst" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="totalGSTAmount" class="control-label"></label>
                    <input name="totalGSTAmount" asp-for="totalGSTAmount" class="form-control" readonly />
                    <span asp-validation-for="totalGSTAmount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="totalAmountWithGST" class="control-label"></label>
                    <input name="totalAmountWithGST" asp-for="totalAmountWithGST" class="form-control" readonly />
                    <span asp-validation-for="totalAmountWithGST" class="text-danger"></span>
                </div>
            </div>
        </div>



    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>


        $('input[name="cgstPercent"]').change(function () {
            var totalAmountWithoutGST = parseFloat($('input[name="totalAmountWithoutGST"]').val());
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="totalAmountWithGST"]').val(Math.round((totalAmountWithoutGST) + (cgst) + (sgst) + (igst)));
            $('input[name="totalGSTAmount"]').val(Math.round((cgst) + (sgst) + (igst)));

        });

        $('input[name="sgstPercent"]').change(function () {
            var totalAmountWithoutGST = parseFloat($('input[name="totalAmountWithoutGST"]').val());
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="totalAmountWithGST"]').val(Math.round((totalAmountWithoutGST) + (cgst) + (sgst) + (igst)));
            $('input[name="totalGSTAmount"]').val(Math.round((cgst) + (sgst) + (igst)));

        });

        $('input[name="igstPercent"]').change(function () {
            var totalAmountWithoutGST = parseFloat($('input[name="totalAmountWithoutGST"]').val());
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="totalAmountWithGST"]').val(Math.round((totalAmountWithoutGST) + (cgst) + (sgst) + (igst)));
            $('input[name="totalGSTAmount"]').val(Math.round((cgst) + (sgst) + (igst)));


        });


        $('input[name="quantity"]').change(function () {
            var amount = $('input[name="amount"]').val();
            var quantity = $('input[name="quantity"]').val();
            var rate = $('input[name="rate"]').val();

            $('input[name="totalAmountWithoutGST"]').val(Math.round((amount * rate) * quantity));

        });

        $('input[name="rate"]').change(function () {
            var amount = $('input[name="amount"]').val();
            var quantity = $('input[name="quantity"]').val();
            $('input[name="totalAmountWithoutGST"]').val(Math.round((amount * rate) * quantity));

        });




        //CGST Calculations
        $('#cgstPercent').on('keyup', function () {
            var cgstPercent = $('input[name="cgstPercent"]').val();
            var taxableINR = $('input[name="totalAmountWithoutGST"]').val();
            var cgstTotal = parseFloat((taxableINR) * cgstPercent / 100);
            $('input[name="cgst"]').val(cgstTotal);
        });

        //SGST Calculations
        $('#sgstPercent').on('keyup', function () {
            var sgstPercent = $('input[name="sgstPercent"]').val();
            var taxableINR = $('input[name="totalAmountWithoutGST"]').val();
            var sgstTotal = parseFloat((taxableINR) * sgstPercent / 100);
            $('input[name="sgst"]').val(sgstTotal);
        });

        //IGST Calculations
        $('#igstPercent').on('keyup', function () {
            var igstPercent = $('input[name="igstPercent"]').val();
            var taxableINR = $('input[name="totalAmountWithoutGST"]').val();
            var sgstTotal = parseFloat((taxableINR) * igstPercent / 100);
            $('input[name="igst"]').val(sgstTotal);
        });




        //On Load
        $(document).ready(function () {

            //OCEAN LADEN
            $('#ladenContainerId').on('change', function () {
                var chargeHeadId = $('#chargeHeadId').val();
                var purchaseInvoiceId = $('#purchaseInvoiceValueId').val();
                var ladenContainerId = $('#ladenContainerId').val();

                GetOceanPriceLadenAmount(purchaseInvoiceId, chargeHeadId, ladenContainerId);
            });

            //INLAND LADEN
            $('.inlandLadenContainerId').on('change', function () {
                var chargeHeadId = $('.inLandChargeHeadId').val();
                var purchaseInvoiceId = $('#purchaseInvoiceValueId').val();
                var ladenContainerId = $('.inlandLadenContainerId').val();

                GetInlandPriceLadenAmount(purchaseInvoiceId, chargeHeadId, ladenContainerId);
            });

            //PORT LADEN
            $('.portLadenContainerId').on('change', function () {
                var chargeHeadId = $('.portChargeHeadId').val();
                var purchaseInvoiceId = $('#purchaseInvoiceValueId').val();
                var ladenContainerId = $('.portLadenContainerId').val();

                GetPortPriceLadenAmount(purchaseInvoiceId, chargeHeadId, ladenContainerId);
            });

            //LOCAL LADEN
            $('.portLadenContainerId').on('change', function () {
                var chargeHeadId = $('.portChargeHeadId').val();
                var purchaseInvoiceId = $('#purchaseInvoiceValueId').val();
                var ladenContainerId = $('.portLadenContainerId').val();

                GetPortPriceLadenAmount(purchaseInvoiceId, chargeHeadId, ladenContainerId);
            });



            //OCEAN EMPTY
            $('#emptyContainerId').on('change', function () {
                var chargeHeadId = $('#chargeHeadId').val();
                var purchaseInvoiceId = $('#purchaseInvoiceValueId').val();
                var emptyContainerId = $('#emptyContainerId').val();

                GetOceanPriceEmptyAmount(purchaseInvoiceId, chargeHeadId, emptyContainerId);
            });

            //INLAND EMPTY
            $('.inlandEmptyContainerId').on('change', function () {
                var chargeHeadId = $('.inLandChargeHeadId').val();
                var purchaseInvoiceId = $('#purchaseInvoiceValueId').val();
                var emptyContainerId = $('.inlandEmptyContainerId').val();

                GetInlandPriceEmptyAmount(purchaseInvoiceId, chargeHeadId, emptyContainerId);
            });

            //PORT EMPTY
            $('#portEmptyContainerId').on('change', function () {
                var chargeHeadId = $('.portChargeHeadId').val();
                var purchaseInvoiceId = $('#purchaseInvoiceValueId').val();
                var emptyContainerId = $('.portEmptyContainerId').val();

                GetPortPriceEmptyAmount(purchaseInvoiceId, chargeHeadId, emptyContainerId);
            });

            //LOCAL EMPTY
            $('#localEmptyContainerId').on('change', function () {
                var chargeHeadId = $('.localChargeHeadId').val();
                var purchaseInvoiceId = $('#purchaseInvoiceValueId').val();
                var emptyContainerId = $('.localEmptyContainerId').val();

                GetLocalPriceEmptyAmount(purchaseInvoiceId, chargeHeadId, emptyContainerId);
            });



            var chargeHeadId = $('#chargeHeadId').val();
            var purchaseInvoiceId = $('#purchaseInvoiceValueId').val();
            var ladenContainerId = $('#ladenContainerId').val();


            GetOceanPriceLadenAmount(purchaseInvoiceId, chargeHeadId, ladenContainerId);
            showHideChargesDropdown();
            showHideLadenEmptyDropdown();

            $('#linePricingType').on('change', function () {

                showHideChargesDropdown();
                showHideLadenEmptyDropdown();

            });

            $('#containerEmptyLaden').on('change', function () {

                showHideLadenEmptyDropdown();

            });
        });




        //Show Hide charges dropdowns
        function showHideChargesDropdown() {
            var priceType = $('#linePricingType').val();

            if (priceType == "2") {
                $('.oceanChargeHeadDiv').hide();
                $('.inlandChargeHeadDiv').show();
                $('.portChargeHeadDiv').hide();
                $('.localChargeHeadDiv').hide();
                clearChargesDropdowns();
            }
            else if (priceType == "3") {
                $('.oceanChargeHeadDiv').hide();
                $('.inlandChargeHeadDiv').hide();
                $('.portChargeHeadDiv').show();
                $('.localChargeHeadDiv').hide();
                clearChargesDropdowns();
            }
            else if (priceType == "4") {
                $('.oceanChargeHeadDiv').hide();
                $('.inlandChargeHeadDiv').hide();
                $('.portChargeHeadDiv').hide();
                $('.localChargeHeadDiv').show();
                clearChargesDropdowns();
            }
            else if (priceType == "5") {
                $('.oceanChargeHeadDiv').show();
                $('.inlandChargeHeadDiv').show();
                $('.portChargeHeadDiv').show();
                $('.localChargeHeadDiv').show();
                clearChargesDropdowns();
            }
            else {
                $('.oceanChargeHeadDiv').show();
                $('.inlandChargeHeadDiv').hide();
                $('.portChargeHeadDiv').hide();
                $('.localChargeHeadDiv').hide();
                clearChargesDropdowns();

            }
        }

        //Clear dropdowns
        function clearChargesDropdowns() {
            $('.chargeHeadId').val($(this).find('option:first').val()).trigger("change");
            $('.inLandChargeHeadId').val($(this).find('option:first').val()).trigger("change");
            $('.portChargeHeadId').val($(this).find('option:first').val()).trigger("change");
            $('.localChargeHeadId').val($(this).find('option:first').val()).trigger("change");
            $('input[name="amount"]').val(0);
        }


        //Show Hide Laden Empty dropdowns
        function showHideLadenEmptyDropdown() {
            var containerEmptyLaden = $('#containerEmptyLaden').val();
            var linePricingType = $('#linePricingType').val();
            //LADEN OCEAN
            if (containerEmptyLaden == "1" && linePricingType == "1") {
                $('.oceanLadenContainerDiv').show();
                $('.inlandLadenContainerDiv').hide();
                $('.portLadenContainerDiv').hide();
                $('.localLadenContainerDiv').hide();

                $('.oceanEmptyContainerDiv').hide();
                $('.inlandEmptyContainerDiv').hide();
                $('.portEmptyContainerDiv').hide();
                $('.localEmptyContainerDiv').hide();
                clearContainerDropdowns();
            }
            //LADEN INLAND
            if (containerEmptyLaden == "1" && linePricingType == "2") {
                $('.oceanLadenContainerDiv').hide();
                $('.inlandLadenContainerDiv').show();
                $('.portLadenContainerDiv').hide();
                $('.localLadenContainerDiv').hide();

                $('.oceanEmptyContainerDiv').hide();
                $('.inlandEmptyContainerDiv').hide();
                $('.portEmptyContainerDiv').hide();
                $('.localEmptyContainerDiv').hide();
                clearContainerDropdowns();
            }
            //LADEN PORT
            if (containerEmptyLaden == "1" && linePricingType == "3") {
                $('.oceanLadenContainerDiv').hide();
                $('.inlandLadenContainerDiv').hide();
                $('.portLadenContainerDiv').show();
                $('.localLadenContainerDiv').hide();

                $('.oceanEmptyContainerDiv').hide();
                $('.inlandEmptyContainerDiv').hide();
                $('.portEmptyContainerDiv').hide();
                $('.localEmptyContainerDiv').hide();
                clearContainerDropdowns();
            }
            //LOCAL LOCAL
            if (containerEmptyLaden == "1" && linePricingType == "4") {
                $('.oceanLadenContainerDiv').hide();
                $('.inlandLadenContainerDiv').hide();
                $('.portLadenContainerDiv').hide();
                $('.localLadenContainerDiv').show();

                $('.oceanEmptyContainerDiv').hide();
                $('.inlandEmptyContainerDiv').hide();
                $('.portEmptyContainerDiv').hide();
                $('.localEmptyContainerDiv').hide();
                clearContainerDropdowns();
            }

            //EMPTY OCEAN
            if (containerEmptyLaden == "2" && linePricingType == "1") {
                $('.oceanEmptyContainerDiv').show();
                $('.inlandEmptyContainerDiv').hide();
                $('.portEmptyContainerDiv').hide();
                $('.localEmptyContainerDiv').hide();

                $('.oceanLadenContainerDiv').hide();
                $('.inlandLadenContainerDiv').hide();
                $('.portLadenContainerDiv').hide();
                $('.localLadenContainerDiv').hide();
                clearContainerDropdowns();
            }
            //EMPTY INLAND
            if (containerEmptyLaden == "2" && linePricingType == "2") {
                $('.oceanEmptyContainerDiv').hide();
                $('.inlandEmptyContainerDiv').show();
                $('.portEmptyContainerDiv').hide();
                $('.localEmptyContainerDiv').hide();

                $('.oceanLadenContainerDiv').hide();
                $('.inlandLadenContainerDiv').hide();
                $('.portLadenContainerDiv').hide();
                $('.localLadenContainerDiv').hide();
                clearContainerDropdowns();
            }
            //EMPTY PORT
            if (containerEmptyLaden == "2" && linePricingType == "3") {
                $('.oceanEmptyContainerDiv').hide();
                $('.inlandEmptyContainerDiv').hide();
                $('.portEmptyContainerDiv').show();
                $('.localEmptyContainerDiv').hide();

                $('.oceanLadenContainerDiv').hide();
                $('.inlandLadenContainerDiv').hide();
                $('.portLadenContainerDiv').hide();
                $('.localLadenContainerDiv').hide();
                clearContainerDropdowns();
            }
            //EMPTY LOCAL
            if (containerEmptyLaden == "2" && linePricingType == "4") {
                $('.oceanEmptyContainerDiv').hide();
                $('.inlandEmptyContainerDiv').hide();
                $('.portEmptyContainerDiv').hide();
                $('.localEmptyContainerDiv').show();

                $('.oceanLadenContainerDiv').hide();
                $('.inlandLadenContainerDiv').hide();
                $('.portLadenContainerDiv').hide();
                $('.localLadenContainerDiv').hide();
                clearContainerDropdowns();
            }

        }


        //Clear dropdowns
        function clearContainerDropdowns() {
            $('.ladenContainerId').val($(this).find('option:first').val()).trigger("change");
            $('.inlandLadenContainerId').val($(this).find('option:first').val()).trigger("change");
            $('.portLadenContainerId').val($(this).find('option:first').val()).trigger("change");
            $('.localLadenContainerId').val($(this).find('option:first').val()).trigger("change");

            $('.emptyContainerId').val($(this).find('option:first').val()).trigger("change");
            $('.inlandEmptyContainerId').val($(this).find('option:first').val()).trigger("change");
            $('.portEmptyContainerId').val($(this).find('option:first').val()).trigger("change");
            $('.localEmptyContainerId').val($(this).find('option:first').val()).trigger("change");
            $('input[name="amount"]').val(0);

        }




        function GetOceanPriceLadenAmount(purchaseInvoiceId, chargeHeadId, ladenContainerId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetOceanPriceLadenAmount", "PurchaseInvoiceLine")",
                data: { 'purchaseInvoiceId': purchaseInvoiceId, 'chargeHeadId': chargeHeadId, 'ladenContainerId': ladenContainerId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="amount"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    console.log("Req: " + req);
                    console.log("Status: " + status);
                    console.log("Error: " + error);
                }
            });
        }

        function GetInlandPriceLadenAmount(purchaseInvoiceId, chargeHeadId, ladenContainerId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetInlandPriceLadenAmount", "PurchaseInvoiceLine")",
                data: { 'purchaseInvoiceId': purchaseInvoiceId, 'chargeHeadId': chargeHeadId, 'ladenContainerId': ladenContainerId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="amount"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    console.log("Req: " + req);
                    console.log("Status: " + status);
                    console.log("Error: " + error);
                }
            });
    }

        function GetPortPriceLadenAmount(purchaseInvoiceId, chargeHeadId, ladenContainerId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetPortPriceLadenAmount", "PurchaseInvoiceLine")",
                data: { 'purchaseInvoiceId': purchaseInvoiceId, 'chargeHeadId': chargeHeadId, 'ladenContainerId': ladenContainerId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="amount"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    console.log("Req: " + req);
                    console.log("Status: " + status);
                    console.log("Error: " + error);
                }
            });
        }

        function GetLocalPriceLadenAmount(purchaseInvoiceId, chargeHeadId, ladenContainerId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetLocalPriceLadenAmount", "PurchaseInvoiceLine")",
                data: { 'purchaseInvoiceId': purchaseInvoiceId, 'chargeHeadId': chargeHeadId, 'ladenContainerId': ladenContainerId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="amount"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    console.log("Req: " + req);
                    console.log("Status: " + status);
                    console.log("Error: " + error);
                }
            });
        }



        function GetOceanPriceEmptyAmount(purchaseInvoiceId, chargeHeadId, emptyContainerId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetOceanPriceEmptyAmount", "PurchaseInvoiceLine")",
                data: { 'purchaseInvoiceId': purchaseInvoiceId, 'chargeHeadId': chargeHeadId, 'emptyContainerId': emptyContainerId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="amount"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    console.log("Req: " + req);
                    console.log("Status: " + status);
                    console.log("Error: " + error);
                }
            });
        }

        function GetInlandPriceEmptyAmount(purchaseInvoiceId, chargeHeadId, emptyContainerId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetInlandPriceEmptyAmount", "PurchaseInvoiceLine")",
                data: { 'purchaseInvoiceId': purchaseInvoiceId, 'chargeHeadId': chargeHeadId, 'emptyContainerId': emptyContainerId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="amount"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    console.log("Req: " + req);
                    console.log("Status: " + status);
                    console.log("Error: " + error);
                }
            });
        }

        function GetPortPriceEmptyAmount(purchaseInvoiceId, chargeHeadId, emptyContainerId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetPortPriceEmptyAmount", "PurchaseInvoiceLine")",
                data: { 'purchaseInvoiceId': purchaseInvoiceId, 'chargeHeadId': chargeHeadId, 'emptyContainerId': emptyContainerId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="amount"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    console.log("Req: " + req);
                    console.log("Status: " + status);
                    console.log("Error: " + error);
                }
            });
        }

        function GetLocalPriceEmptyAmount(purchaseInvoiceId, chargeHeadId, emptyContainerId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetLocalPriceEmptyAmount", "PurchaseInvoiceLine")",
                data: { 'purchaseInvoiceId': purchaseInvoiceId, 'chargeHeadId': chargeHeadId, 'emptyContainerId': emptyContainerId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="amount"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    console.log("Req: " + req);
                    console.log("Status: " + status);
                    console.log("Error: " + error);
                }
            });
        }

</script>




}
