﻿@model netcore.Models.Invent.PurchaseInvoiceLine

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
}



<div>
    
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.chargeHead.chargeHeadName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.chargeHead.chargeHeadName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.currency.currencyCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.totalAmountWithoutGST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.totalAmountWithoutGST)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sac)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.cgst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.cgst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sgst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sgst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.igst)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.igst)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.totalGSTAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.totalGSTAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.totalAmountWithGST)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.totalAmountWithGST)
        </dd>
    </dl>
    
</div>
