﻿@model netcore.Models.Invent.PurchaseInvoiceLine


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="purchaseInvoiceLineId" />
        <div class="form-group hidden">
            <label asp-for="purchaseInvoiceId" class="control-label"></label>
            <select asp-for="purchaseInvoiceId" id="purchaseInvoiceValueId" class="form-control select2" asp-items="ViewBag.purchaseInvoiceId"></select>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="chargeHead" class="control-label"></label>
                    <select asp-for="chargeHeadId" class="form-control select2" asp-items="ViewBag.chargeHeadId" required></select>
                    <span asp-validation-for="chargeHeadId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="amount" class="control-label"></label>
                    <input name="amount" asp-for="amount" class="form-control" />
                    <span asp-validation-for="amount" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="sac" class="control-label"></label>
                    <input asp-for="sac" class="form-control" />
                    <span asp-validation-for="sac" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="currency" class="control-label"></label>
                    <select asp-for="currencyId" id="currencyId" name="currencyId" class="form-control select2" asp-items="ViewBag.currencyId"></select>
                    <span asp-validation-for="currencyId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="rate" class="control-label"></label>
                    <input name="rate" asp-for="rate" class="form-control" value="1" />
                    <span asp-validation-for="rate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="quantity" class="control-label"></label>
                    <input name="quantity" asp-for="quantity" class="form-control" value="1" />
                    <span asp-validation-for="quantity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label asp-for="totalAmountWithoutGST" class="control-label"></label>
                    <input name="taxableINR" asp-for="totalAmountWithoutGST" class="form-control" readonly />
                    <span asp-validation-for="totalAmountWithoutGST" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="cgstPercent" class="control-label"></label>
                    <input name="cgstPercent" id="cgstPercent" asp-for="cgstPercent" class="form-control" />
                    <span asp-validation-for="cgstPercent" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="cgst" class="control-label"></label>
                    <input name="cgst" asp-for="cgst" class="form-control" readonly />
                    <span asp-validation-for="cgst" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="sgstPercent" class="control-label"></label>
                    <input name="sgstPercent" id="sgstPercent" asp-for="sgstPercent" class="form-control" />
                    <span asp-validation-for="sgstPercent" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="sgst" class="control-label"></label>
                    <input name="sgst" asp-for="sgst" class="form-control" readonly />
                    <span asp-validation-for="sgst" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="igstPercent" class="control-label"></label>
                    <input name="igstPercent" id="igstPercent" asp-for="igstPercent" class="form-control" />
                    <span asp-validation-for="igstPercent" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="igst" class="control-label"></label>
                    <input name="igst" asp-for="igst" class="form-control" readonly />
                    <span asp-validation-for="igst" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="totalAmountWithGST" class="control-label"></label>
                    <input name="totalAmountWithGST" asp-for="totalAmountWithGST" class="form-control" readonly />
                    <span asp-validation-for="totalAmountWithGST" class="text-danger"></span>
                </div>
            </div>
        </div>



    </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>


        $('input[name="cgstPercent"]').change(function () {
            var taxableINR = parseFloat($('input[name="taxableINR"]').val());
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="incamount"]').val(Math.round((taxableINR) + (cgst) + (sgst) + (igst)));
        });

        $('input[name="sgstPercent"]').change(function () {
            var taxableINR = parseFloat($('input[name="taxableINR"]').val());
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="incamount"]').val(Math.round((taxableINR) + (cgst) + (sgst) + (igst)));

        });

        $('input[name="igstPercent"]').change(function () {
            var taxableINR = parseFloat($('input[name="taxableINR"]').val());
            var cgst = parseFloat($('input[name="cgst"]').val());
            var sgst = parseFloat($('input[name="sgst"]').val());
            var igst = parseFloat($('input[name="igst"]').val());
            $('input[name="incamount"]').val(Math.round((taxableINR) + (cgst) + (sgst) + (igst)));

        });


        $('input[name="totalAmountWithGST"]').change(function () {
            var income = $('input[name="totalAmountWithGST"]').val();
            var cost = $('input[name="amount"]').val();
            $('input[name="margin"]').val(Math.round(income - cost));

        });

        $('input[name="amount"]').change(function () {
            var income = $('input[name="totalAmountWithGST"]').val();
            var cost = $('input[name="amount"]').val();
            $('input[name="margin"]').val(Math.round(income - cost));

        });
       

        @*//On Dropdown Change
        $(document).ready(function () {
            
            $('#productModelId').on('change', function () {
                var productId = $('#productModelId').val();
                var oceanPriceId = $('#oceanPriceValueId').val();

                getINRTotal(productId, oceanPriceId);
            });
        });


        //On Popup Load
        $( document ).ready(function(){
            var productId = $('#productModelId').val();
            var oceanPriceId = $('#oceanPriceValueId').val();

            getINRTotal(productId, oceanPriceId);
        });


        //Function to get Multiplied USD x Rate
        function getINRTotal(productId,  oceanPriceId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetINRPrice","OceanPriceLine")",
                data: { 'productId': productId, 'oceanPriceId': oceanPriceId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="price"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    alert("Req: " + req);
                    alert("Status: " + status);
                    alert("Error: " + error);
                }
            });
        }*@


        
    </script>




}
