﻿@model netcore.Models.Invent.ExportOperationLine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="exportOperationLineId" />
        <div class="form-group hidden">
            <label asp-for="exportOperationId" class="control-label"></label>
            <select asp-for="exportOperationId" id="exportOperationValueId" class="form-control select2" asp-items="ViewBag.exportOperationId"></select>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="emptyPickupDate" class="control-label"></label>
                    <div class="input-group date">
                        @*<div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                    </div>*@
                        <input asp-for="emptyPickupDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="emptyPickupDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="containerNumber" class="control-label glyphicon-asterisk"></label>
                    <select asp-for="containerNumberId" class="form-control select2" asp-items="ViewBag.containerNumberId" required></select>
                    <span asp-validation-for="containerNumberId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="emptyPickupYard" class="control-label"></label>
                    <input asp-for="emptyPickupYard" class="form-control" />
                    <span asp-validation-for="emptyPickupYard" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="tareWeight" class="control-label"></label>
                    <input asp-for="tareWeight" class="form-control" />
                    <span asp-validation-for="tareWeight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="payloadWeight" class="control-label"></label>
                    <input asp-for="payloadWeight" class="form-control" />
                    <span asp-validation-for="payloadWeight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="actualGrossWeight" class="control-label"></label>
                    <input asp-for="actualGrossWeight" class="form-control" />
                    <span asp-validation-for="actualGrossWeight" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="terminalGateInDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="terminalGateInDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="terminalGateInDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="onBoardDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="onBoardDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="onBoardDate" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="form1113" class="control-label"></label>
                    <select asp-for="form1113" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Forms>()"></select>
                    <span asp-validation-for="form1113" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="form1113Date" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="form1113Date" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="form1113Date" class="text-danger"></span>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ssr" class="control-label"></label>
                    <input asp-for="ssr" class="form-control" />
                    <span asp-validation-for="ssr" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="gateInTerminal" class="control-label"></label>
                    <input asp-for="gateInTerminal" class="form-control" />
                    <span asp-validation-for="gateInTerminal" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ssrRequestDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="ssrRequestDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="ssrRequestDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ssrUpdationDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="ssrUpdationDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="ssrUpdationDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="etaDestination" class="control-label"></label>
                    <input asp-for="etaDestination" class="form-control" />
                    <span asp-validation-for="etaDestination" class="text-danger"></span>
                </div>
            </div>

        </div>


    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



