﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "_AdminlteNetcoreRegister";
}

<div class="register-box">
    
    <div class="register-box-body">
        <div class="register-logo">
            <a href="@netcore.MVC.Pages.HomeIndex.Url"><b>SIFI TECH</b></a>
        </div>
        @*<p class="login-box-msg"></p>*@
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <div class="form-group has-feedback">
            <label asp-for="Email"></label>
            <input asp-for="Email" type="email" class="form-control" placeholder="Email" />
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group has-feedback">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group has-feedback">
            <label asp-for="ConfirmPassword"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Retype password" />
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox"> I agree to the <a href="#">terms</a>
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
            </div>
            <!-- /.col -->
        </div>
        <a asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" class="text-center">Login</a>

    </form>

        @*<div class="social-auth-links text-center hidden">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat">
                <i class="fa fa-facebook"></i> Sign up using
                Facebook
            </a>
            <a href="#" class="btn btn-block btn-social btn-google btn-flat">
                <i class="fa fa-google-plus"></i> Sign up using
                Google+
            </a>
        </div>*@
    </div>
    <!-- /.form-box -->
</div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")

    <script>
        $(function () {
            $('input').iCheck({
              checkboxClass: 'icheckbox_square-blue',
              radioClass: 'iradio_square-blue',
              increaseArea: '20%' /* optional */
            });
          });
    </script>
}
