﻿@model netcore.Models.Invent.BookingSlot


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    //ViewData["EntityIcon"] = "fa fa-file-text";
    //ViewData["CreateInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //        " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="bookingSlotId" />
        <input type="hidden" asp-for="bookingSlotNumber" />
        @*<input type="hidden" asp-for="purchaseOrderStatus" />*@

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="bookingSlotNumber" class="control-label"></label>
                    <input asp-for="bookingSlotNumber" class="form-control" disabled />
                    <span asp-validation-for="bookingSlotNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="bookingSlotDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="bookingSlotDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="bookingSlotDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="branch" class="control-label"></label>
                    <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                    <span asp-validation-for="branchId" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="vendor" class="control-label"></label>
                    <select asp-for="vendorId" class="form-control select2" asp-items="ViewBag.vendorId"></select>
                    <span asp-validation-for="vendorId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="fromDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="fromDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="fromDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="toDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="toDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="toDate" class="text-danger"></span>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="fromLocation" class="control-label"></label>
                    <select asp-for="fromlocationId" class="form-control select2" asp-items="ViewBag.fromlocationId"></select>
                    <span asp-validation-for="fromlocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="toLocation" class="control-label"></label>
                    <select asp-for="tolocationId" class="form-control select2" asp-items="ViewBag.tolocationId"></select>
                    <span asp-validation-for="tolocationId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="vesselName" class="control-label"></label>
                    <input asp-for="vesselName" class="form-control" />
                    <span asp-validation-for="vesselName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="service" class="control-label"></label>
                    <input asp-for="service" class="form-control" />
                    <span asp-validation-for="service" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
         
                <div class="form-group">
                    <label asp-for="etdDate" class="control-label"></label>
                    <input asp-for="etdDate" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                    <span asp-validation-for="etdDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
         
                <div class="form-group">
                    <label asp-for="etaDate" class="control-label"></label>
                    <input asp-for="etaDate" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                    <span asp-validation-for="etaDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="documentCuttofftDate" class="control-label"></label>
                    <input class="form-control" asp-for="documentCuttofftDate" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                    <span asp-validation-for="documentCuttofftDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="siCuttofftDate" class="control-label"></label>
                    <input asp-for="siCuttofftDate" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                    <span asp-validation-for="siCuttofftDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="documentCuttofftDateIcd" class="control-label"></label>
                    <input asp-for="documentCuttofftDateIcd" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                    <span asp-validation-for="documentCuttofftDateIcd" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="hazoggCuttofftDate" class="control-label"></label>
                    <input asp-for="hazoggCuttofftDate" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                    <span asp-validation-for="hazoggCuttofftDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="gateOpenCuttofftDate" class="control-label"></label>
                    <input asp-for="gateOpenCuttofftDate" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                    <span asp-validation-for="gateOpenCuttofftDate" class="text-danger"></span>
                </div>



            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="gateCloseCuttofftDate" class="control-label"></label>
                    <input asp-for="gateCloseCuttofftDate" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                    <span asp-validation-for="gateCloseCuttofftDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="vgmCuttofftDate" class="control-label"></label>
                    <input asp-for="vgmCuttofftDate" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                    <span asp-validation-for="vgmCuttofftDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label asp-for="formCuttofftDate" class="control-label"></label>
                    <input asp-for="formCuttofftDate" class="form-control" type="datetime-local" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                    <span asp-validation-for="formCuttofftDate" class="text-danger"></span>
                </div>


            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="originFreeDays" class="control-label"></label>
                    <input asp-for="originFreeDays" class="form-control" />
                    <span asp-validation-for="originFreeDays" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="originPortStorageDays" class="control-label"></label>
                    <input asp-for="originPortStorageDays" class="form-control" />
                    <span asp-validation-for="originPortStorageDays" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="destinationFreeDays" class="control-label"></label>
                    <input asp-for="destinationFreeDays" class="form-control" />
                    <span asp-validation-for="destinationFreeDays" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="destinationPortStorageDays" class="control-label"></label>
                    <input asp-for="destinationPortStorageDays" class="form-control" />
                    <span asp-validation-for="destinationPortStorageDays" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">

                    <div class="form-group">
                        <label asp-for="status" class="control-label"></label>
                        <select asp-for="status" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Status>()"></select>
                        <span asp-validation-for="status" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="preparedBy" class="control-label"></label>
                    <input asp-for="preparedBy" class="form-control" required="required" />
                    <span asp-validation-for="preparedBy" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="remark" class="control-label"></label>
                    <input asp-for="remark" class="form-control" required="required" />
                    <span asp-validation-for="remark" class="text-danger"></span>
                </div>
            </div>
        </div>


    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
