﻿@model netcore.Models.Invent.BookingSlot

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
}



<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.bookingSlotNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.bookingSlotNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.branch)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.branch.branchName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.vendor)
                        </dt>
                        <dd>
                            @{
                                var vendorNameLoc = String.Concat(Model.vendor.vendorName + " (" + Model.vendor.countries.GetDisplayName() + ", " + Model.vendor.city + ")");

                                @Html.DisplayFor(model => vendorNameLoc)
                            }
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.bookingSlotDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.bookingSlotDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.fromDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.fromDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.toDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.toDate).ToString("dd/MM/yyyy")
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        
                  
                        <dt>
                            @Html.DisplayNameFor(model => model.remark)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.remark)
                        </dd>
                    </dl>
                </div>
  
            </div>
       
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.bookingSlotId" class="btn btn-primary">Edit</a>
                    @*<a href="@Url.Action("PrintBookingSlot", new { id = Model.bookingSlotId })" target="_blank" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Print Booking Slot</a>*@
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
   
        </div>
  
    </div>
    @*<div class="col-md-3">
        </div>*@
</div>


<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="grid" name="grid" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                  
                                    <th>Slot Number</th>
                                    <th>No Of Container</th>
                                    <th>Container Laden</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">

                            <a id="OPL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","BookingSlotLine", new { masterid = Model.bookingSlotId })')"><i class="fa fa-plus"></i> Add New Booking Slot(SHIFT + A)</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    @*<div class="col-md-3">

        </div>*@
</div>



<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var popup, dataTable;
        var entity = 'BookingSlotLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.bookingSlotId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "bookingSlotLineNumber" },
                    { "data": "qty" },
                    { "data": "containerLaden.containerName" },
                    { "data": "ladenPrice" },
                    { "data": "containerCategory" },
                    {
                        "data": "bookingSlotLineId",
                        "render": function (data) {
                            var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                            return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false,
            });
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            popup.modal('hide');
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }



        shortcut.add("shift+a", function() {
            $("#OPL").click();
        });

    </script>
}

