﻿@model IEnumerable<netcore.Models.Invent.BookingSlot>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-circle-o-notch";
    ViewData["ListTitle"] = "Booking Slots";
    //ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}


<table class="table table-hover table-striped" style="width:100%" height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.bookingSlotNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookingSlotDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.toDate)
            </th>




            <th>
                @Html.DisplayNameFor(model => model.fromLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.toLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gateCloseCuttofftDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.etdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.etaDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vesselName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preparedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                Booking Slot Lines &nbsp;

                <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var vendorNameLoc = String.Concat(item.vendor.vendorName + " (" + item.vendor.countries.GetDisplayName() + ", " + item.vendor.city + ")");

        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.bookingSlotId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.bookingSlotId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.bookingSlotId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookingSlotNumber)
            </td>
            <td>
                @item.bookingSlotDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch.branchName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => vendorNameLoc)
            </td>

            <td>
                @item.fromDate.Date.ToString("dd-MMM-yyyy")
            </td>

            <td>
                @item.toDate.Date.ToString("dd-MMM-yyyy")
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.fromLocation.locationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.toLocation.locationName)
            </td>

            <td>
                @item.gateCloseCuttofftDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @item.etdDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @item.etdDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vesselName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preparedBy)
            </td>
            <td>
                @if (item.status == netcore.Models.Invent.Status.DRAFT)
                {
                    <div style="color: orange">
                        <b>@Html.DisplayFor(modelItem => item.status)</b>

                    </div>
                }
                else
                {
                    <div style="color: forestgreen">
                        <b>@Html.DisplayFor(modelItem => item.status)</b>

                    </div>
                }

            </td>
            <td>

                @foreach (var bookingSlotLine in item.bookingSlotLine)
                {


                    <div style="font-size:10px; width: 100%" class="widget-content">
                        <div class="row">
                            <div class="col-md-12">
                                <strong>Slot No. -</strong> @Html.DisplayFor(modelItem => bookingSlotLine.bookingSlotLineNumber)
                            </div>
                           
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <strong>QTY -</strong> @Html.DisplayFor(modelItem => bookingSlotLine.qty)
                            </div>
                            <div class="col-md-6">
                                <strong>Category -</strong> @Html.DisplayFor(modelItem => bookingSlotLine.containerCategory)
                            </div>
                        </div>


                        <div class="row">
                            @if (bookingSlotLine.containerLaden.containerName != null)
                            {
                                <div class="col-md-6">
                                    <strong>Laden. -</strong> @Html.DisplayFor(modelItem => bookingSlotLine.containerLaden.containerName)
                                </div>
                            }
                            @if (bookingSlotLine.ladenPrice > 0)
                            {
                                <div class="col-md-6">
                                    <strong>Price -</strong> @Html.DisplayFor(modelItem => bookingSlotLine.ladenPrice)
                                </div>
                            }

                        </div>

                        <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                    </div>

                }

            </td>

        </tr>
        }
    </tbody>
</table>
