﻿@model IEnumerable<netcore.Models.Invent.InlandPrice>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-truck";
    ViewData["ListTitle"] = "Inland Pricing";
    //ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}


<table class="table table-hover table-striped" style="width:100%" height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.inlandPriceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inlandPriceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pickupLocation)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.dropLocation)
            </th>
            <th>
                Inland Lines &nbsp;

                <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var vendorNameLoc = String.Concat(item.vendor.vendorName + " (" + item.vendor.countries.GetDisplayName() + ", " + item.vendor.city + ")");

        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.inlandPriceId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.inlandPriceId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.inlandPriceId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inlandPriceNumber)
            </td>
            <td>
                @item.inlandPriceDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch.branchName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => vendorNameLoc)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.pickupLocation)<br>
                @Html.DisplayFor(modelItem => item.pickupcity)<br>
                @Html.DisplayFor(modelItem => item.pickupPincode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dropLocation)<br>
                @Html.DisplayFor(modelItem => item.dropcity)<br>
                @Html.DisplayFor(modelItem => item.dropPincode)
            </td>
            <td>

                @foreach (var inlandPriceLine in item.inlandPriceLine)
                {
                  

                <div style="font-size:10px; width: 100%" class="widget-content">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Charge Head. -</strong> @Html.DisplayFor(modelItem => inlandPriceLine.chargeHead.chargeHeadName)
                        </div>
                        <div class="col-md-6">
                            <strong>Currency -</strong> @Html.DisplayFor(modelItem => inlandPriceLine.currency.currencyCode)
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <strong>Part -</strong> @Html.DisplayFor(modelItem => inlandPriceLine.part)
                        </div>
                        <div class="col-md-6">
                            <strong>Category -</strong> @Html.DisplayFor(modelItem => inlandPriceLine.category)
                        </div>
                    </div>


                    <div class="row">
                        @if (inlandPriceLine.wtFrom > 0)
                        {
                            <div class="col-md-6">
                                <strong>WT From. -</strong> @Html.DisplayFor(modelItem => inlandPriceLine.wtFrom)
                            </div>
                        }
                        @if (inlandPriceLine.wtTo > 0)
                        {
                            <div class="col-md-6">
                                <strong>WT TO -</strong> @Html.DisplayFor(modelItem => inlandPriceLine.wtTo)
                            </div>
                        }
                    </div>


                    <div class="row">
                        @if (inlandPriceLine.containerLaden.containerName != null)
                        {
                            <div class="col-md-6">
                                <strong>Laden. -</strong> @Html.DisplayFor(modelItem => inlandPriceLine.containerLaden.containerName)
                            </div>
                        }
                        @if (inlandPriceLine.ladenPrice > 0)
                        {
                            <div class="col-md-6">
                                <strong>Price -</strong> @Html.DisplayFor(modelItem => inlandPriceLine.ladenPrice)
                            </div>
                        }

                    </div>

                    <div class="row">
                        @if (inlandPriceLine.containerEmpty.containerName != null)
                        {
                            <div class="col-md-6">
                                <strong>Empty -</strong> @Html.DisplayFor(modelItem => inlandPriceLine.containerEmpty.containerName)
                            </div>
                        }
                        @if (inlandPriceLine.emptyPrice > 0)
                        {
                            <div class="col-md-6">
                                <strong>Price. -</strong> @Html.DisplayFor(modelItem => inlandPriceLine.emptyPrice)
                            </div>
                        }
                    </div>
                    <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                </div>

                }

            </td>



        </tr>
        }
    </tbody>
</table>
