﻿@model netcore.Models.Invent.InlandPrice
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print Ocean Price</title>
</head>
<body onload="window.print();">
    <div class="wrapper">
        <!-- Main content -->
        <section class="invoice">
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">
                        @*<a class="logo-mini">Athlon</a>*@
                        <a><b>SIFI TECH</b></a>
                        <small class="pull-right">@Model.inlandPriceNumber</small>
                    </h2>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <address>

                        <strong>Branch - </strong>  @Model.branch.branchName<br>
                        <strong>Vendor - </strong>  @Model.vendor.vendorName<br>
                        <strong>Pick up Location - </strong>@Model.pickupLocation <br>
                        <strong>Pick up City - </strong>@Model.pickupcity <br>
                        <strong>Pick up Pincode - </strong>@Model.pickupPincode <br>
                        <strong>From Date - </strong> @Model.fromDate.ToString("dd-MMM-yyyy")<br>
                    </address>


                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <address>

                        <strong>Ref No - </strong>  @Model.inlandPriceNumber<br>
                        <strong>Date - </strong> @Model.inlandPriceDate.ToString("dd-MMM-yyyy")<br>
                        <strong>Drop Location - </strong>@Model.dropLocation <br>
                        <strong>Drop City - </strong>@Model.dropcity <br>
                        <strong>Drop Pincode - </strong>@Model.dropPincode <br>
                        <strong>To Date - </strong> @Model.toDate.ToString("dd-MMM-yyyy")<br>
                    </address>


                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <address>

                        <strong>Remark - </strong>  @Model.remark<br>


                    </address>

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->


            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Charge Head</th>
                                <th>Currency</th>
                                <th>Part</th>
                                <th>category</th>
                                <th>WT From (In MT)</th>
                                <th>WT TO (In MT)</th>
                                <th>Container (Laden)</th>
                                <th>Laden Price</th>
                                <th>Container (Empty)</th>
                                <th>Empty Price</th>
                            </tr>
                        </thead>
                        @{ int rowNo = 0; }

                        <tbody>
                            @foreach (var item in Model.inlandPriceLine.OrderBy(x => x.inlandPrice.inlandPriceNumber))
                            {
                                <tr>
                                    <td>@(rowNo += 1)</td>

                                    <td>@item.chargeHead.chargeHeadName</td>
                                    <td>@item.currency.currencyCode</td>
                                    <td>@item.part</td>
                                    <td>@item.category</td>
                                    <td>@item.wtFrom</td>
                                    <td>@item.wtTo</td>
                                    <td>@item.containerLaden.containerName</td>
                                    <td>@item.ladenPrice</td>
                                    <td>@item.containerEmpty.containerName</td>
                                    <td>@item.emptyPrice</td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.col -->
            </div>
            <div class="col-sm-3 invoice-col">
                <p class="lead">__________________</p>
                <p class="lead">Signature / Stamp</p>
            </div>
            <!-- /.row -->
            <!-- this row will not appear when printing -->
            <div class="row no-print">
                <div class="col-xs-12">

                    <a href="@Url.Action("PrintInlandPrice", new { id = Model.inlandPriceId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

                </div>
            </div>


        </section>
        <!-- /.content -->
    </div>
    <section class="invoice">
        <br />
        <div class="col-xs-12" style="font-size: x-small">
            <p>Developed By Over & All Tech © 2020</p>
        </div>
    </section>

    <!-- ./wrapper -->
    @Html.Partial("_AdminlteNetcoreBasicStyles")
    @Html.Partial("_AdminlteNetcoreBasicScripts")
</body>
</html>
