﻿@model netcore.Models.Invent.ImportOperation


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    //ViewData["EntityIcon"] = "fa fa-file-text";
    //ViewData["CreateInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //        " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="importOperationId" />
        <input type="hidden" asp-for="importOperationNumber" />
        @*<input type="hidden" asp-for="purchaseOrderStatus" />*@

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="importOperationNumber" class="control-label"></label>
                    <input asp-for="importOperationNumber" class="form-control" disabled />
                    <span asp-validation-for="importOperationNumber" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="branch" class="control-label"></label>
                    <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                    <span asp-validation-for="branchId" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="consignee" class="control-label"></label>
                    <input asp-for="consignee" class="form-control" required="required" />
                    <span asp-validation-for="consignee" class="text-danger"></span>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="shipper" class="control-label"></label>
                    <input asp-for="shipper" class="form-control" required="required" />
                    <span asp-validation-for="shipper" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="clearingpartydetails" class="control-label"></label>
                    <input asp-for="clearingpartydetails" class="form-control" required="required" />
                    <span asp-validation-for="clearingpartydetails" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="customer" class="control-label"></label>
                    <select asp-for="customerId" class="form-control select2" asp-items="ViewBag.customerId"></select>
                    <span asp-validation-for="customerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="originFreeDays" class="control-label"></label>
                    <input asp-for="originFreeDays" class="form-control" required="required" />
                    <span asp-validation-for="originFreeDays" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="booking" class="control-label"></label>
                    <select asp-for="bookingId" class="form-control select2" asp-items="ViewBag.bookingId"></select>
                    <span asp-validation-for="bookingId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="bookingDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="bookingDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="bookingDate" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">


            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="billOfLading" class="control-label"></label>
                    <select asp-for="billOfLadingId" class="form-control select2" asp-items="ViewBag.billOfLadingId">
                        <option value="">Please Select</option>

                    </select>

                    <span asp-validation-for="billOfLadingId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="thirdPartyBLN" class="control-label"></label>
                    <input asp-for="thirdPartyBLN" class="form-control" />
                    <span asp-validation-for="thirdPartyBLN" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="billOfLadingDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="billOfLadingDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="billOfLadingDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="originFreeDays" class="control-label"></label>
                    <input asp-for="originFreeDays" class="form-control" required="required" />
                    <span asp-validation-for="originFreeDays" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="originPortStorage" class="control-label"></label>
                    <input asp-for="originPortStorage" class="form-control" required="required" />
                    <span asp-validation-for="originPortStorage" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="destinationFreeDays" class="control-label"></label>
                    <input asp-for="destinationFreeDays" class="form-control" required="required" />
                    <span asp-validation-for="destinationFreeDays" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="destinationPortStorage" class="control-label"></label>
                    <input asp-for="destinationPortStorage" class="form-control" required="required" />
                    <span asp-validation-for="destinationPortStorage" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="commodity" class="control-label"></label>
                    <input asp-for="commodity" class="form-control" required="required" />
                    <span asp-validation-for="commodity" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="category" class="control-label"></label>
                    <input asp-for="category" class="form-control" required="required" />
                    <span asp-validation-for="category" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="deStuff" class="control-label"></label>
                    <input asp-for="deStuff" class="form-control" required="required" />
                    <span asp-validation-for="deStuff" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="uan" class="control-label"></label>
                    <input asp-for="uan" class="form-control" required="required" />
                    <span asp-validation-for="uan" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="classes" class="control-label"></label>
                    <input asp-for="classes" class="form-control" required="required" />
                    <span asp-validation-for="classes" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="stuffingType" class="control-label"></label>
                    <input asp-for="stuffingType" class="form-control" required="required" />
                    <span asp-validation-for="stuffingType" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="igmNumber" class="control-label"></label>
                    <input asp-for="igmNumber" class="form-control" required="required" />
                    <span asp-validation-for="igmNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="igmDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="igmDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="igmDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="freight" class="control-label"></label>
                    <input asp-for="freight" class="form-control" required="required" />
                    <span asp-validation-for="freight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="pol" class="control-label"></label>
                    <input asp-for="pol" class="form-control" required="required" />
                    <span asp-validation-for="pol" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="pod" class="control-label"></label>
                    <input asp-for="pod" class="form-control" required="required" />
                    <span asp-validation-for="pod" class="text-danger"></span>
                </div>
            </div>

            @*<div class="col-md-3 hide">
                <div class="form-group">
                    <label asp-for="terminal" class="control-label"></label>
                    <input asp-for="terminal" class="form-control" required="required" />
                    <span asp-validation-for="terminal" class="text-danger"></span>
                </div>
            </div>*@
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="vendorTerminal" class="control-label"></label>
                    <select asp-for="vendorTerminalId" class="form-control select2" asp-items="ViewBag.vendorTerminalId">
                        <option value="">Please Select</option>

                    </select>
                    <span asp-validation-for="vendorTerminal" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="vessel" class="control-label"></label>
                    <input asp-for="vessel" class="form-control" required="required" />
                    <span asp-validation-for="vessel" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="voyage" class="control-label"></label>
                    <input asp-for="voyage" class="form-control" required="required" />
                    <span asp-validation-for="voyage" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="lineCode" class="control-label"></label>
                    <input asp-for="lineCode" class="form-control" required="required" />
                    <span asp-validation-for="lineCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="slotOperator" class="control-label"></label>
                    <input asp-for="slotOperator" class="form-control" required="required" />
                    <span asp-validation-for="slotOperator" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="noOfContainer" class="control-label"></label>
                    <input asp-for="noOfContainer" class="form-control" required="required" />
                    <span asp-validation-for="noOfContainer" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="type" class="control-label"></label>
                    <input asp-for="type" class="form-control" required="required" />
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="leoDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="leoDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="leoDate" class="text-danger"></span>
                </div>
            </div>



            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="etd" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="etd" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="etd" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="eta" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="eta" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="eta" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="totalGrossWeight" class="control-label"></label>
                    <input asp-for="totalGrossWeight" class="form-control" required="required" />
                    <span asp-validation-for="totalGrossWeight" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="netWeight" class="control-label"></label>
                    <input asp-for="netWeight" class="form-control" required="required" />
                    <span asp-validation-for="netWeight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="hsCode" class="control-label"></label>
                    <input asp-for="hsCode" class="form-control" required="required" />
                    <span asp-validation-for="hsCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="surveyor" class="control-label"></label>
                    <input asp-for="surveyor" class="form-control" required="required" />
                    <span asp-validation-for="surveyor" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="smtpNo" class="control-label"></label>
                    <input asp-for="smtpNo" class="form-control" required="required" />
                    <span asp-validation-for="smtpNo" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="smtpDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="smtpDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="smtpDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="incoterm" class="control-label"></label>
                    <input asp-for="incoterm" class="form-control" required="required" />
                    <span asp-validation-for="incoterm" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="remark" class="control-label"></label>
                    <input asp-for="remark" class="form-control" required="required" />
                    <span asp-validation-for="remark" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
