﻿@model IEnumerable<netcore.Models.Invent.ImportOperation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-arrow-circle-down";
    ViewData["ListTitle"] = "Import Operation";
    //ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}


<table class="table table-hover table-striped" style="width:100%" height: 100%>
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.importOperationNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.importOperationDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.booking.bookingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.booking.salesInquiry.salesInquiryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shipper)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.consignee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.billOfLading.billOfLoadingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noOfContainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.etd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.booking.salesPersonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.remark)
            </th>
            <th>
                Booking Status
            </th>
            @*<th>
                Import Lines &nbsp;

                <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.importOperationId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.importOperationId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.importOperationId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.importOperationNumber)
            </td>
            <td>
                @item.importOperationDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking.bookingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking.salesInquiry.salesInquiryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch.branchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.consignee)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.thirdPartyBLN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noOfContainer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @item.etd.ToString("dd-MM-yyyy")
                @*@item.etd.Date.ToString("dd-MMM-yyyy")*@

                @*@Html.DisplayFor(modelItem => item.etd.ToString("dd/MM/yyyy"))*@
            </td>
            <td>
                @item.eta.ToString("dd-MM-yyyy")

                @*@Html.DisplayFor(modelItem => item.eta.ToString("dd/MM/yyyy"))*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking.salesPersonName)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.remark)
                </td>
            <td>
                @if (item.booking.status == netcore.Models.Invent.Status.DRAFT)
                {
                    <div style="color: orange">
                        <b>@Html.DisplayFor(modelItem => item.booking.status)</b>

                    </div>
                }
                else
                {
                    <div style="color: forestgreen">
                        <b>@Html.DisplayFor(modelItem => item.booking.status)</b>

                    </div>
                }

            </td>

            @*<td>

                @foreach (var importOperationLine in item.importOperationLine)
                {

                    <div style="font-size:10px; width: 100%" class="widget-content">
                        <div class="row">
                            <div class="col-md-6">
                                <strong>Cont. -</strong> @Html.DisplayFor(modelItem => importOperationLine.containerNumber.containerCode)
                            </div>
                            <div class="col-md-6">
                                <strong>Empty Yard. -</strong> @Html.DisplayFor(modelItem => importOperationLine.emptyYard.locationName)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <strong>ICD -</strong> @Html.DisplayFor(modelItem => importOperationLine.icdCode)
                            </div>
                            <div class="col-md-6">
                                <strong>IAL -</strong> @Html.DisplayFor(modelItem => importOperationLine.ial)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <strong>Weight -</strong> @Html.DisplayFor(modelItem => importOperationLine.contWeight)
                            </div>
                            <div class="col-md-6">
                                <strong>Seal No. -</strong> @Html.DisplayFor(modelItem => importOperationLine.sealNo)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <strong>TRP Mode -</strong> @Html.DisplayFor(modelItem => importOperationLine.trpMode)
                            </div>
                            <div class="col-md-6">
                                <strong>Dctention Days -</strong> @Html.DisplayFor(modelItem => importOperationLine.npOfDays)
                            </div>
                        </div>
                        <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                    </div>

                }

            </td>*@


        </tr>
        }
    </tbody>
</table>
