﻿@model IEnumerable<netcore.Models.Invent.ImportOperationLine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreLineIndex.cshtml";
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.importOperation.booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.importOperation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.containerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.partyNomination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emptyValidity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.doValidityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lineNomination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ialDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trpMode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.freeDayExpiry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.npOfDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emptyReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.portOutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.contWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sealNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icdLoadIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icdLoadOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icdEmptyIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.icdEmptyOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emptyYard)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.importOperation.booking.bookingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.importOperation.importOperationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.containerNumber.containerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icdCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.partyNomination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emptyValidity)
            </td>
            <td>
                @item.doValidityDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lineNomination)
            </td>
            <td>
                @item.ialDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trpMode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.freeDayExpiry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.npOfDays)
            </td>
            <td>
                @item.emptyReturnDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @item.portOutDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sealNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icdLoadIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icdLoadOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icdEmptyIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.icdEmptyOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emptyYard.locationName)
            </td>
        </tr>
        }
    </tbody>
</table>
