﻿@model netcore.Models.Invent.ImportOperation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Import Delivery Order</title>
</head>
<body onload="window.print();">
    <div class="wrapper">
     
        <section class="invoice">

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header text-center">
                        @*<a class="logo-mini"><b>@Model.branch.branchName</b></a>*@
                        @*<a><b>(SIFI TECH)</b></a>*@

                        @if (Model.branch.branchLogoUrl != null)
                        {
                            <img src="@(Model.branch.branchLogoUrl)" width="25%" class="img-responsive">
                        }
                        else
                        {
                            <b>@(Model.branch.branchName)</b>
                        }
                    </h2>


                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-header text-center">
                        <a>FINAL E-DELIVERY ORDER</a>
                    </h2>

                </div>

            </div>

            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>DO No. - </strong>  @Model.importOperationNumber<br>
                        <strong>Dated - </strong>@Model.importOperationDate.ToString("dd-MMM-yyyy") <br>

                    </address>
                </div>

                <div class="col-xs-6">
                    <address>

                        @if (Model.billOfLading != null)
                        {
                            <strong>MBL No - </strong>@Model.billOfLading.billOfLoadingNumber <br>
                        }
                        else
                        {
                            <strong>MBL No - </strong>@Model.thirdPartyBLN <br>
                        }
                        <strong>BL Date - </strong>@Model.billOfLadingDate.ToString("dd-MMM-yyyy") <br>
                    </address>
                </div>
            </div>


            <div class="row">

                <div class="col-xs-6">
                    <address>
                        <strong>SHIPPER</strong> <br />
                        @(Model.shipper)<br>
                        <br>
                    </address>
                </div>

                <div class="col-xs-6">
                    <address>
                        <strong>Clearing Party Details</strong> <br />
                        @(Model.clearingpartydetails)<br>
                        <br>
                    </address>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <address>
                        <strong>To CFS/ TERMINAL / ICD</strong> <br />
                        @if (Model.vendorTerminal != null)
                        {
                            @(Model.vendorTerminal.vendorName)<br>
                        }<br>
                    </address>
                </div>

                <div class="col-xs-4">
                    <address>
                        <strong>CONSIGNEE</strong> <br />
                        @(Model.consignee)<br>
                        <br>
                    </address>
                </div>

                <div class="col-xs-4">
                    <address>
                        <strong>NOTIFY PARTY</strong> <br />
                        @(Model.customer.customerName)<br>
                        <br>
                    </address>
                </div>

            </div>


            <div class="row">
                <div class="col-xs-3">
                    <address>
                        <strong>Vessel Name / Voyage Number</strong><br />
                        @(Model.vessel + " " + Model.voyage)
                        <br>
                    </address>
                </div>

                <div class="col-xs-3">
                    <address>

                        <strong>Port Of Loading/Departure</strong><br />
                        @(Model.pol)
                        <br>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address>

                        <strong>Port Of Discharge</strong><br />
                        @(Model.pod)
                        <br>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address>

                        <strong>E.T.A</strong><br />
                        @(Model.eta.ToString("dd-MM-yyyy"))
                        <br>
                    </address>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-3">
                    <address>
                        <strong>IGM No. & Date</strong><br />
                        @(Model.igmNumber + " " + Model.igmDate.ToString("dd-MM-yyyy"))
                        <br>
                    </address>
                </div>

                <div class="col-xs-3">
                    <address>

                        <strong>Item Number</strong><br />
                       
                        <br>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address>

                        <strong>Place Of Delivery</strong><br />
   @if (Model.vendorTerminal != null)
                        {
                            @(Model.vendorTerminal.vendorName)<br>
                        }                        <br>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address>

                        <strong>Customs Registration Number</strong><br />
  
                        <br>
                    </address>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-3">
                    <address>
                        <strong>D&D Free days POD</strong><br />
                        @Model.destinationFreeDays
                        <br>
                    </address>
                </div>

                <div class="col-xs-3">
                    <address>

                        <strong>Packages</strong><br />
                        @(Model.booking.bookingLine.Count())
                        <br>
                    </address>
                </div>
                <div class="col-xs-2">
                    <address>

                        <strong>DESCRIPTION OF GOODS :</strong><br />
                        @Model.commodity
                        <br>
                    </address>
                </div>
                <div class="col-xs-2">
                    <address>

                        <strong>Weight</strong><br />
                        @(Model.totalGrossWeight)
                        <br>
                    </address>
                </div>
                <div class="col-xs-2">
                    <address>

                        <strong>Volume</strong><br />
                        @{
                            var len = Model.booking.bookingLine.Sum(x => x.length);
                            var width = Model.booking.bookingLine.Sum(x => x.width);
                            var height = Model.booking.bookingLine.Sum(x => x.height);
                            @(len * width * height)
                        }

                        <br>
                    </address>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Container No</th>
                                <th>Seal No</th>
                                <th>Type</th>
                                @*<th>Freight</th>*@
                                <th>Party Nomination</th>
                                <th>Empty Return Date</th>
                            </tr>
                        </thead>
                 

                        <tbody>
                            @foreach (var item in Model.importOperationLine.OrderBy(x => x.importOperation.importOperationNumber))
                            {
                                <tr>
                                    <td>@item.containerNumber.containerCode (@item.containerNumber.container.containerType.GetDisplayName())</td>
                                    <td>@item.sealNo</td>
                                    <td>@item.importOperation.type</td>
                                    @*<td>@item.importOperation.freight</td>*@
                                    <td>@item.partyNomination</td>
                                    <td>@item.emptyReturnDate.ToString("dd-MM-yyyy")</td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>




            <br />

            <div class="row">
                <div class="col-xs-12">

                    <p>Delivery Order issued against a suitable Bank Guarantee / Seaway Bill / Original Bill of Lading duly endorsed in possession and is subject to all Clause/Terms and condition of ONE Bill of Lading.
                    <p>**This is an electronically generated Delivery Order which requires no signature. P.S. THIS DELIVERY ORDER VALID SUBJECT TO DISCHARGE OF CONTAINER/SHIPMENT.
                    <p>"By virtue of obtaining this Delivery Order the Importer/Consignee or his representative confirms that he is responsible for payment of appropriate stamp duty at the value of the first assessment or subsequent reassessment of value/duty if any"
                    <p>(Delivery Order not valid for delivery until franked with applicable stamp duty)</p>
                </div>
                <br />
                <div class="col-xs-6">
                    <p><b>@Model.branch.branchName</b></p>
                    <small class="text-center"><b>Address - </b>@(Model.branch.street1 + " " + Model.branch.street2 + " " + Model.branch.country + " " + Model.branch.province + " " + Model.branch.city)</small>
                </div>

                <div class="col-xs-6">
                    <p><b>HEAD OFFICE</b></p><br />

                </div>
            </div>



            <br />
            <div class="row no-print pull-right">
                <div class="col-xs-12">

                    <a href="@Url.Action("PrintImportDO", new { id = Model.importOperationId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

                </div>
            </div>


        </section>
  
    </div>
    <section class="invoice">
        <br />
        <div class="col-xs-12" style="font-size: x-small">
            <p>Developed By Over & All Tech © 2022</p>
        </div>
    </section>


    @Html.Partial("_AdminlteNetcoreBasicStyles")
    @Html.Partial("_AdminlteNetcoreBasicScripts")
</body>
</html>
