﻿@model netcore.Models.Invent.ImportOperation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Import Off Delivery Order</title>
</head>
<body onload="window.print();">
    <div class="wrapper">
     
        <section class="invoice">

            <div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header text-center">
                        @*<a class="logo-mini"><b>@Model.branch.branchName</b></a>*@
                        
                            @if (Model.branch.branchLogoUrl != null)
                            {
                                <img src="@(Model.branch.branchLogoUrl)" width="25%" class="img-responsive">
                            }
                            else
                            {
                                <b>@(Model.branch.branchName)</b>
                            }

                        
                        @*<a><b>(SIFI TECH)</b></a>*@
                    </h2>


                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-header text-center">
                        <a>EMPTY OFFLOADING ORDER</a>
                    </h2>

                </div>

            </div>

            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>DO No. - </strong>  @Model.importOperationNumber<br>
                        <strong>Dated - </strong>@Model.importOperationDate.ToString("dd-MMM-yyyy") <br>

                    </address>
                </div>

                <div class="col-xs-6">
                    <address>

                        @if (Model.billOfLading != null)
                        {
                            <strong>MBL No - </strong>@Model.billOfLading.billOfLoadingNumber <br>
                        }
                        else
                        {
                            <strong>MBL No - </strong>@Model.thirdPartyBLN <br>
                        }
                        <strong>BL Date - </strong>@Model.billOfLadingDate.ToString("dd-MMM-yyyy") <br>
                    </address>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-4">
                    <address>
                        <strong>To CFS/ TERMINAL / ICD</strong> <br />
                        @if (Model.vendorTerminal != null)
                        {
                            @(Model.vendorTerminal.vendorName)<br>
                        }
                    </address>
                </div>

                <div class="col-xs-4">
                    <address>
                        <strong>CONSIGNEE</strong> <br />
                        @(Model.consignee)<br>
                        <br>
                    </address>
                </div>

                <div class="col-xs-4">
                    <address>
                        <strong>NOTIFY PARTY</strong> <br />
                        <br>
                    </address>
                </div>
            </div>


            <div class="row">
                <div class="col-xs-3">
                    <address>
                        <strong>Vessel Name / Voyage Number</strong><br />
                        @(Model.vessel + " " + Model.voyage)
                        <br>
                    </address>
                </div>

                <div class="col-xs-3">
                    <address>

                        <strong>Port Of Loading/Departure</strong><br />
                        @(Model.pol)
                        <br>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address>

                        <strong>Port Of Discharge</strong><br />
                        @(Model.pod)
                        <br>
                    </address>
                </div>
                <div class="col-xs-3">
                    <address>

                        <strong>E.T.A</strong><br />
                        @(Model.eta)
                        <br>
                    </address>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-6">
                    <address>
                        <strong>IGM No. & Date</strong><br />
                        @(Model.igmNumber + " " + Model.igmDate)
                        <br>
                    </address>
                </div>

                <div class="col-xs-6">
                    <address>

                        <strong>Place Of Delivery</strong><br />
                        @(Model.pod)
                        <br>
                    </address>
                </div>

            </div>



            <div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Container No</th>
                            
                                <th>Type</th>
                                <th>DO Validity Date</th>
                                <th>Empty Return Date</th>
     
                            </tr>
                        </thead>
                        @{ int rowNo = 0; }

                        <tbody>
                            @foreach (var item in Model.importOperationLine.OrderBy(x => x.importOperation.importOperationNumber))
                            {
                                <tr>
                                    <td>@(rowNo += 1)</td>

                                    <td>@item.containerNumber.containerCode (@item.containerNumber.container.containerType.GetDisplayName())</td>
                            
                                    <td>@item.importOperation.type</td>
                                    <td>@item.doValidityDate.Date.ToShortDateString()</td>
                                    <td>@item.emptyReturnDate.Date.ToShortDateString()</td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

            </div>


            

            <br />

            <div class="row">
                <div class="col-xs-12">

                    <p>KINDLY ARRANGE TO OFFLOAD AFOREMENTIONED CONTAINERS IN YOUR EMPTY YARD IN SOUND CONDITION. IN CASE OF DAMAGE PLEASE COLLECT DAMAGE CHARGES BEFORE OFFLOADING AS PER REPAIR ESTIMATES.</p>
                </div>
                <br />
                <div class="col-xs-6">
                    <p><b>@Model.branch.branchName</b></p>
                    <small class="text-center"><b>Address - </b>@(Model.branch.street1 + " " + Model.branch.street2 + " " + Model.branch.country + " " + Model.branch.province + " " + Model.branch.city)</small>
                </div>

                <div class="col-xs-6">
                    <p><b>HEAD OFFICE</b></p><br />

                </div>
            </div>
           


            <br />
            <div class="row no-print pull-right">
                <div class="col-xs-12">

                    <a href="@Url.Action("PrintImportOffOrder", new { id = Model.importOperationId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

                </div>
            </div>


        </section>
  
    </div>
    <section class="invoice">
        <br />
        <div class="col-xs-12" style="font-size: x-small">
            <p>Developed By Over & All Tech © 2020</p>
        </div>
    </section>


    @Html.Partial("_AdminlteNetcoreBasicStyles")
    @Html.Partial("_AdminlteNetcoreBasicScripts")
</body>
</html>
