﻿@model netcore.Models.Invent.PurchaseInvoice
@inject netcore.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);

}



<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-md-12">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.purchaseSequenceNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.purchaseSequenceNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.booking)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.booking.bookingNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.vendorInvoiceNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.vendorInvoiceNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.blNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.blNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.branch)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.branch.branchName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.vendor)
                        </dt>
                        <dd>
                            @{
                                var vendorNameLoc = String.Concat(Model.vendor.vendorName + " (" + Model.vendor.countries.GetDisplayName() + ", " + Model.vendor.city + ")");

                                @Html.DisplayFor(model => vendorNameLoc)
                            }
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.booking.bookingNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.booking.bookingNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.purchaseInvoiceDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.purchaseInvoiceDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.fromLocation)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.fromLocation.locationName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.toLocation)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.toLocation.locationName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.status)
                        </dt>
                        <dd>
                            @if (Model.status == netcore.Models.Invent.InvoiceStatus.DRAFT)
                            {
                                <div style="color: orange">
                                    <b>@Html.DisplayFor(model => model.status)</b>

                                </div>
                            }
                            else
                            {
                                <div style="color: forestgreen">
                                    <b>@Html.DisplayFor(model => model.status)</b>

                                </div>
                            }

                        </dd>
                    </dl>
                </div>


            </div>

            @*@if (Model.status != netcore.Models.Invent.InvoiceStatus.COMPLETED)
                {
                    <div class="box-footer">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">

                                    <a id="OPL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","PurchaseInvoiceLine", new { masterid = Model.purchaseInvoiceId })')"><i class="fa fa-plus"></i> Add New Invoices Line (SHIFT + A)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }*@

            @*<div class="box-footer">
                    <div class="form-group">
                        <a asp-action="Edit" asp-route-id="@Model.purchaseInvoiceId" class="btn btn-primary">Edit</a>
                        <a asp-action="PrintPurchaseInvoice" asp-route-id="@Model.purchaseInvoiceId" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Print Sale Inquiry</a>
                        <a asp-action="Index" class="btn btn-default">Back to List</a>
                    </div>
                </div>*@

            <div class="box-footer">
                <div class="form-group">
                    @if (appUser.UserName.Contains("pricing@sifitech.com"))
                    {
                        <a asp-action="Index" class="btn btn-default">Back to List</a>


                    }
                    else if (appUser.UserName.Contains("account@sifitech.com"))
                    {
                        <a asp-action="Index" class="btn btn-default">Back to List</a>

                    }
                    else
                    {
                        <a asp-action="Edit" asp-route-id="@Model.purchaseInvoiceId" class="btn btn-primary">Edit</a>

                        <a asp-action="Index" class="btn btn-default">Back to List</a>

                    }
                </div>
            </div>

        </div>

    </div>
    @*<div class="col-md-3">
        </div>*@
</div>


<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="grid" name="grid" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-2">Pricing Type</th>
                                    <th class="col-md-2">Charge Head</th>
                                    <th class="col-md-2">Container Type</th>
                                    <th class="col-md-1">Amount</th>
                                    <th class="col-md-1">Currency</th>
                                    <th class="col-md-2">Quantity</th>
                                    <th class="col-lg-2">Sub Total</th>
                                    <th class="col-md-2">SAC</th>
                                    <th class="col-md-2">CGST</th>
                                    <th class="col-md-2">SGST</th>
                                    <th class="col-lg-2">IGST</th>
                                    <th class="col-lg-2">Total GST</th>
                                    <th class="col-lg-2">Grand Amount</th>
                                    <th class="col-lg-1"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            @*<div class="box-footer">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">

                                <a id="OPL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","PurchaseInvoiceLine", new { masterid = Model.purchaseInvoiceId })')"><i class="fa fa-plus"></i> Add New Purchase Invoice Line (SHIFT + A)</a>
                            </div>
                        </div>
                    </div>
                </div>*@

            @if (Model.status != netcore.Models.Invent.InvoiceStatus.COMPLETED)
            {
                <div class="box-footer">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-12">

                                <a id="OPL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","PurchaseInvoiceLine", new { masterid = Model.purchaseInvoiceId })')"><i class="fa fa-plus"></i> Add New Purchase Invoice Line (SHIFT + A)</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-footer">
                <div class="form-group">
                    @*<a href="@Url.Action("Finish", new { id = Model.invoicesId })" class="btn btn-danger pull-right"><i class="fa fa-flag-checkered"></i>  Complete & Finish Invoice</a>*@
                    @if (Model.status != netcore.Models.Invent.InvoiceStatus.COMPLETED)
                    {
                        <a onclick="FinishInvoice('@Model.purchaseInvoiceId')" class="btn btn-danger pull-right"><i class="fa fa-flag-checkered"></i>  Complete & Finish Invoice</a>
                    }
                    @if (Model.status == netcore.Models.Invent.InvoiceStatus.COMPLETED)
                    {
                        <a asp-action="PrintPurchaseInvoice" asp-route-id="@Model.purchaseInvoiceId" class="btn btn-primary pull-left" target="_blank"><i class="fa fa-print"></i> Print Invoice</a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>



<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var popup, dataTable;
        var entity = 'PurchaseInvoiceLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.purchaseInvoiceId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "linePricingType" },
                    { "data": "chargeHead.chargeHeadName" },
                    { "data": "containerEmptyLaden" },
                    { "data": "amount" },
                    { "data": "currency.currencyCode" },
                    { "data": "quantity" },
                    { "data": "totalAmountWithoutGST" },
                    { "data": "sac" },
                    { "data": "cgst" },
                    { "data": "sgst" },
                    { "data": "igst" },
                    { "data": "totalGSTAmount" },
                    { "data": "totalAmountWithGST" },
                    {
                        "data": "purchaseInvoiceLineId",
                        "render": function (data) {
                            var btnEdit = "";
                            var btnDelete = "";
                            @{
                                if (Model.status != netcore.Models.Invent.InvoiceStatus.COMPLETED)
                                {
                                    <text>

                                        btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";

                                        btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";

                                    </text>
                                }
                            }

                            @{
                                @if (!appUser.UserName.Contains("account@sifitech.com"))
                                {
                                    <text>
                                        return "<div class='tools pull-right'>" + btnDelete + "</div>";

                                    </text>
                                }
                                else
                                {
                                    <text>
                                        btnDelete = "<a style='margin-left:2px'></a>";
                                        return "<div class='tools pull-right'>" + btnDelete + "</div>";

                                    </text>
                                }

                            }
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": false,
                "searching": true,
                "paging": true,
            });
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            popup.modal('hide');
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });
        }



        shortcut.add("shift+a", function() {
            $("#OPL").click();
        });


        function FinishInvoice(id) {
            swal({
                title: "Are you sure want to save and finish the Invoice?",
                text: "You will not be able to edit the Invoice Line data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, finish and save it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    url: '../Finish' + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            swal(data.message);
                            location.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }

    </script>
}

