﻿@model netcore.Models.Invent.PurchaseInvoice

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["EditInfo"] = " PO have three status: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products). Change status from [Draft] to [Open] to confirm the order. [Completed] status is auto set when PO used in Product Receive / Receiving.";
}

@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="purchaseInvoiceId" />
    <input type="hidden" asp-for="purchaseSequenceNumber" />
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="purchaseSequenceNumber" class="control-label"></label>
            <input asp-for="purchaseSequenceNumber" class="form-control" readonly />
            <span asp-validation-for="purchaseSequenceNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="vendorInvoiceNumber" class="control-label"></label>
            <input asp-for="vendorInvoiceNumber" class="form-control" />
            <span asp-validation-for="vendorInvoiceNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="purchaseInvoiceDate" class="control-label"></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="purchaseInvoiceDate" class="form-control" type="date" />


            </div>
            <span asp-validation-for="purchaseInvoiceDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="branch" class="control-label"></label>
            <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
            <span asp-validation-for="branchId" class="text-danger"></span>
        </div>
    </div>




</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="vendorType" class="control-label"></label>
            <select asp-for="vendorType" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.VendorType>()"></select>
            <span asp-validation-for="vendorType" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="booking" class="control-label"></label>
            <select asp-for="bookingId" class="form-control select2" asp-items="ViewBag.bookingId"></select>
            <span asp-validation-for="bookingId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="bookingDate" class="control-label"></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="bookingDate" class="form-control" type="date" />


            </div>
            <span asp-validation-for="bookingDate" class="text-danger"></span>
        </div>
    </div>
    @*<div class="col-md-3">
            <div class="form-group">
                <label asp-for="billOfLading" class="control-label"></label>
                <select asp-for="billOfLadingId" id="billOfLadingId" class="form-control select2" asp-items="ViewBag.billOfLadingId"></select>
                <span asp-validation-for="billOfLadingId" class="text-danger"></span>
            </div>
        </div>*@
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="blNumber" class="control-label"></label>
            <input asp-for="blNumber" class="form-control" />
            <span asp-validation-for="blNumber" class="text-danger"></span>
        </div>
    </div>



</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="vendor" class="control-label"></label>
            <select asp-for="vendorId" class="form-control select2" asp-items="ViewBag.vendorId"></select>
            <span asp-validation-for="vendorId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="fromLocation" class="control-label"></label>
            <select asp-for="fromlocationId" id="fromlocationId" class="form-control select2" asp-items="ViewBag.fromlocationId"></select>
            <span asp-validation-for="fromlocationId" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="toLocation" class="control-label"></label>
            <select asp-for="tolocationId" id="tolocationId" class="form-control select2" asp-items="ViewBag.tolocationId"></select>
            <span asp-validation-for="tolocationId" class="text-danger"></span>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group">

            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.InvoiceStatus>()"></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
        </div>
    </div>



</div>

<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="preparedBy" class="control-label"></label>
            <input asp-for="preparedBy" class="form-control" required="required" />
            <span asp-validation-for="preparedBy" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="noOfContainers" class="control-label"></label>
            <input asp-for="noOfContainers" id="noOfContainers" class="form-control" required="required" type="number"/>
            <span asp-validation-for="noOfContainers" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="remark" class="control-label"></label>
            <input asp-for="remark" class="form-control" required="required" />
            <span asp-validation-for="remark" class="text-danger"></span>
        </div>
    </div>

</div>
<br />
<legend><strong>Invoice Details</strong></legend>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="utrNumber" class="control-label"></label>
            <input asp-for="utrNumber" class="form-control" />
            <span asp-validation-for="utrNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="totalAmount" class="control-label"></label>
            <input name="totalAmount" asp-for="totalAmount" class="form-control" number min="0" />
            <span asp-validation-for="totalAmount" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="totalGSTAmount" class="control-label"></label>
            <input name="totalGSTAmount" asp-for="totalGSTAmount" class="form-control" number min="0" />
            <span asp-validation-for="totalGSTAmount" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="totalInvoiceAmount" class="control-label"></label>
            <input name="totalInvoiceAmount" asp-for="totalInvoiceAmount" class="form-control" number min="0" readonly />
            <span asp-validation-for="totalInvoiceAmount" class="text-danger"></span>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="paymentDate" class="control-label"></label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="paymentDate" class="form-control" type="date" />


            </div>
            <span asp-validation-for="paymentDate" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="paymentAmount" class="control-label"></label>
            <input name="paymentAmount" asp-for="paymentAmount" class="form-control" number min="0" />
            <span asp-validation-for="paymentAmount" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="tdsAmount" class="control-label"></label>
            <input name="tdsAmount" asp-for="tdsAmount" class="form-control" number min="0" />
            <span asp-validation-for="tdsAmount" class="text-danger"></span>
        </div>

    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label asp-for="netBalanceAmount" class="control-label"></label>
            <input name="netBalanceAmount" asp-for="netBalanceAmount" class="form-control" number min="0" readonly />
            <span asp-validation-for="netBalanceAmount" class="text-danger"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="bankRemark" class="control-label"></label>
            <input asp-for="bankRemark" class="form-control" />
            <span asp-validation-for="bankRemark" class="text-danger"></span>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('input[name="totalAmount"]').keyup(function () {
            var totalAmount = parseFloat($('input[name="totalAmount"]').val());
            var totalGSTAmount = parseFloat($('input[name="totalGSTAmount"]').val());
            $('input[name="totalInvoiceAmount"]').val(Math.round(totalAmount + totalGSTAmount));
        });

        $('input[name="totalGSTAmount"]').keyup(function () {
            var totalAmount = parseFloat($('input[name="totalAmount"]').val());
            var totalGSTAmount = parseFloat($('input[name="totalGSTAmount"]').val());
            $('input[name="totalInvoiceAmount"]').val(Math.round(totalAmount + totalGSTAmount));
        });


        $('input[name="paymentAmount"]').keyup(function () {
            var totalInvoiceAmount = parseFloat($('input[name="totalInvoiceAmount"]').val());
            var paymentAmount = parseFloat($('input[name="paymentAmount"]').val());
            var tdsAmount = parseFloat($('input[name="tdsAmount"]').val());
            $('input[name="netBalanceAmount"]').val(Math.round(totalInvoiceAmount - paymentAmount - tdsAmount));
        });

        $('input[name="tdsAmount"]').keyup(function () {
            var totalInvoiceAmount = parseFloat($('input[name="totalInvoiceAmount"]').val());
            var paymentAmount = parseFloat($('input[name="paymentAmount"]').val());
            var tdsAmount = parseFloat($('input[name="tdsAmount"]').val());
            $('input[name="netBalanceAmount"]').val(Math.round(totalInvoiceAmount - paymentAmount - tdsAmount));

        });


    $(document).ready(function () {

        var polId = $('#fromlocationId').val();
        var podId = $('#tolocationId').val();

        //GetPOLCountry(polId);
        //GetPODCountry(podId);

        $('#fromlocationId').on('change', function () {

            GetPOLCountry(this.value);

        });

        $('#tolocationId').on('change', function () {

            GetPODCountry(this.value);

        });


        $('#via').on('change', function() {
              if ( this.value == '1')
              {
                $("#trpPort").hide();
              }
              else
              {
                $("#trpPort").show();
              }
        });
    });



    @*function GetPOLCountry(polId) {
        $('#polCountry').val('');
        $.ajax({


            url: '@Url.Action("GetPOLCountry")',
            type: 'GET',
            dataType: 'json',
            data: { id: polId },
            success: function (data) {
                $('#polCountry').val(data.polCountryName).change();

            },

            error: function (error) {
                console.log(error);
            }

        });
    }


    function GetPODCountry(podId) {
        $('#podCountry').val('');

        $.ajax({

            url: '@Url.Action("GetPODCountry")',
            type: 'GET',
            dataType: 'json',
            data: { id: podId },
            success: function (data) {
                $('#podCountry').val(data.podCountryName).change();

            },

            error: function (error) {
                console.log(error);
            }

        });
    }*@

    </script>
}



