﻿@model IEnumerable<netcore.Models.Invent.PurchaseInvoice>
@inject netcore.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-files-o";
    ViewData["ListTitle"] = "Purchase Invoice";
    //ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
    var data = Context.PurchaseInvoice.Where(r => r.purchaseInvoiceDate.Year.Equals(DateTime.Now.Year) || r.purchaseInvoiceDate.Year.Equals(DateTime.Now.AddYears(-1).Year));
}


<table class="table table-hover table-striped " style="width:100%" height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.purchaseSequenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vendorInvoiceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchaseInvoiceDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.vendor)
            </th>



            <th>
                @Html.DisplayNameFor(model => model.totalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalGSTAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalInvoiceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tdsAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.netBalanceAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.utrNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paymentDate)
            </th>



            @*<th>
                    @Html.DisplayNameFor(model => model.fromLocation)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.toLocation)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.billOfLading)
                </th>*@

            <th>
                @Html.DisplayNameFor(model => model.preparedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            @*<th>
                    Sales Lines &nbsp;

                    <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

                </th>*@
        </tr>
    </thead>
    <tbody>

        @foreach (var item in data)
        {
            var vendorNameLoc = String.Concat(item.vendor.vendorName + " (" + item.vendor.countries.GetDisplayName() + ", " + item.vendor.city + ")");

            <tr>
                <td>
                    <div class="tools">
                        @if (appUser.UserName.Contains("pricing@sifitech.com"))
                        {
                            <a asp-action="Details" asp-route-id="@item.purchaseInvoiceId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                        }
                        else if (appUser.UserName.Contains("account@sifitech.com"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.purchaseInvoiceId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                            <a asp-action="Details" asp-route-id="@item.purchaseInvoiceId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>

                        }
                        else
                        {
                            <a asp-action="Edit" asp-route-id="@item.purchaseInvoiceId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                            <a asp-action="Details" asp-route-id="@item.purchaseInvoiceId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.purchaseInvoiceId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                        }

                    </div>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.purchaseSequenceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vendorInvoiceNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.booking.bookingNumber)
                </td>
                <td>
                    @item.purchaseInvoiceDate.Date.ToString("dd-MMM-yyyy")
                </td>


                <td>
                    @Html.DisplayFor(modelItem => vendorNameLoc)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.totalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalGSTAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalInvoiceAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tdsAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.netBalanceAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.utrNumber)
                </td>
                <td>
                    @item.paymentDate.Value.ToString("dd-MMM-yyyy")
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.fromLocation.locationName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.toLocation.locationName)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.billOfLading.billOfLoadingNumber)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.preparedBy)
                </td>
                <td>
                    @if (item.status == netcore.Models.Invent.InvoiceStatus.DRAFT)
                    {
                        <div style="color: orange">
                            <b>@Html.DisplayFor(modelItem => item.status)</b>

                        </div>
                    }
                    else
                    {
                        <div style="color: forestgreen">
                            <b>@Html.DisplayFor(modelItem => item.status)</b>

                        </div>
                    }

                </td>

                @*<td>

                        @foreach (var salesInquiryLine in item.salesInquiryLine)
                        {


                            <div style="font-size:10px; width: 100%" class="widget-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <strong>Charge Head. -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.chargeHead.chargeHeadName)
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <strong>Currency -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.currency.currencyCode)
                                    </div>
                                    <div class="col-md-6">
                                        <strong>Part -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.part)
                                    </div>
                                </div>


                                <div class="row">
                                    @if (salesInquiryLine.containerLaden.containerName != null)
                                    {
                                        <div class="col-md-6">
                                            <strong>Laden. -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.containerLaden.containerName)
                                        </div>
                                    }
                                    @if (salesInquiryLine.ladenPrice > 0)
                                    {
                                        <div class="col-md-6">
                                            <strong>Price -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.ladenPrice)
                                        </div>
                                    }

                                </div>

                                <div class="row">
                                    @if (salesInquiryLine.count >0)
                                    {
                                        <div class="col-md-6">
                                            <strong>Count -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.count)
                                        </div>
                                    }
                                    @if (salesInquiryLine.totalPrice > 0)
                                    {
                                        <div class="col-md-6">
                                            <strong>Total. -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.totalPrice)
                                        </div>
                                    }
                                </div>
                                <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                            </div>

                        }

                    </td>*@



            </tr>
        }
    </tbody>
</table>
