﻿@model IEnumerable<netcore.Models.Invent.PurchaseInvoiceLine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreLineIndex.cshtml";
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.purchaseInvoice.purchaseSequenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chargeHead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.linePricingType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.containerEmptyLaden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.containerEmpty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.containerLaden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sgst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.igst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalGSTAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalAmountWithGST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalAmountWithoutGST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sac)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.purchaseInvoice.booking.bookingNumber)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.purchaseInvoice.booking.noOfContainers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchaseInvoice.booking.etd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.purchaseInvoice.booking.eta)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Where(x => x.purchaseInvoice.purchaseInvoiceDate.Year.Equals(DateTime.Now.Year) || 
         x.purchaseInvoice.purchaseInvoiceDate.Year.Equals(DateTime.Now.AddYears(-1).Year)) )
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.purchaseInvoice.purchaseSequenceNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.chargeHead.chargeHeadName)
            </td>
            <td>
                @Html.DisplayFor(model => item.currency.currencyName)
            </td>
            <td>
                @Html.DisplayFor(model => item.linePricingType)
            </td>
            <td>
                @Html.DisplayFor(model => item.containerEmptyLaden)
            </td>
            <td>
                @Html.DisplayFor(model => item.containerEmpty.containerName)
            </td>
            <td>
                @Html.DisplayFor(model => item.containerLaden.containerName)
            </td>
            <td>
                @Html.DisplayFor(model => item.rate)
            </td>
            <td>
                @Html.DisplayFor(model => item.amount)
            </td>
            <td>
                @Html.DisplayFor(model => item.cgst)
            </td>
            <td>
                @Html.DisplayFor(model => item.sgst)
            </td>
            <td>
                @Html.DisplayFor(model => item.igst)
            </td>
            <td>
                @Html.DisplayFor(model => item.totalGSTAmount)
            </td>
            <td>
                @Html.DisplayFor(model => item.totalAmountWithGST)
            </td>
            <td>
                @Html.DisplayFor(model => item.totalAmountWithoutGST)
            </td>
            <td>
                @Html.DisplayFor(model => item.sac)
            </td>
            <td>
                @Html.DisplayFor(model => item.purchaseInvoice.booking.bookingNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.purchaseInvoice.booking.noOfContainers)
            </td>
            <td>
                @item.purchaseInvoice.booking.eta.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @item.purchaseInvoice.booking.etd.ToString("dd-MMM-yyyy")
            </td>
        </tr>
        }
    </tbody>
</table>
