﻿@model netcore.Models.Invent.SalesOrderLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="salesOrderLineId" />
        <div class="form-group hidden">
            <label asp-for="salesOrderId" class="control-label"></label>
            <select asp-for="salesOrderId" class="form-control select2" asp-items="ViewBag.salesOrderId"></select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="productId" class="control-label"></label>
                    <select asp-for="productId" class="form-control select2" id="productModelId" asp-items="ViewBag.productId"></select>
                </div>
            </div>

            @*<div class="col-md-6">
                <div class="form-group">
                    <label asp-for="batchNumber" class="control-label"></label>
                    <input asp-for="batchNumber" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" />
                    <span asp-validation-for="batchNumber" class="text-danger"></span>
                </div>
            </div>*@

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="minimumStock" class="control-label"></label>
                    <input readonly name="minimumStock" asp-for="minimumStock" class="form-control" style="font-weight: 700" />
                    <span asp-validation-for="minimumStock" class="text-danger"></span>
                </div>
            </div>


        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="currentStock" class="control-label"></label>

                    <input readonly name="currentStock" asp-for="currentStock" class="form-control" style="font-weight: 700" />

                    <span asp-validation-for="currentStock" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="weight" class="control-label"></label>
                    <input name="weight" asp-for="weight" class="form-control" />
                    <span asp-validation-for="weight" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="qty" class="control-label"></label>
                    <input name="qty" asp-for="qty" class="form-control" style="font-weight: 700" />
                    <span asp-validation-for="qty" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="price" class="control-label"></label>
                    <input name="price" asp-for="price" class="form-control" />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="totalWeight" class="control-label"></label>
                        <input readonly name="totalWeight" asp-for="totalWeight" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" />
                        <span asp-validation-for="totalWeight" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="totalAmount" class="control-label"></label>
                        <input readonly name="totalAmount" asp-for="totalAmount" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" class="form-control" />
                        <span asp-validation-for="totalAmount" class="text-danger"></span>
                    </div>
                </div>


                @*<div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="discountAmount" class="control-label"></label>
                        <input asp-for="discountAmount" class="form-control" />
                        <span asp-validation-for="discountAmount" class="text-danger"></span>
                    </div>
                </div>*@

                @*<div class="form-group hidden">
                    <label asp-for="totalAmount" class="control-label"></label>
                    <input asp-for="totalAmount" class="form-control" />
                    <span asp-validation-for="totalAmount" class="text-danger"></span>
                </div>*@

            </div>
        </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">

        $('input[name="qty"]').keyup(function () {
            var a = $('input[name="weight"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalWeight"]').val(Math.round(a * b));

            var currentStock = $('input[name="currentStock"]').val();
            var minimumStock = $('input[name="minimumStock"]').val();

            if (b >= (currentStock - minimumStock)) {
                $('input[name="qty"]').css("color", "red");
            }
            else {
                $('input[name="qty"]').css("color", "green");

            }


        });


        $('input[name="price"]').keyup(function () {
            var a = $('input[name="price"]').val();
            var b = $('input[name="qty"]').val();
            $('input[name="totalAmount"]').val(Math.round(a * b));
        });


        //On Dropdown Change
        $(document).ready(function () {

            $('#productModelId').on('change', function () {
                var productId = $('#productModelId').val();

                getMinimumProductStock(productId);
                getCurrentProductStock(productId);
            });
        });


        //On Popup Load
        $( document ).ready(function(){
            var productId = $('#productModelId').val();

            getMinimumProductStock(productId);
            getCurrentProductStock(productId);
        });


        //Function to get Minimum Stock of each product
        function getMinimumProductStock(productId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetMinimumStockCount","SalesOrderLine")",
                data: { 'productId': productId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="minimumStock"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    alert("Req: " + req);
                    alert("Status: " + status);
                    alert("Error: " + error);
                }
            });
    }


    //Function to get Minimum Stock of each product
        function getCurrentProductStock(productId) {
            $.ajax({
                type: 'GET',
                url: "@Url.Action("GetCurrentProductStock", "SalesOrderLine")",
                data: { 'productId': productId },
                method: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    if (response != null) {
                        $('input[name="currentStock"]').val(response);
                    }
                },
                error: function (req, status, error) {
                    alert("Req: " + req);
                    alert("Status: " + status);
                    alert("Error: " + error);
                }
            });
        }

</script>

}
