﻿@model netcore.Models.Invent.OceanPrice

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["EditInfo"] = " PO have three status: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products). Change status from [Draft] to [Open] to confirm the order. [Completed] status is auto set when PO used in Product Receive / Receiving.";
}

@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="oceanPriceId" />
        <input type="hidden" asp-for="oceanPriceNumber" />
        @*<input type="hidden" asp-for="purchaseOrderStatus" />*@

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="oceanPriceNumber" class="control-label"></label>
                    <input asp-for="oceanPriceNumber" class="form-control" disabled />
                    <span asp-validation-for="oceanPriceNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="oceanPriceDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="oceanPriceDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="oceanPriceDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="branch" class="control-label"></label>
                    <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                    <span asp-validation-for="branchId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">

                    <div class="form-group">
                        <label asp-for="status" class="control-label"></label>
                        <select asp-for="status" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Status>()"></select>
                        <span asp-validation-for="status" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="vendor" class="control-label"></label>
                    <select asp-for="vendorId" class="form-control select2" asp-items="ViewBag.vendorId"></select>
                    <span asp-validation-for="vendorId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="fromDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="fromDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="fromDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="toDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="toDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="toDate" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="fromLocation" class="control-label"></label>
                    <select asp-for="fromlocationId" class="form-control select2" asp-items="ViewBag.fromlocationId"></select>
                    <span asp-validation-for="fromlocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="toLocation" class="control-label"></label>
                    <select asp-for="tolocationId" class="form-control select2" asp-items="ViewBag.tolocationId"></select>
                    <span asp-validation-for="tolocationId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" style="pointer-events: none; cursor:none">
                    <label asp-for="polCountry" class="control-label"></label>
                    <select id="polCountry" asp-for="polCountry" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Countries>()" ></select>
                    @*@Html.DropDownListFor(m => m.polCountry, (SelectList)ViewBag.POLCountry, String.Empty)*@
                    <span asp-validation-for="polCountry" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group" style="pointer-events: none; cursor:none">
                    <label asp-for="podCountry" class="control-label"></label>
                    <select id="podCountry" asp-for="podCountry" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Countries>()" ></select>
                    @*@Html.DropDownListFor(m => m.podCountry, (SelectList)ViewBag.PODCountry, String.Empty)*@

                    <span asp-validation-for="podCountry" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="placeofReceipt" class="control-label"></label>
                    <select asp-for="placeofReceiptId" class="form-control select2" asp-items="ViewBag.placeofReceiptId"></select>
                    <span asp-validation-for="placeofReceiptId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="placeofDelivery" class="control-label"></label>
                    <select asp-for="placeofDeliveryId" class="form-control select2" asp-items="ViewBag.placeofDeliveryId"></select>
                    <span asp-validation-for="placeofDeliveryId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="precarriage" class="control-label"></label>
                    <select asp-for="precarriage" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Precarriage>()"></select>
                    <span asp-validation-for="precarriage" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="onCarriage" class="control-label"></label>
                    <select asp-for="onCarriage" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Precarriage>()"></select>
                    <span asp-validation-for="onCarriage" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="via" class="control-label"></label>
                    <select asp-for="via" id="via" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.VIA>()"></select>
                    <span asp-validation-for="via" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3" id="trpPort" style='display:none'>
                <div class="form-group">
                    <label asp-for="trpPort" class="control-label"></label>
                    <select asp-for="trpPortId" class="form-control select2" asp-items="ViewBag.trpPortId">
                        <option value="" selected disabled hidden>Please Select</option>
                    </select>
                    <span asp-validation-for="trpPortId" class="text-danger"></span>
                </div>
            </div>



        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="mode" class="control-label"></label>
                    <select asp-for="mode" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.MODE>()"></select>
                    <span asp-validation-for="mode" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="polTerm" class="control-label"></label>
                    <select asp-for="polTerm" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.POLPOD>()"></select>
                    <span asp-validation-for="polTerm" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="podTerm" class="control-label"></label>
                    <select asp-for="podTerm" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.POLPOD>()"></select>
                    <span asp-validation-for="podTerm" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="freightTerm" class="control-label"></label>
                    <select asp-for="freightTerm" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.FreightTerm>()"></select>
                    <span asp-validation-for="freightTerm" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="preparedBy" class="control-label"></label>
                    <input asp-for="preparedBy" class="form-control" required="required" />
                    <span asp-validation-for="preparedBy" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="remark" class="control-label"></label>
                    <input asp-for="remark" class="form-control" required="required" />
                    <span asp-validation-for="remark" class="text-danger"></span>
                </div>
            </div>
        </div>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            //To Set the POL Country on load
            var polId = $('#fromlocationId').val();
            var podId = $('#tolocationId').val();

            GetPOLCountry(polId);
            GetPODCountry(podId);


            $('#fromlocationId').on('change', function () {

                GetPOLCountry(this.value);

            });

            $('#tolocationId').on('change', function () {

                GetPODCountry(this.value);

            });

            $('#via').on('change', function () {
                if (this.value == '1') {
                    $("#trpPort").hide();
                }
                else {
                    $("#trpPort").show();
                }
            });
        });



    function GetPOLCountry(polId) {
        $('#polCountry option:selected').removeAttr('selected');
        $.ajax({
            

            url: '@Url.Action("GetPOLCountry")',
            type: 'GET',
            dataType: 'json',
            data: { id: polId },
            success: function (data) {
                $('#polCountry option[value="' + data.polCountryId + '" ]').attr("selected", "selected").change();
                $('#polCountry' + data.polCountryId).prop('selected', true);
                $('#polCountry').find('option[value="' + data.polCountryId + '"]').attr('selected', 'selected');

            },

            error: function (error) {
                console.log(error);
            }

        });
    }


    function GetPODCountry(podId) {
        $('#podCountry option:selected').removeAttr('selected');

        $.ajax({

            url: '@Url.Action("GetPODCountry")',
            type: 'GET',
            dataType: 'json',
            data: { id: podId },
            success: function (data) {
                $('#podCountry option[value="' + data.podCountryId + '" ]').attr("selected", "selected").change();
                $('#podCountry' + data.podCountryId).prop('selected', true);
                $('#podCountry').find('option[value="' + data.polCountryId + '"]').attr('selected', 'selected');

            },

            error: function (error) {
                console.log(error);
            }

        });
    }

    </script>

}



