﻿@model IEnumerable<netcore.Models.Invent.OceanPrice>
@inject netcore.Data.ApplicationDbContext Context
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-ship";
    ViewData["ListTitle"] = "Ocean Pricing";
    //ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
}


<table class="table table-hover table-striped" style="width:100%" height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.oceanPriceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.oceanPriceDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vendor)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.countries)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.fromLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.toLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fromDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.toDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preparedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                Ocean Lines &nbsp;

                <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var vendorNameLoc = String.Concat(item.vendor.vendorName + " (" + item.vendor.countries.GetDisplayName() + ", " + item.vendor.city + ")");

            <tr>
                <td>
                    <div class="tools">
                        @if (appUser.UserName.Contains("pricing@sifitech.com"))
                        {
                            <a asp-action="Details" asp-route-id="@item.oceanPriceId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                        }
                        else if (appUser.UserName.Contains("account@sifitech.com"))
                        {
                            <a asp-action="Details" asp-route-id="@item.oceanPriceId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                        }
                        else
                        {
                            <a asp-action="Edit" asp-route-id="@item.oceanPriceId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                            <a asp-action="Details" asp-route-id="@item.oceanPriceId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                            <a asp-action="Delete" asp-route-id="@item.oceanPriceId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>

                        }
                    </div>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.oceanPriceNumber)
                </td>
                <td>
                    @item.oceanPriceDate.Date.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.branch.branchName)
                </td>



                <td>
                    @Html.DisplayFor(modelItem => vendorNameLoc)
                </td>

                @*<td >
                        @Html.DisplayFor(modelItem => item.countries)
                    </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.fromLocation.locationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.toLocation.locationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.toDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preparedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mode)
                </td>
                <td>
                    @if (item.status == netcore.Models.Invent.Status.DRAFT)
                    {
                        <div style="color: orange">
                            <b>@Html.DisplayFor(modelItem => item.status)</b>

                        </div>
                    }
                    else
                    {
                        <div style="color: forestgreen">
                            <b>@Html.DisplayFor(modelItem => item.status)</b>

                        </div>
                    }

                </td>

                <td>

                    @foreach (var oceanPriceLine in item.oceanPriceLine)
                    {


                        <div style="font-size:10px; width: 100%" class="widget-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Charge Head -</strong> @Html.DisplayFor(modelItem => oceanPriceLine.chargeHead.chargeHeadName)
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Currency -</strong> @Html.DisplayFor(modelItem => oceanPriceLine.currency.currencyCode)
                                </div>
                                <div class="col-md-6">
                                    <strong>Part -</strong> @Html.DisplayFor(modelItem => oceanPriceLine.part)
                                </div>
                            </div>


                            <div class="row">
                                @if (oceanPriceLine.containerLaden.containerName != null)
                                {
                                    <div class="col-md-6">
                                        <strong>Laden. -</strong> @Html.DisplayFor(modelItem => oceanPriceLine.containerLaden.containerName)
                                    </div>
                                }
                                @if (oceanPriceLine.ladenPrice > 0)
                                {
                                    <div class="col-md-6">
                                        <strong>Price -</strong> @Html.DisplayFor(modelItem => oceanPriceLine.ladenPrice)
                                    </div>
                                }

                            </div>

                            <div class="row">
                                @if (oceanPriceLine.containerEmpty.containerName != null)
                                {
                                    <div class="col-md-6">
                                        <strong>Empty -</strong> @Html.DisplayFor(modelItem => oceanPriceLine.containerEmpty.containerName)
                                    </div>
                                }
                                @if (oceanPriceLine.emptyPrice.HasValue)
                                {
                                    <div class="col-md-6">
                                        <strong>Price. -</strong> @Html.DisplayFor(modelItem => oceanPriceLine.emptyPrice)
                                    </div>
                                }
                            </div>
                            <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                        </div>

                    }

                </td>



            </tr>
        }
    </tbody>
</table>

