﻿@model netcore.Models.Invent.OceanPriceLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="oceanPriceLineId" />
        <div class="form-group hidden">
            <label asp-for="oceanPriceId" class="control-label"></label>
            <select asp-for="oceanPriceId" id="oceanPriceValueId" class="form-control select2" asp-items="ViewBag.oceanPriceId"></select>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="currencyId" class="control-label"></label>
                    <select asp-for="currencyId" id="currencyIdModelId" class="form-control select2" asp-items="ViewBag.currencyId"></select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="part" class="control-label"></label>
                    <select id="part" asp-for="part" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Part>()"></select>
                    <span asp-validation-for="part" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="chargeHeadId" class="control-label"></label>
                    <select id="chargeHeadId" asp-for="chargeHeadId" required class="form-control select2" asp-items="ViewBag.chargeHeadId"></select>
                    <span asp-validation-for="part" class="text-danger"></span>
                </div>
            </div>


        </div>

        <div class="row">
      
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ladenContainerId" class="control-label"></label>
                    <select asp-for="ladenContainerId" class="form-control select2" asp-items="ViewBag.ladenContainerId"></select>
                    <span asp-validation-for="ladenContainerId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ladenPrice" class="control-label"></label>
                    <input asp-for="ladenPrice" class="form-control" />
                    <span asp-validation-for="ladenPrice" class="text-danger"></span>
                </div>
            </div>


        </div>


        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="emptyContainerId" class="control-label"></label>
                    <select asp-for="emptyContainerId" class="form-control select2" asp-items="ViewBag.emptyContainerId"></select>
                    <span asp-validation-for="emptyContainerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="emptyPrice" class="control-label"></label>
                    <input asp-for="emptyPrice" class="form-control" />
                    <span asp-validation-for="emptyPrice" class="text-danger"></span>
                </div>
            </div>

        </div>


    </div>
    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

         //On Dropdown Change
         $(document).ready(function () {

             //To Set the POL Country on load
             var partId = $('#part').val();

             GetChargeHeadsByPart(partId);


             $('#part').on('change', function () {

                 GetChargeHeadsByPart(this.value);

             });
         });


         //Function to get Charges on Part Selection
         function GetChargeHeadsByPart(partId) {

             $.ajax({

                 url: '@Url.Action("GetChargeHeadsByPart")',
                 type: 'GET',
                 dataType: 'json',
                 data: { partId: partId },
                 success: function (chargesHeadList) {

                     $("#chargeHeadId").empty();

                     $.each(chargesHeadList, function (index, chargesHead) {
                         $("#chargeHeadId").append($('<option/>', {
                             value: chargesHead.chargeHeadId,
                             text: chargesHead.chargeHeadName
                         }));
                     });

                 },

                 error: function (error) {
                     console.log(error);
                 }

             });
         }


    </script>




}
