﻿@model ChangePasswordViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject netcore.Data.ApplicationDbContext Context

@{
    ViewData["Title"] = "Change password";
    Layout = "_AdminlteNetcore";
    ApplicationUser appUser = await UserManager.GetUserAsync(User);
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Profile
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                @if (appUser != null)
                {

                    <!-- Profile Image -->
                    <div class="box box-primary">
                        <div class="box-body box-profile">
                            <img class="profile-user-img img-responsive img-circle" src="@appUser.profilePictureUrl" alt="User profile picture">

                            <h3 class="profile-username text-center">@appUser.Email</h3>
                            <p class="text-muted text-center">Member</p>
                            @*<ul class="list-group list-group-unbordered">
                                <li class="list-group-item">
                                    <b>Department</b> <a class="pull-right"></a>
                                </li>
                                <li class="list-group-item">
                                    <b>Division</b> <a class="pull-right"></a>
                                </li>
                            </ul>*@
                            <a href="@Url.Action("ChangeProfilePicture", "Manage")" class="btn btn-primary btn-block">
                                <i class="fa fa-picture-o">

                                </i>
                                <span> Change Picture</span>
                            </a>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                }


            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#password" data-toggle="tab">Password</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="password">
                            @Html.Partial("_StatusMessage", Model.StatusMessage)
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="post">
                                        <div class="form-group">
                                            <label asp-for="OldPassword"></label>
                                            <input asp-for="OldPassword" class="form-control" />
                                            <span asp-validation-for="OldPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="NewPassword"></label>
                                            <input asp-for="NewPassword" class="form-control" />
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ConfirmPassword"></label>
                                            <input asp-for="ConfirmPassword" class="form-control" />
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Update password</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->



@section Styles{

}


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

