﻿@model netcore.Models.Invent.MultipalRateQuoteLine


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcorePopup.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="multipalRateQuoteId" />
        <div class="form-group hidden">
            <label asp-for="multipalRateQuoteId" class="control-label"></label>
            <select asp-for="multipalRateQuoteId" id="inlandPriceValueId" class="form-control select2" asp-items="ViewBag.multipalRateQuoteId"></select>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="currencyId" class="control-label"></label>
                    <select asp-for="currencyId" id="currencyIdModelId" class="form-control select2" asp-items="ViewBag.currencyId"></select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="chargeHeadId" class="control-label"></label>
                    <select asp-for="chargeHeadId" id="chargeHeadModelId" class="form-control select2" asp-items="ViewBag.chargeHeadId" required></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="fromLocation" class="control-label"></label>
                    <select asp-for="fromlocationId" class="form-control select2" asp-items="ViewBag.fromlocationId"></select>
                    <span asp-validation-for="fromlocationId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="toLocation" class="control-label"></label>
                    <select asp-for="tolocationId" class="form-control select2" asp-items="ViewBag.tolocationId"></select>
                    <span asp-validation-for="tolocationId" class="text-danger"></span>
                </div>
            </div>



        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="via" class="control-label"></label>
                    <select asp-for="via" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.VIA>()"></select>
                    <span asp-validation-for="via" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6" id="trpPort" style='display:none'>
                <div class="form-group">
                    <label asp-for="trpPort" class="control-label"></label>
                    <select asp-for="trpPortId" class="form-control select2" asp-items="ViewBag.trpPortId">
                        <option value="" selected disabled hidden>Please Select</option>
                    </select>
                    <span asp-validation-for="trpPortId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="mode" class="control-label"></label>
                    <select asp-for="mode" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.MODE>()"></select>
                    <span asp-validation-for="mode" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ladenContainerId" class="control-label"></label>
                    <select asp-for="ladenContainerId" class="form-control select2" asp-items="ViewBag.ladenContainerId" required></select>
                    <span asp-validation-for="ladenContainerId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ladenPrice" class="control-label"></label>
                    <input asp-for="ladenPrice" class="form-control" />
                    <span asp-validation-for="ladenPrice" class="text-danger"></span>
                </div>
            </div>


        </div>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('#via').on('change', function () {
                if (this.value == '1') {
                    $("#trpPort").hide();
                }
                else {
                    $("#trpPort").show();
                }
            });
        });
    </script>



}
