﻿@model netcore.Models.Invent.Branch


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminlteNetcoreCreate.cshtml";
    ViewData["EntityIcon"] = "fa fa-building-o";
    ViewData["CreateInfo"] = "Branch office is an outlet of a Company. To get started, you should have minimum one branch as your main office or headquarter.";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="branchId" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="branchName" class="control-label"></label>
                    <input asp-for="branchName" class="form-control" />
                    <span asp-validation-for="branchName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="isDefaultBranch" class="control-label"></label>
                    <div class="checkbox">
                        <input asp-for="isDefaultBranch" /> &nbsp; Yes.
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="description" class="control-label"></label>
            <input asp-for="description" class="form-control" />
            <span asp-validation-for="description" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="street1" class="control-label"></label>
                    <input asp-for="street1" class="form-control" />
                    <span asp-validation-for="street1" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Address2" class="control-label"></label>
                    <input asp-for="Address2" class="form-control" />
                    <span asp-validation-for="Address2" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="city" class="control-label"></label>
                    <input asp-for="city" class="form-control" />
                    <span asp-validation-for="city" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="province" class="control-label"></label>
                    <input asp-for="province" class="form-control" />
                    <span asp-validation-for="province" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="street2" class="control-label"></label>
                    <input asp-for="street2" class="form-control" />
                    <span asp-validation-for="street2" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="country" class="control-label"></label>
                    <input asp-for="country" class="form-control" />
                    <span asp-validation-for="country" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Contact" class="control-label"></label>
                    <input asp-for="Contact" class="form-control" />
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="bankName" class="control-label"></label>
                    <input asp-for="bankName" class="form-control" />
                    <span asp-validation-for="bankName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="benificiary" class="control-label"></label>
                    <input asp-for="benificiary" class="form-control" />
                    <span asp-validation-for="benificiary" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="accountNumber" class="control-label"></label>
                    <input asp-for="accountNumber" class="form-control" />
                    <span asp-validation-for="accountNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ifsc" class="control-label"></label>
                    <input asp-for="ifsc" class="form-control" />
                    <span asp-validation-for="ifsc" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="iban" class="control-label"></label>
                    <input asp-for="iban" class="form-control" />
                    <span asp-validation-for="iban" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="currency" class="control-label"></label>
                    <input asp-for="currency" class="form-control" />
                    <span asp-validation-for="currency" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="gst" class="control-label"></label>
                    <input asp-for="gst" class="form-control" />
                    <span asp-validation-for="gst" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="pan" class="control-label"></label>
                    <input asp-for="pan" class="form-control" />
                    <span asp-validation-for="pan" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="branchLogoUrl" class="control-label"></label>
                    <input asp-for="branchLogoUrl" class="form-control" />
                    <span asp-validation-for="branchLogoUrl" class="text-danger"></span>
                </div>
            </div>
        </div>


    </div>
    </div>

@section Styles{

    <!-- iCheck -->
    <link rel="stylesheet" href="~/adminlte/plugins/iCheck/all.css" />

}

@section Scripts {

    <!-- iCheck -->
    <script src="~/adminlte/plugins/iCheck/icheck.min.js"></script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
    </script>


}
