﻿@model netcore.Models.Invent.ExportOperation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["EditInfo"] = " PO have three status: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products). Change status from [Draft] to [Open] to confirm the order. [Completed] status is auto set when PO used in Product Receive / Receiving.";
}

@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)

<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="exportOperationId" />
        <input type="hidden" asp-for="exportOperationNumber" />
        @*<input type="hidden" asp-for="purchaseOrderStatus" />*@

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="exportOperationNumber" class="control-label"></label>
                    <input asp-for="exportOperationNumber" class="form-control" disabled />
                    <span asp-validation-for="exportOperationNumber" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="exportOperationeDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="exportOperationeDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="exportOperationeDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="branch" class="control-label"></label>
                    <select asp-for="branchId" class="form-control select2" asp-items="ViewBag.branchId"></select>
                    <span asp-validation-for="branchId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="customer" class="control-label"></label>
                    <select asp-for="customerId" class="form-control select2" asp-items="ViewBag.customerId"></select>
                    <span asp-validation-for="customerId" class="text-danger"></span>
                </div>
            </div>



        </div>

        <div class="row">


            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="booking" class="control-label"></label>
                    <select asp-for="bookingId" class="form-control select2" asp-items="ViewBag.bookingId"></select>
                    <span asp-validation-for="bookingId" class="text-danger"></span>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="bookingDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="bookingDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="bookingDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="originFreeDays" class="control-label"></label>
                    <input asp-for="originFreeDays" class="form-control" required="required" />
                    <span asp-validation-for="originFreeDays" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="originPortStorage" class="control-label"></label>
                    <input asp-for="originPortStorage" class="form-control" required="required" />
                    <span asp-validation-for="originPortStorage" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="destinationFreeDays" class="control-label"></label>
                    <input asp-for="destinationFreeDays" class="form-control" required="required" />
                    <span asp-validation-for="destinationFreeDays" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="destinationPortStorage" class="control-label"></label>
                    <input asp-for="destinationPortStorage" class="form-control" required="required" />
                    <span asp-validation-for="destinationPortStorage" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">


            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="stuffingType" class="control-label"></label>
                    <input asp-for="stuffingType" class="form-control" required="required" />
                    <span asp-validation-for="stuffingType" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="commodity" class="control-label"></label>
                    <input asp-for="commodity" class="form-control" required="required" />
                    <span asp-validation-for="commodity" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="hsCode" class="control-label"></label>
                    <input asp-for="hsCode" class="form-control" required="required" />
                    <span asp-validation-for="hsCode" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="uan" class="control-label"></label>
                    <input asp-for="uan" class="form-control" required="required" />
                    <span asp-validation-for="uan" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="classes" class="control-label"></label>
                    <input asp-for="classes" class="form-control" required="required" />
                    <span asp-validation-for="classes" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="egmNumber" class="control-label"></label>
                    <input asp-for="egmNumber" class="form-control" />
                    <span asp-validation-for="egmNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="egmDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="egmDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="egmDate" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="freight" class="control-label"></label>
                    <input asp-for="freight" class="form-control" required="required" />
                    <span asp-validation-for="freight" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="pol" class="control-label"></label>
                    <input asp-for="pol" class="form-control" required="required" />
                    <span asp-validation-for="pol" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="pod" class="control-label"></label>
                    <input asp-for="pod" class="form-control" required="required" />
                    <span asp-validation-for="pod" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="lineCode" class="control-label"></label>
                    <input asp-for="lineCode" class="form-control" required="required" />
                    <span asp-validation-for="lineCode" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="vessel" class="control-label"></label>
                    <input asp-for="vessel" class="form-control" required="required" />
                    <span asp-validation-for="vessel" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="terminal" class="control-label"></label>
                    <input asp-for="terminal" class="form-control" required="required" />
                    <span asp-validation-for="terminal" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="noOfContainer" class="control-label"></label>
                    <input asp-for="noOfContainer" class="form-control" required="required" />
                    <span asp-validation-for="noOfContainer" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">

                    <div class="form-group">
                        <label asp-for="containerCategory" class="control-label"></label>
                        <select asp-for="containerCategory" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ContainerCategory>()"></select>
                        <span asp-validation-for="containerCategory" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="slotOperator" class="control-label"></label>
                    <input asp-for="slotOperator" class="form-control" required="required" />
                    <span asp-validation-for="slotOperator" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="type" class="control-label"></label>
                    <input asp-for="type" class="form-control" required="required" />
                    <span asp-validation-for="type" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="leoDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="leoDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="leoDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="etaDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="etaDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="etaDate" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="etdDate" class="control-label"></label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input asp-for="etdDate" class="form-control" type="date" />


                    </div>
                    <span asp-validation-for="etdDate" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="preparedby" class="control-label"></label>
                    <input asp-for="preparedby" class="form-control" />
                    <span asp-validation-for="preparedby" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="status" class="control-label"></label>
                    <select asp-for="status" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Status>()"></select>
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="remark" class="control-label"></label>
                    <input asp-for="remark" class="form-control" required="required" />
                    <span asp-validation-for="remark" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="principal" class="control-label"></label>
                    <input asp-for="principal" class="form-control" required="required" />
                    <span asp-validation-for="principal" class="text-danger"></span>
                </div>
            </div>

        </div>

    </div>

    </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


}



