﻿@model IEnumerable<netcore.Models.Invent.ExportOperation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-arrow-circle-up";
    ViewData["ListTitle"] = "Export Operation";
    //ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";
}


<table class="table table-hover table-striped" style="width:100%" height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.booking.bookingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.booking.placeofReceipt)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.pol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pod)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.booking.placeofDelivery)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.etdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vessel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.noOfContainer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.booking.salesPersonName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.containerCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.principal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preparedby)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            @*<th>
                Export Lines &nbsp;

                <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="tools">
                    <a asp-action="Edit" asp-route-id="@item.exportOperationId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                    <a asp-action="Details" asp-route-id="@item.exportOperationId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                    @*<a asp-action="Delete" asp-route-id="@item.exportOperationId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>*@
                </div>

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking.bookingNumber)
            </td>
            <td>
                @item.bookingDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch.branchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.customerName)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.booking.placeofReceipt.locationName)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.pol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pod)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.booking.placeofDelivery.locationName)
        </td>*@
            <td>
                @item.etdDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vessel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.noOfContainer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.booking.salesPersonName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.containerCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.principal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.preparedby)
            </td>
            <td>
                @if (item.status == netcore.Models.Invent.Status.DRAFT)
                {
                    <div style="color: orange">
                        <b>@Html.DisplayFor(modelItem => item.status)</b>

                    </div>
                }
                else
                {
                    <div style="color: forestgreen">
                        <b>@Html.DisplayFor(modelItem => item.status)</b>

                    </div>
                }

            </td>
            @*<td>

            @foreach (var exportOperationLine in item.exportOperationLine)
            {

                <div style="font-size:10px; width: 100%" class="widget-content">
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Cont. -</strong> @Html.DisplayFor(modelItem => exportOperationLine.containerNumber.containerCode)
                        </div>
                        <div class="col-md-6">
                            <strong>Empty Yard -</strong> @Html.DisplayFor(modelItem => exportOperationLine.emptyPickupYard)
                        </div>
                    </div>


                    <div class="row">
                        @if (exportOperationLine.tareWeight != null)
                        {
                            <div class="col-md-6">
                                <strong>Tare. -</strong> @Html.DisplayFor(modelItem => exportOperationLine.tareWeight)
                            </div>
                        }
                        @if (exportOperationLine.payloadWeight != null)
                        {
                            <div class="col-md-6">
                                <strong>Payload -</strong> @Html.DisplayFor(modelItem => exportOperationLine.payloadWeight)
                            </div>
                        }
                    </div>

                    <div class="row">
                        @if (exportOperationLine.actualGrossWeight != null)
                        {
                            <div class="col-md-6">
                                <strong>Gross -</strong> @Html.DisplayFor(modelItem => exportOperationLine.actualGrossWeight)
                            </div>
                        }
                        @if (exportOperationLine.ssr != null)
                        {
                            <div class="col-md-6">
                                <strong>SSR. -</strong> @Html.DisplayFor(modelItem => exportOperationLine.ssr)
                            </div>
                        }
                    </div>
                    <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                </div>

            }

        </td>*@

        </tr>
        }
    </tbody>
</table>
