﻿@model IEnumerable<netcore.Models.Invent.ExportOperationLine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreLineIndex.cshtml";
}


<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.exportOperation.booking)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emptyPickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.containerNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emptyPickupYard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tareWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.payloadWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.actualGrossWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.form1113Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.terminalGateInDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gateInTerminal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.onBoardDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vesselTerminal)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.exportOperation.booking.bookingNumber)
            </td>
            <td>
                @item.emptyPickupDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.containerNumber.containerCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emptyPickupYard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tareWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.payloadWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.actualGrossWeight)
            </td>
            <td>
                @item.form1113Date.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @item.terminalGateInDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gateInTerminal)
            </td>
            <td>
                @item.onBoardDate.Date.ToString("dd-MMM-yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vesselTerminal)
            </td>
 
        </tr>
        }
    </tbody>
</table>
