﻿<!--@model netcore.Models.Invent.ExportOperation
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print Ocean Price</title>
</head>
<body onload="window.print();">
    <div class="wrapper">
        <!-- Main content -->
        <!--<section class="invoice">-->
            <!-- title row -->
            <!--<div class="row">
                <div class="col-xs-12">
                    <h2 class="page-header">-->
                        @*<a class="logo-mini">Athlon</a>*@
                        <a><b>SIFI TECH</b></a>
                        <small class="pull-right">@Model.oceanPriceNumber</small>
                    </h2>
                </div>-->
                <!-- /.col -->
            <!--</div>-->
            <!-- info row -->
            <!--<div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                    <address>

                        <strong>Branch - </strong>  @Model.branch.branchName<br>
                        <strong>Vendor - </strong>  @Model.vendor.vendorName<br>
                        <strong>Port of Loading - </strong>@Model.fromLocation.locationName <br>
                        <strong>Pre Carriage - </strong>  @Model.precarriage<br>
                        <strong>POL Country - </strong>  @Model.polCountry<br>
                        <strong>From Date - </strong> @Model.fromDate.ToString("dd-MMM-yyyy")<br>
                    </address>


                </div>-->
                <!-- /.col -->
                <!--<div class="col-sm-4 invoice-col">
                    <address>

                        <strong>Ref No - </strong>  @Model.oceanPriceNumber<br>
                        <strong>Country - </strong>  @Model.countries<br>
                        <strong>Port of Dest - </strong> @Model.toLocation.locationName <br>
                        <strong>On Carriage - </strong>  @Model.onCarriage<br>
                        <strong>POD Country - </strong>  @Model.podCountry<br>
                        <strong>To Date - </strong> @Model.toDate.ToString("dd-MMM-yyyy")<br>
                    </address>


                </div>-->
                <!-- /.col -->
                <!--<div class="col-sm-4 invoice-col">
                    <address>

                        <strong>Date - </strong> @Model.oceanPriceDate.ToString("dd-MMM-yyyy")<br>
                        <strong>City - </strong>  @Model.city<br>
                        <strong>Mode - </strong>  @Model.mode<br>
                        <strong>VIA - </strong>  @Model.via<br>
                        <strong>Freight Term - </strong>  @Model.freightTerm<br>
                    </address>


                </div>-->
                <!-- /.col -->
            <!--</div>-->
            <!-- /.row -->


            <!--<div class="row">
                <div class="col-xs-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Charge Head</th>
                                <th>Currency</th>
                                <th>Part</th>
                                <th>Container (Laden)</th>
                                <th>Laden Price</th>
                                <th>Container (Empty)</th>
                                <th>Empty Price</th>
                            </tr>
                        </thead>
                        @{ int rowNo = 0; }

                        <tbody>
                            @foreach (var item in Model.oceanPriceLine.OrderBy(x => x.oceanPrice.oceanPriceNumber))
                            {
                                <tr>
                                    <td>@(rowNo += 1)</td>

                                    <td>@item.chargeHead.chargeHeadName</td>
                                    <td>@item.currency.currencyCode</td>
                                    <td>@item.part</td>
                                    <td>@item.containerLaden.containerName</td>
                                    <td>@item.ladenPrice</td>
                                    <td>@item.containerEmpty.containerName</td>
                                    <td>@item.emptyPrice</td>

                                </tr>
                            }

                        </tbody>
                    </table>
                </div>-->
                <!-- /.col -->
            <!--</div>
            <div class="col-sm-3 invoice-col">
                <p class="lead">__________________</p>
                <p class="lead">Signature / Stamp</p>
            </div>-->
            <!-- /.row -->
            <!-- this row will not appear when printing -->
            <!--<div class="row no-print">
                <div class="col-xs-12">

                    <a href="@Url.Action("PrintOceanPrice", new { id = Model.oceanPriceId })" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print</a>

                </div>
            </div>


        </section>-->
        <!-- /.content -->
    <!--</div>
    <section class="invoice">
        <br />
        <div class="col-xs-12" style="font-size: x-small">
            <p>Developed By Over & All Tech © 2020</p>
        </div>
    </section>-->

    <!-- ./wrapper -->
    <!--@Html.Partial("_AdminlteNetcoreBasicStyles")
    @Html.Partial("_AdminlteNetcoreBasicScripts")
</body>
</html>-->
