﻿@using netcore.Models.Invent
@inject netcore.Data.ApplicationDbContext Context
@inject netcore.Services.INetcoreService NetCoreServices
@{
    ViewData["Title"] = "Home Index";
    Layout = "_AdminlteNetcore";
    var branchId = NetCoreServices.GetUserBranchId(User.Identity.Name);

    int salesInquiryCount;
    int bookingSlotCount;
    int bookingsCount;
    int exportCount;
    int importCount;
    int invoicesCount;
    int purchasesCount;

    if (branchId != null)
    {
        salesInquiryCount = Context.SalesInquiry.Where(x => x.branchId == branchId).Count();
        bookingSlotCount = Context.BookingSlot.Where(x => x.branchId == branchId).Count();
        bookingsCount = Context.Booking.Where(x => x.branchId == branchId).Count();
        exportCount = Context.ExportOperation.Where(x => x.branchId == branchId).Count();
        importCount = Context.ImportOperation.Where(x => x.branchId == branchId).Count();
        invoicesCount = Context.Invoices.Where(x => x.branchId == branchId).Count();
        purchasesCount = Context.PurchaseInvoice.Where(x => x.branchId == branchId).Count();
    }
    else
    {
        salesInquiryCount = Context.SalesInquiry.Count();
        bookingSlotCount = Context.BookingSlot.Count();
        bookingsCount = Context.Booking.Count();
        exportCount = Context.ExportOperation.Count();
        importCount = Context.ImportOperation.Count();
        invoicesCount = Context.Invoices.Count();
        purchasesCount = Context.PurchaseInvoice.Count();
    }

    var containerEmpty = Context.ContainerDetails.Where(x => x.containerStatus == ContainerStatus.empty).Count();
    var containerLoaded = Context.ContainerDetails.Where(x => x.containerStatus == ContainerStatus.loaded).Count();
    var containerOnWater = Context.ContainerDetails.Where(x => x.containerStatus == ContainerStatus.onwater).Count();


    //int DraftP = Context.PurchaseOrder.Where(x => x.purchaseOrderStatus.ToString() == "Draft").Count();
    //int OpenP = Context.PurchaseOrder.Where(x => x.purchaseOrderStatus.ToString() == "Open").Count();
    //int DraftS = Context.SalesOrder.Where(x => x.salesOrderStatus.ToString() == "Draft").Count();
    //int OpenS = Context.SalesOrder.Where(x => x.salesOrderStatus.ToString() == "Open").Count();

    //List<VMStock> stocks = new List<VMStock>();
    //List<Product> products = new List<Product>();
    //products = Context.Product.ToList();
    //foreach (var item in products)
    //{
    //    VMStock stock = new VMStock();
    //    stock.Product = item.productCode;
    //    stock.ProductName = item.productName;
    //    stock.MinimumStock = item.minimumStock;
    //    stock.ProductCategoryName = item.productCategory.GetDisplayName();
    //    stock.QtyPO = Context.PurchaseOrderLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.qty);
    //    stock.QtyReceiving = Context.ReceivingLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.qtyReceive);
    //    stock.QtySO = Context.SalesOrderLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.qty);
    //    stock.QtyShipment = Context.ShipmentLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.qtyShipment);
    //    stock.QtyOnhand = stock.QtyReceiving - stock.QtyShipment;

    //    stock.WeightPO = Context.PurchaseOrderLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.totalWeight);
    //    stock.WeightReceiving = Context.ReceivingLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.weightReceive);
    //    stock.WeightSO = Context.SalesOrderLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.totalWeight);
    //    stock.WeightShipment = Context.ShipmentLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.weightShipment);
    //    stock.WeightOnhand = stock.WeightReceiving - stock.WeightShipment;


    //    stock.AvgAmount = Context.ReceivingLine.Where(x => x.productId.Equals(item.productId)).DefaultIfEmpty().Average(x => x.price);


    //    //stock.AmountReceived = Context.ReceivingLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.totalAmount);
    //    //stock.AmountShipped = Context.ShipmentLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.totalAmount);
    //    stock.AmountOnHand = stock.AvgAmount * (decimal)stock.QtyOnhand;




    //    stocks.Add(stock);
    //}
}




<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">


    <section class="content">

        <div class="row">

            <div class="col-lg-2 col-xs-6">

                <div class="small-box bg-green-active">
                    <div class="inner">
                        <h3>@salesInquiryCount</h3>
                        <p>Sale Inquiries</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-question-circle"></i>
                    </div>
                    <a href="@Url.Action("Index", "SalesInquiry")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="small-box bg-green-active">
                    
                    <a href="@Url.Action("Create", "SalesInquiry")" class="small-box-footer">
                        New Sales Inquiry <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-2 col-xs-6">

                <div class="small-box bg-orange">
                    <div class="inner">
                        <h3>@bookingSlotCount</h3>
                        <p>Booking Slots Reserved</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-circle-o-notch"></i>
                    </div>
                    <a href="@Url.Action("Index", "BookingSlot")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="small-box bg-orange">

                    <a href="@Url.Action("Create", "BookingSlot")" class="small-box-footer">
                        New Booking Slot <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-xs-6">

                <div class="small-box bg-red-active">
                    <div class="inner">
                        <h3>@bookingsCount<sup style="font-size: 20px"></sup></h3>
                        <p>Bookings</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                    <a href="@Url.Action("Index", "Booking")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="small-box bg-red-active">

                    <a href="@Url.Action("Create", "Booking")" class="small-box-footer">
                        New Booking <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-xs-6">

                <div class="small-box bg-aqua-active">
                    <div class="inner">
                        <h3>@exportCount</h3>
                        <p>Total Exports</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-arrow-up"></i>
                    </div>
                    <a href="@Url.Action("Index", "ExportOperation")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="small-box bg-aqua-active">

                    <a href="@Url.Action("Create", "ExportOperation")" class="small-box-footer">
                        New Export <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>


            <div class="col-lg-2 col-xs-6">

                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@importCount</h3>
                        <p>Total Imports</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-arrow-down"></i>
                    </div>
                    <a href="@Url.Action("Index", "ImportOperation")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="small-box bg-yellow">

                    <a href="@Url.Action("Create", "ImportOperation")" class="small-box-footer">
                        New Import <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-2 col-xs-6">

                <div class="small-box" style="background-color: purple; color: white">
                    <div class="inner">
                        <h3>@purchasesCount</h3>
                        <p>Total Purchases</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-dollar"></i>
                    </div>
                    <a href="@Url.Action("Index", "PurchaseInvoices")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="small-box" style="background-color: purple; color: white">

                    <a href="@Url.Action("Create", "PurchaseInvoice")" class="small-box-footer">
                        New Purchase <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>

            


            @*<div class="col-lg-3 col-xs-6">
                     small box
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>@OpenP</h3>
                            <p>Open Purchase</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-shopping-basket"></i>
                        </div>
                        <a href="@Url.Action("Index", "PurchaseOrder")" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>


                <div class="col-lg-3 col-xs-6">
                     small box
                    <div class="small-box bg-yellow">
                        <div class="inner">
                            <h3>@DraftS</h3>
                            <p>Draft Shipment</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-hourglass-half"></i>
                        </div>
                        <a href="@Url.Action("Index", "SalesOrder")" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-xs-6">
                     small box
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>@OpenS</h3>
                            <p>Open Shipment</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-shopping-basket"></i>
                        </div>
                        <a href="@Url.Action("Index", "SalesOrder")" class="small-box-footer">
                            More info <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>*@


        </div>

        <div class="row">
            <div class="col-lg-2 col-xs-6">

                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>@invoicesCount</h3>
                        <p>Total Invoices</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-files-o"></i>
                    </div>
                    <a href="@Url.Action("Index", "Invoices")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
                <div class="small-box bg-blue">

                    <a href="@Url.Action("Create", "Invoices")" class="small-box-footer">
                        New Invoice <i class="fa fa-plus"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Operations</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="sales-chart" style="height: 300px; position: relative;"></div>
                    </div>

                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Imports & Exports (Last 6 Months)</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <canvas id="barChart" style="height:294px"></canvas>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-lg-4 col-md-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Container Status</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body chart-responsive">
                        <div class="chart" id="container-chart" style="height: 300px; position: relative;"></div>
                    </div>

                </div>
            </div>
        </div>



    </section>

</div>



@section Styles{

}


@section Scripts{
    <!-- ChartJS -->
    <script src="~/adminlte/components/chart.js/Chart.js"></script>
    <script>
        $(document).ready(function () {
            /*var mainTable;*/

            //mainTable = $('.table').DataTable({
            //    "lengthChange": true,
            //    "info": true,
            //    "searching": true,
            //    "dom": 'lrtip',
            //    "scrollX": false,
            //    "buttons": [
            //                    {
            //                        extend: 'csv',
            //                        filename: 'stock-csv'
            //                    },
            //                    {
            //                        extend: 'pdf',
            //                        filename: 'stock-pdf'
            //                    },
            //                    {
            //                        extend: 'excel',
            //                        filename: 'stock-excel'
            //                    }
            //    ],

            //    "footerCallback": function (row, data, start, end, display) {
            //        var api = this.api(), data;

            //        // Remove the formatting to get integer data for summation
            //        var intVal = function (i) {
            //            return typeof i === 'string' ?
            //                i.replace(/[\$,]/g, '') * 1 :
            //                typeof i === 'number' ?
            //                    i : 0;
            //        };
            //        //// Total Received
            //        //total = api
            //        //    .column(3)
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Total Received over this page
            //        //pageTotal = api
            //        //    .column(3, { page: 'current' })
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Update footer Total Received
            //        //$(api.column(3).footer()).html(
            //        //    pageTotal
            //        //);



            //        //// Total Received
            //        //total = api
            //        //    .column(4)
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Total Received over this page
            //        //pageTotal = api
            //        //    .column(4, { page: 'current' })
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Update footer Total Received
            //        //$(api.column(4).footer()).html(
            //        //    pageTotal
            //        //);




            //        //// Total Sales
            //        //total = api
            //        //    .column(5)
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Total Sales over this page
            //        //pageTotal = api
            //        //    .column(5, { page: 'current' })
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Update footer Total Sales
            //        //$(api.column(5).footer()).html(
            //        //    pageTotal
            //        //);



            //        //// Total Qty
            //        //total = api
            //        //    .column(6)
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Total Qty over this page
            //        //pageTotal = api
            //        //    .column(6, { page: 'current' })
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Update footer Total Qty
            //        //$(api.column(6).footer()).html(
            //        //    pageTotal
            //        //);



            //        //// Total Weight Kg
            //        //total = api
            //        //    .column(8)
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Total Weight Kg over this page
            //        //pageTotal = api
            //        //    .column(8, { page: 'current' })
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Update footer Total Weight Kg
            //        //$(api.column(8).footer()).html(
            //        //    pageTotal + ' (Gross: '+total+')'
            //        //);



            //        //// Total Amount RS
            //        //total = api
            //        //    .column(9)
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Total Amount RS over this page
            //        //pageTotal = api
            //        //    .column(9, { page: 'current' })
            //        //    .data()
            //        //    .reduce(function (a, b) {
            //        //        return intVal(a) + intVal(b);
            //        //    }, 0);

            //        //// Update footer Total Amount RS
            //        //$(api.column(9).footer()).html(
            //        //    pageTotal + ' (Gross: '+total+')'
            //        //);


            //    }
            //});

            //$('#mainSearch').keyup(function () {
            //    mainTable.search($(this).val()).draw();
            //});


            //DONUT CHART
            var donut = new Morris.Donut({
                element: 'sales-chart',
                resize: true,
                colors: ["#008d4c", "#d33724", "#f39c12", "#00a7d0" ],
                data: [
                    { label: "Sale Inquiries", value: @salesInquiryCount },
                    { label: "Bookings", value: @bookingsCount },
                    { label: "Imports", value: @importCount },
                    { label: "Exports", value: @exportCount }
                ],
                hideHover: 'auto'
            });

            //DONUT CHART
            var donut = new Morris.Donut({
                element: 'container-chart',
                resize: true,
                colors: ["#008d4c", "#d33724", "#f39c12", "#00a7d0" ],
                data: [
                    { label: "Empty", value: @containerEmpty },
                    { label: "On Water", value: @containerOnWater },
                    { label: "Loaded", value: @containerLoaded }
                ],
                hideHover: 'auto'
            });


            ////-------------
            ////- PIE CHART -
            ////-------------
            //// Get context with jQuery - using jQuery's .get() method.
            //var pieChartCanvas = $('#pieChart').get(0).getContext('2d');
            //var pieChart       = new Chart(pieChartCanvas);
            //var pieOptions     = {
            //    //Boolean - Whether we should show a stroke on each segment
            //    segmentShowStroke    : true,
            //    //String - The colour of each segment stroke
            //    segmentStrokeColor   : '#fff',
            //    //Number - The width of each segment stroke
            //    segmentStrokeWidth   : 2,
            //    //Number - The percentage of the chart that we cut out of the middle
            //    percentageInnerCutout: 50, // This is 0 for Pie charts
            //    //Number - Amount of animation steps
            //    animationSteps       : 100,
            //    //String - Animation easing effect
            //    animationEasing      : 'easeOutBounce',
            //    //Boolean - Whether we animate the rotation of the Doughnut
            //    animateRotate        : true,
            //    //Boolean - Whether we animate scaling the Doughnut from the centre
            //    animateScale         : false,
            //    //Boolean - whether to make the chart responsive to window resizing
            //    responsive           : true,
            //    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
            //    maintainAspectRatio  : true,
            //    //String - A legend template
            //    legendTemplate       : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<segments.length; i++){%><li><span style="background-color:<%=segments[i].fillColor%>"></span><%if(segments[i].label){%><%=segments[i].label%><%}%></li><%}%></ul>'
            //};


            //$.ajax({
            //url: '/api/dashboard/getpiedata',
            //type: 'GET',
            //dataType: 'json',
            //success: function (data) {

            //    //Create pie or douhnut chart
            //    pieChart.Doughnut(data, pieOptions)

            //},
            //    error: function (error) {
            //        console.log(error);
            //    }

            //});


        //-------------
        //- BAR CHART -
        //-------------

        var barChartCanvas                   = $('#barChart').get(0).getContext('2d')
        var barChart                         = new Chart(barChartCanvas)

        var barChartOptions                  = {
            //Boolean - Whether the scale should start at zero, or an order of magnitude down from the lowest value
            scaleBeginAtZero        : true,
            //Boolean - Whether grid lines are shown across the chart
            scaleShowGridLines      : true,
            //String - Colour of the grid lines
            scaleGridLineColor      : 'rgba(0,0,0,.05)',
            //Number - Width of the grid lines
            scaleGridLineWidth      : 1,
            //Boolean - Whether to show horizontal lines (except X axis)
            scaleShowHorizontalLines: true,
            //Boolean - Whether to show vertical lines (except Y axis)
            scaleShowVerticalLines  : true,
            //Boolean - If there is a stroke on each bar
            barShowStroke           : true,
            //Number - Pixel width of the bar stroke
            barStrokeWidth          : 2,
            //Number - Spacing between each of the X value sets
            barValueSpacing         : 5,
            //Number - Spacing between data sets within X values
            barDatasetSpacing       : 1,
            //String - A legend template
            legendTemplate          : '<ul class="<%=name.toLowerCase()%>-legend"><% for (var i=0; i<datasets.length; i++){%><li><span style="background-color:<%=datasets[i].fillColor%>"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>',
            //Boolean - whether to make the chart responsive
            responsive              : true,
            maintainAspectRatio     : true
        }

        barChartOptions.datasetFill = false;


         $.ajax({
            url: '/api/dashboard/getbardata',
            type: 'GET',
            dataType: 'json',
            success: function (data) {

                //Create bar chart
                var barChartData = data;
                barChartData.datasets[1].fillColor = '#00a65a'
                barChartData.datasets[1].strokeColor = '#00a65a'
                barChartData.datasets[1].pointColor = '#00a65a'

                barChartData.datasets[0].fillColor = '#dd4b39'
                barChartData.datasets[0].strokeColor = '#dd4b39'
                barChartData.datasets[0].pointColor = '#dd4b39'

                barChart.Bar(barChartData, barChartOptions);


            },
                error: function (error) {
                    console.log(error);
                }

            });

        });




    </script>
}


