﻿@model netcore.Models.Invent.PortStoragePriceLine

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
}

<div>
    
    <dl class="dl-horizontal">
      
    </dl>
    
</div>
