﻿@model netcore.Models.Invent.PortStoragePriceLine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="portStoragePriceLineId" />
        <div class="form-group hidden">
            <label asp-for="portPriceId" class="control-label"></label>
            <select asp-for="portPriceId" class="form-control select2" asp-items="ViewBag.portPriceId"></select>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="chargeHeadId" class="control-label"></label>
                    <select asp-for="chargeHeadId" id="chargeHeadModelId" class="form-control select2" asp-items="ViewBag.chargeHeadId"></select>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="twentyPrice" class="control-label"></label>
                    <input asp-for="twentyPrice" class="form-control" />
                    <span asp-validation-for="twentyPrice" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="fortyPrice" class="control-label"></label>
                    <input asp-for="fortyPrice" class="form-control" />
                    <span asp-validation-for="fortyPrice" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="fromDay" class="control-label"></label>
                    <input asp-for="fromDay" class="form-control" />
                    <span asp-validation-for="fromDay" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="toDay" class="control-label"></label>
                    <input asp-for="toDay" class="form-control" />
                    <span asp-validation-for="toDay" class="text-danger"></span>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



