﻿@model netcore.Models.Invent.PortPriceLine

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminlteNetcoreEdit.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="portPriceLineId" />
        <div class="form-group hidden">
            <label asp-for="portPriceId" class="control-label"></label>
            <select asp-for="portPriceId" class="form-control select2" asp-items="ViewBag.portPriceId"></select>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="currencyId" class="control-label"></label>
                    <select asp-for="currencyId" id="currencyIdModelId" class="form-control select2" asp-items="ViewBag.currencyId"></select>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="part" class="control-label"></label>
                    <select asp-for="part" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Part>()"></select>
                    <span asp-validation-for="part" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="chargeHeadId" class="control-label"></label>
                    <select asp-for="chargeHeadId" id="chargeHeadModelId" class="form-control select2" asp-items="ViewBag.chargeHeadId"></select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="containerCategory" class="control-label"></label>
                    <select asp-for="containerCategory" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.ContainerCategory>()"></select>
                    <span asp-validation-for="containerCategory" class="text-danger"></span>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="laden" class="control-label"></label>
                    <select asp-for="laden" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Laden>()"></select>
                    <span asp-validation-for="laden" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ladenContainerId" class="control-label"></label>
                    <select asp-for="ladenContainerId" class="form-control select2" asp-items="ViewBag.ladenContainerId"></select>
                    <span asp-validation-for="ladenContainerId" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="ladenPrice" class="control-label"></label>
                    <input asp-for="ladenPrice" class="form-control" />
                    <span asp-validation-for="ladenPrice" class="text-danger"></span>
                </div>
            </div>


        </div>


        <div class="row">


            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="empty" class="control-label"></label>
                    <select asp-for="empty" class="form-control select2" asp-items="Html.GetEnumSelectList<netcore.Models.Invent.Empty>()"></select>
                    <span asp-validation-for="empty" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="emptyContainerId" class="control-label"></label>
                    <select asp-for="emptyContainerId" class="form-control select2" asp-items="ViewBag.emptyContainerId"></select>
                    <span asp-validation-for="emptyContainerId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label asp-for="emptyPrice" class="control-label"></label>
                    <input asp-for="emptyPrice" class="form-control" />
                    <span asp-validation-for="emptyPrice" class="text-danger"></span>
                </div>
            </div>

        </div>


    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



