﻿@model netcore.Models.Invent.SalesInquiry

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_AdminlteNetcoreDelete.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
    ViewData["DeleteInfo"] = "[Completed] Purchase Order (PO) can not be deleted. Rollback status to [Open] by deleting related Purchase Receive (Receiving)";
    ViewData["IsCanDeleted"] = true;
    //if (Model.purchaseOrderStatus != netcore.Models.Invent.PurchaseOrderStatus.Completed)
    //{
    //    ViewData["IsCanDeleted"] = true;
    //}
}


@Html.Partial("_StatusMessage", (string)ViewBag.StatusMessage)
<div>

    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.salesInquiryNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.salesInquiryNumber)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.branch.branchName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.branch.branchName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.customer.customerName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.customer.customerName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.fromDate)
            </dt>
            <dd>
                @Convert.ToDateTime(Model.fromDate).ToString("dd/MM/yyyy")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.toDate)
            </dt>
            <dd>
                @Convert.ToDateTime(Model.toDate).ToString("dd/MM/yyyy")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.fromLocation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.fromLocation.locationName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.toLocation)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.toLocation.locationName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.podCountry)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.polCountry)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.podCountry)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.podCountry)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.precarriage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.precarriage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.onCarriage)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.onCarriage)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.via)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.via)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.mode)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.mode)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.polTerm)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.polTerm)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.podTerm)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.podTerm)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.freightTerm)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.freightTerm)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.remark)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.remark)
            </dd>
        </dl>
    </div>

</div>
