﻿@model netcore.Models.Invent.SalesInquiry

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminlteNetcoreDetails.cshtml";
    ViewData["EntityIcon"] = "fa fa-file-text";
}



<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-body">
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.salesInquiryNumber)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.salesInquiryNumber)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.branch)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.branch.branchName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.customer)
                        </dt>
                        <dd>
                            @{
                                var customerNameLoc = String.Concat(Model.customer.customerName + " (" + Model.customer.country.GetDisplayName() + ", " + Model.customer.city + ")");

                                @Html.DisplayFor(model => customerNameLoc)
                            }
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.fromDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.fromDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.toDate)
                        </dt>
                        <dd>
                            @Convert.ToDateTime(Model.toDate).ToString("dd/MM/yyyy")
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.fromLocation)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.fromLocation.locationName)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.toLocation)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.toLocation.locationName)
                        </dd>
                    
                        <dt>
                            @Html.DisplayNameFor(model => model.podCountry)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.polCountry)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.podCountry)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.podCountry)
                        </dd>
                    </dl>
                </div>
                <div class="col-md-6">
                    <dl class="dl-horizontal">
                        
                        <dt>
                            @Html.DisplayNameFor(model => model.precarriage)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.precarriage)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.onCarriage)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.onCarriage)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.via)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.via)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.mode)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.mode)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.polTerm)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.polTerm)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.podTerm)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.podTerm)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.freightTerm)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.freightTerm)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.remark)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.remark)
                        </dd>
                    </dl>
                </div>
  
            </div>
       
            <div class="box-footer">
                <div class="form-group">
                    <a asp-action="Edit" asp-route-id="@Model.salesInquiryId" class="btn btn-primary">Edit</a>
                    <a asp-action="ShowSalesInquiry" asp-route-id="@Model.salesInquiryId" class="btn btn-primary pull-right"><i class="fa fa-print"></i> Print Sale Inquiry</a>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>
            </div>
   
        </div>
  
    </div>
    @*<div class="col-md-3">
        </div>*@
</div>


<div class="row">
    <div class="col-md-12">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12">
                        <table id="grid" name="grid" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="col-md-2">Charge Head</th>
                                    <th class="col-md-1">Currency</th>
                                    <th class="col-md-2">Part</th>
                                    <th class="col-lg-2">Container (Laden)</th>
                                    <th class="col-md-2">Laden Price</th>
                                    <th class="col-lg-2">Count</th>
                                    <th class="col-lg-2">Total</th>
                                    <th class="col-lg-1"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">

                            <a id="OPL" class="btn btn-success" style="margin-bottom:10px" onclick="ShowPopup('@Url.Action("Create","SalesInquiryLine", new { masterid = Model.salesInquiryId })')"><i class="fa fa-plus"></i> Add New Sales Inquiry (SHIFT + A)</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
        <!-- /.box -->
    </div>
    @*<div class="col-md-3">

        </div>*@
</div>



<!--modal placeholder-->
<div class="modal modal-primary fade" id="modalDefault">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var popup, dataTable;
        var entity = 'SalesInquiryLine';
        var apiurl = '/api/' + entity;

        $(document).ready(function () {
            dataTable = $('#grid').DataTable({
                "ajax": {
                    "url": apiurl + '?masterid=@Model.salesInquiryId',
                    "type": 'GET',
                    "datatype": 'json'
                },
                "columns": [
                    { "data": "chargeHead.chargeHeadName" },
                    { "data": "currency.currencyCode" },
                    { "data": "part" },
                    { "data": "containerLaden.containerName" },
                    { "data": "ladenPrice" },
                    { "data": "count" },
                    { "data": "totalPrice" },
                    {
                        "data": "salesInquiryLineId",
                        "render": function (data) {
                            var btnEdit = "<a class='btn btn-primary btn-xs' onclick=ShowPopup('/" + entity + "/Create/" + data + "')><i class='fa fa-pencil'></i></a>";
                            var btnDelete = "<a class='btn btn-danger btn-xs' style='margin-left:2px' onclick=Delete('" + data + "')><i class='fa fa-trash'></i></a>";
                            return "<div class='tools pull-right'>" + btnEdit + btnDelete + "</div>";
                        }
                    }
                ],
                "language": {
                    "emptyTable": "no data found."
                },
                "lengthChange": false,
                "info": false,
                "searching": false,
                "paging": false,
            });
        });

        function ShowPopup(url) {
            var modalId = 'modalDefault';
            var modalPlaceholder = $('#' + modalId + ' .modal-dialog .modal-content');
            $.get(url)
                .done(function (response) {
                    modalPlaceholder.html(response);
                    popup = $('#' + modalId + '').modal({
                        keyboard: false,
                        backdrop: 'static'
                    });
                });
        }


        function SubmitAddEdit(form) {
            $.validator.unobtrusive.parse(form);
            if ($(form).valid()) {
                var data = $(form).serializeJSON();
                data = JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: apiurl,
                    data: data,
                    contentType: 'application/json',
                    success: function (data) {
                        if (data.success) {
                            popup.modal('hide');
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            popup.modal('hide');
                            ShowMessageError(data.message);
                            dataTable.ajax.reload();
                        }
                    }
                });

            }
            return false;
        }

        function Delete(id) {
            swal({
                title: "Are you sure want to Delete?",
                text: "You will not be able to restore the data!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#dd4b39",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: true
            }, function () {
                $.ajax({
                    type: 'DELETE',
                    url: apiurl + '/' + id,
                    success: function (data) {
                        if (data.success) {
                            ShowMessage(data.message);
                            dataTable.ajax.reload();
                        } else {
                            ShowMessageError(data.message);
                        }
                    }
                });
            });


        }



        shortcut.add("shift+a", function() {
            $("#OPL").click();
        });

    </script>
}

