﻿@model IEnumerable<netcore.Models.Invent.SalesInquiry>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
    ViewData["EntityIcon"] = "fa fa-question-circle";
    ViewData["ListTitle"] = "Sales Inquiry";
    //ViewData["IndexInfo"] = "Purchase Order (PO) is a commercial document issued by your company as a buyer to your vendor as a products seller." +
    //            " There are three status of PO: 1. Draft (Unconfirmed PO, not ready to receive), 2. Open (Confirmed PO, ready to receive) and 3. Completed (Closed PO, already receive the products).";

    //var data = Context.SalesInquiry.Where(r => r.dat.Day.Equals(DateTime.Now.Year) || r.status.Equals(netcore.Models.Invent.InvoiceStatus.DRAFT));

}


<table class="table table-hover table-striped " style="width:100%"  height: 100%">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.salesInquiryNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salesInquiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.fromLocation)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.toLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placeofReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placeofDelivery)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preparedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            @*<th>
                Sales Lines &nbsp;

                <button class="btn-show no-print"><i class="icon-chevron-up icon-white no-print" alt="minimize"></i>Show/Hide</button>

            </th>*@
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Where(x => x.salesInquiryDate.Year.Equals(DateTime.Now.Year) || x.salesInquiryDate.Year.Equals(DateTime.Now.AddYears(-1).Year) ))
        {
            var customerNameLoc = String.Concat(item.customer.customerName + " (" + item.customer.country.GetDisplayName() + ", " + item.customer.city + ")");

            <tr>
                <td>
                    <div class="tools">
                        <a asp-action="Edit" asp-route-id="@item.salesInquiryId" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
                        <a asp-action="Details" asp-route-id="@item.salesInquiryId" class="btn btn-primary btn-xs"><i class="fa fa-list"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.salesInquiryId" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></a>
                    </div>

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salesInquiryNumber)
                </td>
                <td>
                    @item.salesInquiryDate.Date.ToString("dd-MMM-yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.branch.branchName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => customerNameLoc)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.fromLocation.locationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.toLocation.locationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.placeofReceipt.locationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.placeofDelivery.locationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preparedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mode)
                </td>
                <td>
                    @if (item.status == netcore.Models.Invent.Status.DRAFT)
                    {
                        <div style="color: orange">
                            <b>@Html.DisplayFor(modelItem => item.status)</b>

                        </div>
                    }
                    else
                    {
                        <div style="color: forestgreen">
                            <b>@Html.DisplayFor(modelItem => item.status)</b>

                        </div>
                    }

                </td>

                @*<td>

                    @foreach (var salesInquiryLine in item.salesInquiryLine)
                    {


                        <div style="font-size:10px; width: 100%" class="widget-content">
                            <div class="row">
                                <div class="col-md-12">
                                    <strong>Charge Head. -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.chargeHead.chargeHeadName)
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Currency -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.currency.currencyCode)
                                </div>
                                <div class="col-md-6">
                                    <strong>Part -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.part)
                                </div>
                            </div>


                            <div class="row">
                                @if (salesInquiryLine.containerLaden.containerName != null)
                                {
                                    <div class="col-md-6">
                                        <strong>Laden. -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.containerLaden.containerName)
                                    </div>
                                }
                                @if (salesInquiryLine.ladenPrice > 0)
                                {
                                    <div class="col-md-6">
                                        <strong>Price -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.ladenPrice)
                                    </div>
                                }

                            </div>

                            <div class="row">
                                @if (salesInquiryLine.count >0)
                                {
                                    <div class="col-md-6">
                                        <strong>Count -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.count)
                                    </div>
                                }
                                @if (salesInquiryLine.totalPrice > 0)
                                {
                                    <div class="col-md-6">
                                        <strong>Total. -</strong> @Html.DisplayFor(modelItem => salesInquiryLine.totalPrice)
                                    </div>
                                }
                            </div>
                            <hr style="border-color: #597511; margin-top: 2px; margin-bottom : 2px " />
                        </div>

                    }

                </td>*@



            </tr>
        }
    </tbody>
</table>
